{% comment %}
Este snippet genera solo los items LI (el contenido del video), sin clases Swiper.
{% endcomment %}

<div class="testimonial-video">
    <div class="play-video-overlay">
        <div class="action-video" is-play="false">
            <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.83325 8.33334C8.83308 7.74683 8.98766 7.17066 9.28139 6.66299C9.57512 6.15533 9.9976 5.73416 10.5062 5.442C11.0147 5.14985 11.5914 4.99705 12.1779 4.99904C12.7644 5.00103 13.34 5.15774 13.8466 5.45334L33.8416 17.1167C34.3462 17.4095 34.7651 17.8296 35.0565 18.335C35.3479 18.8405 35.5015 19.4135 35.502 19.9969C35.5025 20.5803 35.3499 21.1536 35.0594 21.6596C34.7689 22.1655 34.3507 22.5863 33.8466 22.88L13.8466 34.5467C13.34 34.8423 12.7644 34.999 12.1779 35.001C11.5914 35.003 11.0147 34.8502 10.5062 34.558C9.9976 34.2659 9.57512 33.8447 9.28139 33.337C8.98766 32.8294 8.83308 32.2532 8.83325 31.6667V8.33334Z"
                    fill="white" fill-opacity="0.56" />
            </svg>
        </div>
    </div>

    <video controlsList="nofullscreen" src="{{block.settings.testimonial_video.sources[1].url}}"></video>
</div>
</li>