<div class="gamification_threshold">
    <div class="gamification_threshold__items {% if global_total_price_devided >= global_bar_gift2_limit %} gamification_threshold__items--active {% endif %}">
        {% if global_bar_shipping_limit > 0 %}
        <div
            class="gamification_threshold__item {% if global_total_price_devided >= global_bar_shipping_limit %} gamification_threshold__item--completed {% endif %}">
            <span class="gamification_threshold__label">
                {{ global_bar_shipping_title }}
            </span>
            <div class="gamification_threshold__icon">
                {% if global_total_price_devided >= global_bar_shipping_limit %}
                    <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/completed_black_check.svg?v=1760978806" alt="shipping" />
                {% else %}
                <img src="{{ global_bar_shipping_image | image_url }}" alt="shipping" />
                {% endif %}
            </div>
        </div>
        {% endif %}
    
        {% if global_bar_gift2_limit > 0 %}
        <div class="gamification_threshold__item {% if global_total_price_devided >= global_bar_gift2_limit %} gamification_threshold__item--completed {% endif %}">
            <span class="gamification_threshold__label">
                {{ global_bar_gift2_title | remove: 'Silk' }}
            </span>
            <div class="gamification_threshold__icon">
                {% if global_total_price_devided >= global_bar_gift2_limit %}
                <img 
                width=""
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/completed_black_check.svg?v=1760978806" alt="gift" />
                {% else %}
                <img src="{{ global_bar_gift2_image | image_url }}" alt="gift" />
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>