{% include '__endrock-get-data' %}

{% assign header_text = settings.gamification_info_sidecart %}
{% assign header_completed = settings.gamification_info_sidecart_completed %}
{% assign has_gamification_content = false %}

{% if global_bar_gift1_limit > 0 %}
  {% assign has_gamification_content = true %}
{% endif %}

{% if has_gamification_content and gamification_enable %}
    <div class="gamification-container gamification-{{ location_id }}">
        <div class="gamification-content">
           <div class="gamification-message">
                {% if global_bar_percent == 100 %}
                    {{ header_completed }}
                {% else %}
                    {% assign formatted_message = header_text | replace: '{{ add_more }}', global_bar_add_more %}
                    {{ formatted_message }}
                {% endif %}
            </div>   
            {% include '__endrock_gamificationThreshold' %}
        </div>        
    </div>
{% endif %}