{% doc %}
Renders an article community snippet
{% enddoc %}

<figure class="inline-promo-card">
    <picture>
        <source media="(min-width:768px)" srcset="https://qureskincaredns.com/sections/isolated/blogs/images/skin_journey.webp" />
        <img src="https://qureskincaredns.com/sections/isolated/blogs/images/skin_journey_mob.webp" alt="" />
    </picture>
    <figcaption>
        {{ 'article.snippets.community.header_html' | t }}
        <a href="#" class="btn btn--primary-white">{{ 'article.snippets.community.button_label' | t }}</a>
    </figcaption>
</figure>