{% doc %}
Renders an article community snippet
{% enddoc %}

<div class="position-relative pt-30 pt-md-60 mw" style="--mw:558px;">
    <img src="https://qureskincaredns-main.com/sections/isolated/blogs/images/skin_journey.webp" alt="" class="img-fluid d-none d-md-block">
    <img src="https://qureskincaredns-main.com/sections/isolated/blogs/images/skin_journey_mob.webp" alt="" class="img-fluid d-md-none">
    <div class="discover_best_seller p-20 p-md-24">
        <p>{{ 'article.snippets.community.header_html' | t }}</p>
        <a href="#" class="btn bg-white text-black border-0">{{ 'article.snippets.community.button_label' | t }}</a>
    </div>
</div>
