{% doc %}
Renders an article subscription snippetspnippet 
{% enddoc %}

<div class="c-subscribe-form">
    <p>{{ 'article.snippets.subscription.header' | t }}</p>
    <form>
        <input type="email" placeholder="Your Email" />
        <button><i class="e-icon e-icon-arrow"></i></button>
    </form>
</div>