{%- if paginate.pages > 1 -%}
    <div>
        <button type="button" {% if paginate.previous %}onclick="window.location.href='{{ paginate.previous.url }}'"{% else %}disabled="disabled"{% endif %}><i class="e-icon e-icon-chevron"></i></button>
        <div><strong>{{ paginate.current_page }}</strong> / {{ paginate.pages }}</div>
        <button type="button" {% if paginate.next %}onclick="window.location.href='{{ paginate.next.url }}'"{% else %}disabled="disabled"{% endif %}><i class="e-icon e-icon-chevron"></i></button>
    </div>
{%- endif -%}