<script>
    document.querySelectorAll('a[href="#book_a_call"]').forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const btn = document.querySelector('.bookeasy-btn[data-product-id="htGfwdi1vmeEiPRv6XLQuo"]');
            if (btn) {
              btn.click();
            }
        });
    });
</script>

<div style="display: none;">
    <div class="bookeasy-appBlock-button" id="htGfwdi1vmeEiPRv6XLQuo" serviceId="htGfwdi1vmeEiPRv6XLQuo"></div>
</div>