{% doc %}
  Renders a collection product rating snippet for collection section.

  @param {object} product - A string value.

  @example
  {% render 'collection-product-rating', product: '' %}
{% enddoc %}

{% assign rating_value = product.metafields.reviews.rating.value %}
{% assign rating_count = product.metafields.reviews.rating_count.value %}

<div class="qure__product-reviews fs-14 d-flex gap-3 align-items-center">
    <img src="https://qureskincaredns-main.com/sections/isolated/top-products/images/stars.svg" alt="stars" /><span>{{ rating_count }} Reviews</span>
</div>