{% doc %}
  Renders a brand item collection cards snippet for collection section

  @param {object} block - A object value.

  @example
  {% render 'collection-card-brand-item', block: '' %}
{% enddoc %}

<div class="col-6 col-md-3 custom__block project">
    <div class="qure__product-item">
        <a href="{% if block.settings.button-url != blank %}{{ block.settings.button-url }}{% else %}javascript:;{% endif %}">
            {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
            {% endif %}
        </a>
    </div>
</div>