<div class="qure__cart-upsell">
    <div class="mb-16">{{ 'cart.drawer.upsell.header' | t }}</div>
    <div id="footer-cart-drawer-upsells" class="qure__upsell-products">
        <slide-carousel>
            <div class="swiper qure__swiper-carousel qure-cartUpsell" id="qure__swiper-upsell"
                data-section-id="upsell" data-autoplay="false" data-loop="false" data-mobile="1.2"
                data-tablet="1.2" data-desktop="1.2" data-arrow-centerimage="1" data-item-mobile="1" data-spacing="15"
                data-pagination-progressbar="carousel_pagination_progress">
                <div class="swiper-wrapper">
                    {% include 'footer-cart-drawer-upsells-item', product_handle: global_upsell_product1_handle %}
                    {% include 'footer-cart-drawer-upsells-item', product_handle: global_upsell_product2_handle %}
                    {% include 'footer-cart-drawer-upsells-item', product_handle: global_upsell_product3_handle %}
                    {% include 'footer-cart-drawer-upsells-item', product_handle: global_upsell_product4_handle %}
                    {% include 'footer-cart-drawer-upsells-item', product_handle: global_upsell_product5_handle %}
                </div>
            </div>
        </slide-carousel>
    </div>
</div>