{% if timer > 0 %}
    <cart-notification>
        <div class="cart-countdown-time" data-countdown-time="{{ timer }}" data-timeout-message="{{ 'cart.drawer.settings.notification_time_end' | t }}">
        <span class="">{{ 'cart.drawer.settings.notification_html' | t }}</span>
        <span class="cart-counter d-flex">
            <span class="cart-counter-block countdown-timer-minute">00</span>
            <span class="cart-counter-block countdown-timer-sec">00</span>
        </span>
        <span class="countdown-message"></span>
        </div>
    </cart-notification>
{% endif %}