<style>
    .footer-cart-drawer-gift {
        display: none;
    }
</style>

<form method="post" action="/cart/add" enctype="multipart/form-data" class="footer-cart-drawer-gift">
    <input type="hidden" name="quantity" id="quantity" value="1">
    <input type="hidden" name="id" value="45818400571631">
    <input type="hidden" name="properties[_required_validation]" value="validated">
</form>

<script>
   const cart_gift_price_limit = 40000;
</script>