<div class="qure__cart-upsell">
    <div class="mb-16">Get The Best Results With</div>
    <div class="qure__upsell-products">
        <slide-carousel>
            <div class="swiper qure__swiper-carousel qure-cartUpsell" id="qure__swiper-{{ block.id }}"
                data-section-id="{{ block.id }}" data-autoplay="false" data-loop="false" data-mobile="1.2"
                data-tablet="1.2" data-desktop="1.2" data-arrow-centerimage="1" data-item-mobile="1" data-spacing="15"
                data-pagination-progressbar="carousel_pagination_progress">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cart__upsell">
                            <div class="cart__upsell-img"><img
                                    src="https://qureskincaredns-main.com/sections/global/drawer/images/upsell-1.webp"
                                    alt="" class="img-fluid" /></div>
                            <div class="cart__upsell-content">
                                <div class="cart__upsell-title mb-0">Micro-Infusion Targeted Patches</div>
                                <div class="cart__upsell-price">$79</div>
                            </div>
                            <div class="cart__upsell-btn d-flex align-items-center">
                                <a href="#" class="btn btn-sm btn--primary-white text-uppercase">Add</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cart__upsell">
                            <div class="cart__upsell-img"><img
                                    src="https://qureskincaredns-main.com/sections/global/drawer/images/upsell-2.webp"
                                    alt="" class="img-fluid" /></div>
                            <div class="cart__upsell-content">
                                <div class="cart__upsell-title mb-0">Micro-Infusion Targeted Patches</div>
                                <div class="cart__upsell-price">$79</div>
                            </div>
                            <div class="cart__upsell-btn d-flex align-items-center">
                                <a href="#" class="btn btn-sm btn--primary-white text-uppercase">Add</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cart__upsell">
                            <div class="cart__upsell-img"><img
                                    src="https://qureskincaredns-main.com/sections/global/drawer/images/upsell-1.webp"
                                    alt="" class="img-fluid" /></div>
                            <div class="cart__upsell-content">
                                <div class="cart__upsell-title mb-0">Micro-Infusion Targeted Patches</div>
                                <div class="cart__upsell-price">$79</div>
                            </div>
                            <div class="cart__upsell-btn d-flex align-items-center">
                                <a href="#" class="btn btn-sm btn--primary-white text-uppercase">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slide-carousel>
    </div>
</div>