{% doc %}
  Renders a header desktop pages item for the header section.

  @param {string} - A string value.
  @param {string} - A string value.
  @param {string} - A string value.

  @example
  {% render 'header-menu-desktop-pages-item', title: '', image: '', url: '' %}
{% enddoc %}

{% if title != blank %}
    <a href="{% if url != blank %}{{ url }}{% else %}#{% endif %}" class="quer-collection-content">
        {% if image != blank %}
            <div class="qc-img hover-zoom">
                <img src="{{ image | image_url }}" alt="{{ title | escape }}" class="img-fluid" />
            </div>
        {% endif %}
        <div class="qc-title">{{ title }} <i class="fa-regular fa-arrow-right"></i> </div>
    </a>
{% endif %}