<nav class="navigation main-nav qure-mb-menu d-none d-lg-block">
    <ul class="horizontal-list">
        {% render 'header-menu-items' label: 'BEST SELLERS' %}
        <li class="level0 quer__menu-parent menu-width-full-width">
            <a class="position-relative" role="link"><span>{{ 'header.settings.navigation_header_2' | t }}</span></a>
            <div class="submenu position-absolute">
                <div class="container">
                    <div class="row">
                        <div class="quer-menu-item type_link col-sm-8">
                            <div class="quer-menu-inner">
                                <div class="quer-menu-block">
                                    <div class="subchildmenu-title position-relative">
                                        <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_one' | t }}</a>
                                    </div>
                                    <ul class="subchildmenu sub-column sub-column-grid">
                                        {% render 'header-menu-items' label: 'Products', column: 'Shop' %}
                                    </ul>
                                </div>
                                <div class="quer-menu-block">
                                    <div class="subchildmenu-title position-relative">
                                        <a class="subchildmenu-link" role="link">{{ 'header.settings.navigation_header_2_column_second' | t }}</a>
                                    </div>
                                    <ul class="subchildmenu sub-column sub-column-grid">
                                        {% render 'header-menu-items' label: 'Products', column: 'Shop by Concern' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="quer-menu-item type_banner col-sm-4">
                            {% render 'header-slider-desktop' %}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="level0 quer__menu-parent menu-width-full-width">
            <a class="position-relative" role="link"><span>{{ 'header.settings.navigation_header_3' | t }}</span></a>
            <div class="submenu position-absolute">
                <div class="container">
                    <div class="row">
                        <div class="quer-menu-item type_link col-sm-3">
                            <div class="quer-menu-inner">
                                <div class="quer-menu-block">
                                    <ul class="subchildmenu sub-column">
                                        {% render 'header-menu-items' label: 'Help center' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="quer-menu-item type_banner col-sm-8 offset-sm-1">
                            <div class="quer-menu-banner">
                                {% render 'header-menu-desktop-pages-item', title: settings.header_help_center_menu1_title, image: settings.header_help_center_menu1_image, url: settings.header_help_center_menu1_url %}
                                {% render 'header-menu-desktop-pages-item', title: settings.header_help_center_menu2_title, image: settings.header_help_center_menu2_image, url: settings.header_help_center_menu2_url %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>