{% doc %}
  Renders a header slider thumb snippet for the header section.

  @param {string} - A string value.
  @param {string} - A string value.

  @example
  {% render 'header-slider-thumb', image: '', title: '' %}
{% enddoc %}

{% if image != blank %}
    <div class="swiper-slide">
        <div class="slide-thumbnail">
            <img src="{{ image | image_url }}" alt="header slider thumb image" class="img-fluid" />
            {% if title != blank %}
                <span class="qc__thumb-title">{{ title }}</span>
            {% endif %}
        </div>
    </div>
{% endif %}