<slide-with-thumbs>
    <div class="qure-menu-gallery qure__swiper-wrapper p-24">
        <!-- Galler start-->
        <div class="swiper qure-menu-gallery qure__swiper-gallery" data-section-id="featured-gallery-desktop" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="0">
            <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                {% render 'header-slider-item', image: settings.header_slider1_image, button-label: settings.header_slider1_button_label, button-url: settings.header_slider1_button_url %}
                {% render 'header-slider-item', image: settings.header_slider2_image, button-label: settings.header_slider2_button_label, button-url: settings.header_slider2_button_url %}
                {% render 'header-slider-item', image: settings.header_slider3_image, button-label: settings.header_slider3_button_label, button-url: settings.header_slider3_button_url %}
                {% render 'header-slider-item', image: settings.header_slider4_image, button-label: settings.header_slider4_button_label, button-url: settings.header_slider4_button_url %}
                {% render 'header-slider-item', image: settings.header_slider5_image, button-label: settings.header_slider5_button_label, button-url: settings.header_slider5_button_url %}
                {% render 'header-slider-item', image: settings.header_slider6_image, button-label: settings.header_slider6_button_label, button-url: settings.header_slider6_button_url %}
                {% render 'header-slider-item', image: settings.header_slider7_image, button-label: settings.header_slider7_button_label, button-url: settings.header_slider7_button_url %}
                {% render 'header-slider-item', image: settings.header_slider8_image, button-label: settings.header_slider8_button_label, button-url: settings.header_slider8_button_url %}
                {% render 'header-slider-item', image: settings.header_slider9_image, button-label: settings.header_slider9_button_label, button-url: settings.header_slider9_button_url %}
            </div>
        </div>
        <!-- Galler End-->
        <!-- Thumbnails start-->
        <div class="swiper-thumbnail-with-arrow qure-menu-thumbnails-mobile swiper__menu-arrow mt-3" style="--gap:8px;">
            <div class="swiper qure-menu-gallery qure__swiper-gallery-thumbnails" data-section-id="qure-menu-thumbnails" data-mobile="4.2" data-tablet="6.2" data-desktop="6.2" data-autoplay="false" data-loop="false" data-spacing="8">
                <div class="swiper-wrapper">
                    {% render 'header-slider-thumb', image: settings.header_slider1_thumb, title: settings.header_slider1_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider2_thumb, title: settings.header_slider2_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider3_thumb, title: settings.header_slider3_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider4_thumb, title: settings.header_slider4_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider5_thumb, title: settings.header_slider5_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider6_thumb, title: settings.header_slider6_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider7_thumb, title: settings.header_slider7_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider8_thumb, title: settings.header_slider8_title %}
                    {% render 'header-slider-thumb', image: settings.header_slider9_thumb, title: settings.header_slider9_title %}
                </div>
            </div>
        </div>
        <!-- Thumbnails End-->
    </div>
</slide-with-thumbs>