{% doc %}
  Renders a header mobile pages item for the header section.

  @param {string} - A string value.
  @param {string} - A string value.
  @param {string} - A string value.

  @example
  {% render 'header-menu-mobile-pages-item', title: '', image: '', url: '' %}
{% enddoc %}

{% assign black_friday_turn_on = true %}

{% if title != blank %}
    <div class="swiper-slide">
        <a href="{% if url != blank %}{{ url }}{% else %}#{% endif %}" class="quer-collection-content">
            {% if image != blank %}
                <div class="qc-img hover-zoom">
                    <img src="{{ image | image_url }}" alt="{{ title | escape }}" class="img-fluid" />
                </div>
            {% endif %}
            <div class="qc-title bottom-0">{{ title }} <i class="fa-regular fa-arrow-right"></i></div>
        </a>
    </div>
{% endif %}