<div class="klaviyo-form-YpweK2"></div>

{% comment %} 
<form class="qure__subcribe-submit position-relative d-flex rounded-pill">
    <input type="email" class="qure__subcribe-input form-control rounded-pill" placeholder="{{ 'footer.settings.email_placeholer' | t }}">
    <button class="btn qure__subcribe-button" type="submit"><i
          class="fa-sharp fa-regular fa-arrow-right"></i></button>
 </form> 
 {% endcomment %}