{% doc %}
  Renders a product rating snippet for the product-header section.

  @param {object} product - A string value.

  @example
  {% render 'n-product-rating', product: '' %}
{% enddoc %}

{% assign rating_value = product.metafields.reviews.rating.value %}
{% assign rating_count = product.metafields.reviews.rating_count.value %}

{% if rating_count > 5 %}

    {% assign show_rating = rating_value | slice: 0, 3 %}
    <div class="c-rating c-rating--bg">
        <div class="e-rating-stars" style="--rating: {{ show_rating }}"></div>
        <a href="#stamped-main-widget">{{ 'product.settings.n-product-rating.static_html' | t: rating: show_rating }}</a>
    </div>
{% else %}
    <div class="c-rating c-rating--bg">
        <div class="e-rating-stars" style="--rating: 4.8"></div>
        {{ 'product.settings.n-product-rating.static_html' | t: rating: '4.8' }}
    </div>
{% endif %}

{% if rating_value != blank %}
    <script>
      const product_rating = '{{ rating_value }}';      
    
      document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('product-rating', 'https://qureskincaredns.com/shopify/js/product-rating.js');
      });
    </script>
{% endif %}