{% doc %}
  Renders a "async section" snippet for the product-header/page-header section

  @param {object} - A section object.

  @example
  {% render 'n-product-page-async-section', section: product %}
{% enddoc %}

{% assign template_id = section.id | split: '__' | first  %}

{% capture async-section %}
    {% for block in section.blocks %}
        {% if block.type == 'section' %}
            <div id="async-section" data-async-section-id="{{ template_id }}__{{ block.settings.section_id }}"></div>
        {% endif %}
    {% endfor %}
{% endcapture %}

{% if async-section != blank %}

    {{ async-section }}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('product-page-async-section', 'https://qureskincaredns.com/shopify/js/product-page-async-section.js');
        });
    </script>
    
{% endif %}