<div class="c-options-selector{% if section.settings.hide_types %} hide{% endif %}">
    <p class="c-options-selector__title">{{ 'purchase-form.settings.select-type' | t }}</p>
    <ul class="c-options-selector__list">
        {% render 'n-purchase-form-landing-types-item' array: __idsArray1 %}
        {% render 'n-purchase-form-landing-types-item' array: __idsArray2 %}
        {% render 'n-purchase-form-landing-types-item' array: __idsArray3 %}
    </ul>
</div>