{% doc %}
  Renders a collapsed item for the product template

  @param {json} input - A json object.
  @param {string} index - A string value.
  @param {string} title - A string value.

  @example
  {% render 'n_product-marked-list' %}
{% enddoc %}

<ul class="c-marked-list">
    <li>Suitable for sensitive skin</li>
    <li>Hypoallergenic and allergy tested</li>
    <li>Free from fragrance, parabens, and PEG</li>
    <li>Vegan and cruelty-free</li>
</ul>