{% doc %}
  Renders a page rating snippet for the page-header section.

  @param {object} - A section object.

  @example
  {% render 'page-rating', section: section %}
{% enddoc %}

{% if section.settings.rating != blank %}
    <div class="patch__product-rating d-inline-flex align-items-center gap-3 fs-16 mb-20">
        <img src="https://qureskincaredns-main.com/sections/isolated/clean-water/images/cyan_blue_rating.svg" class="ctm-width" style="--ctm-width-mob: 90px; --ctm-width:115px" alt="cyan_blue_rating">
        <a style="--base-color: #212428;" href="#stamped-main-widget">{{ section.settings.rating |  replace: '<p>', '<span>' |  replace: '</p>', '</span>' }}</a>
    </div>
{% endif %}