{% doc %}
  Renders a link button snippet.

  @param {object} section - A object value.

  @example
  {% render 'page-link-button', section: '' %}
{% enddoc %}

{% unless classname %}
  {% assign classname = 'my-30' %}
{% endunless %}

{% if section.settings.button-label != blank %}
    <div class="qure__product-action-inner max-w-ctm {{ classname }}" style="--max-w-ctm:500px">
        <a href="{{ section.settings.button-url }}" class="add-cart-button product-form__submit btn btn--primary w-100 text-uppercase fs-md-20 fs-18" aria-label="{{ section.settings.button-label | escape }}">{{ section.settings.button-label }}</a>
    </div>
{% endif %}