{% doc %}
  Renders a "Jump To" section for the page template

  @param {object} - A section object.

  @example
  {% render 'page-jumpto', section: section %}
{% enddoc %}

{% capture jumpto %}
    {% for block in section.blocks %}
        {% if block.type == 'jumpto' %}
            {% if block.settings.button-label != blank %}
                <a href="{{ block.settings.button-url }}" class="patch-badge">{{ block.settings.button-label }}<i class="fa-regular fa-arrow-down fs-14"></i></a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endcapture %}

{% if jumpto != blank %}
    <div class="product__label mt-40 mb-15"> {{ 'page.settings.jumpto.header' | t }} </div>
    <div class="patch-badge-group d-flex flex-wrap gap-3">
        {{ jumpto }}
    </div>
{% endif %}