{% doc %}
  Renders product price

  @param {product_sale_price} - A string value.
  @param {product_before_price} - A string value.
  @param {product_discount} - A string value.

  @example
  {% render 'product-bundle-price', product_sale_price: '', product_before_price: '', product_discount: '' %}
{% enddoc %}


<div class="bundle_price d-flex align-items-center justify-content-start gap-3 my-3 pb-2">

    {% if product_before_price != blank %}
        <div class="bef_price text-decoration-line-through igComparePrice">{{ product_before_price }}</div>
    {% endif %}

    <div class="aft_price clr_orange igPrice">{{ product_sale_price }}</div>

    {% if product_discount != blank %}
        <div class="discount_percentage igSavingsPercentage">{{ 'product.settings.discount-text' | t }} {{ product_discount }}%</div>
    {% endif %}

</div>