{% doc %}
  Renders a save up snippet for the product-bundle section.

  @param {string} button_link - A string value.

  @example
  {% render 'product-saveup-offer' %}

{% enddoc %}

<link rel="stylesheet" href="{{ 'product-saveup-offer.css' | asset_url }}">
<div class="buy_bundle d-flex flex-column flex-md-row justify-content-between">
    <div class="d-flex flex-column flex-md-row align-items-center gap-4 mw"
        style="--mw:270px; --mw-mob:100%;">
        <p class="gift_icon">
            <svg width="23" height="23" viewBox="0 0 92 92" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M83.8869 27.0569H8.11099C5.49538 27.0569 3.375 29.1772 3.375 31.7929V41.2649C3.375 43.8805 5.49538 46.0008 8.11099 46.0008H83.8869C86.5025 46.0008 88.6229 43.8805 88.6229 41.2649V31.7929C88.6229 29.1772 86.5025 27.0569 83.8869 27.0569Z"
                    stroke="#fff" stroke-width="5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path d="M46 27.0569V88.6248" stroke="#fff" stroke-width="5"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                    d="M79.1526 46.0012V79.1532C79.1526 81.6653 78.1546 84.0745 76.3783 85.8509C74.6019 87.6272 72.1927 88.6251 69.6806 88.6251H22.3206C19.8085 88.6251 17.3993 87.6272 15.6229 85.8509C13.8466 84.0745 12.8486 81.6653 12.8486 79.1532V46.0012"
                    stroke="#fff" stroke-width="5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M24.6886 27.057C21.5485 27.057 18.5369 25.8096 16.3165 23.5892C14.0961 21.3688 12.8486 18.3572 12.8486 15.2171C12.8486 12.0769 14.0961 9.06535 16.3165 6.84492C18.5369 4.62449 21.5485 3.37707 24.6886 3.37707C29.2574 3.29747 33.7345 5.51423 37.5361 9.73827C41.3378 13.9623 44.2875 19.9976 46.0006 27.057C47.7137 19.9976 50.6634 13.9623 54.4651 9.73827C58.2667 5.51423 62.7438 3.29747 67.3126 3.37707C70.4527 3.37707 73.4643 4.62449 75.6847 6.84492C77.9051 9.06535 79.1526 12.0769 79.1526 15.2171C79.1526 18.3572 77.9051 21.3688 75.6847 23.5892C73.4643 25.8096 70.4527 27.057 67.3126 27.057"
                    stroke="#fff" stroke-width="5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </p>
        {{ 'product.settings.saveup-offer.heading_html' | t }}
    </div>
    {{ 'product.settings.saveup-offer.button_html' | t: button_link: 'https://qureskincare.com/pages/exclusive-holiday-bundle-deal-new' }}
</div>