{% doc %}
  Renders a product rating.

  @example
  {% render 'product-rating' %}
{% enddoc %}

<div class="patch__product-rating d-inline-flex align-items-center gap-3 fs-16 mb-20">
    <img src="https://qureskincaredns-main.com/sections/isolated/clean-water/images/cyan_blue_rating.svg" alt="">
    <span><strong>4.8</strong>/5 Rated by Customers</span>
</div>