{% doc %}
  Renders a product buy button snippet for the the product-header section.

  @param {string} product_price_divided - A string value.

  @example
  {% render 'product-page-buy-button-payments', product_price_divided: '' %}
{% enddoc %}

<div class="product_klarna-dtls d-flex flex-wrap gap-2 align-items-center fs-14 justify-content-center max-w-ctm" style="--max-w-ctm:500px">
    {{ 'product.settings.buy-button-bottom.heading_html' | t: product_price_divided: product_price_divided }}
    <img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/klarna.svg" />
    <img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/sezzle.svg" />
    <img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/afterpay.svg" />
</div>