{% doc %}
  Renders limited offer for black friday

  @example
  {% render 'product-page-limited-offer-black-friday' %}
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/shopify/css/product-page-limited-offer-black-friday.css">
<a href="{{ 'black-friday.limited-offer.link' | t }}" class="bf-limited-time-banner">
    <div class="bf-limited-time-banner__image">
       <img src="https://qureskincaredns-main.com/sections/isolated/product-bundle/images/black-friday-limited-time-bundle.webp" alt="black-friday-limited-time-bundle">
    </div>
    <div class="bf-limited-time-banner__content">
       <h6>{{ 'black-friday.limited-offer.header' | t }}</h6>
       <p>{{ 'black-friday.limited-offer.text' | t }}</p>
    </div>
    <div class="bf-limited-time-banner__label">
       <img src="https://qureskincaredns-main.com/sections/isolated/product-bundle/images/black-friday-limited-time.webp" alt="black-friday-limited-time">
    </div>
 </a>