{% doc %}
  Renders product price

  @param {price} - A string value.

  @example
  {% render 'product-price', price: '' %}
{% enddoc %}

<h4 class="fw-500 fm-body mt-20 igPrice" style="--font-h4: 22px; --font-h4-mob: 20px;">{{ product_sale_price }}</h4>