{% doc %}
  Renders a product limited time offer snippet for the product-header section.

  @param {object} - A section object.
  @param {object} - A block object.

  @example
  {% render 'product-page-black-friday-discount', section: '', block: '', %}
{% enddoc %}

{% if block == blank %}
    {% for _block in section.blocks %}
        {% if _block.type == 'black-friday-discount' %}
            {% assign block = _block %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="d-flex align-items-center gap-3">
    <p class="black_friday_pricing">{{ 'product.settings.black-friday-discount.header' | t }}</p>
    <a href="javascript:void();" class="save_perc">{{ 'product.settings.black-friday-discount.save' | t }} {{ block.settings.discount_percent }}%</a>
 </div>