{% doc %}
  Renders a collapsed snippet for the product-header/page-header section

  @param {object} - A product object.
  @param {object} - A page object.
  @param {string} class - A string value.

  @example
  {% render 'product-page-collapsed' product: product, page: page, class: '' %}
{% enddoc %}

<div class="accordion accordion-flush {{ class }}" id="tp-product-qure">
    {% if product.metafields.custom.key_benefits != blank %}
        {% render 'product-page-collapsed-item' input: product.metafields.custom.key_benefits, index: 'first', title: 'Key Benefits' %}
    {% elsif page.metafields.custom.key_benefits != blank %}
        {% render 'product-page-collapsed-item' input: page.metafields.custom.key_benefits, index: 'first', title: 'Key Benefits' %}
    {% endif %}
    {% if product.metafields.custom.how_it_works != blank %}
        {% render 'product-page-collapsed-item' input: product.metafields.custom.how_it_works, index: 'second', title: 'How It Works' %}
    {% elsif page.metafields.custom.how_it_works != blank %}
        {% render 'product-page-collapsed-item' input: page.metafields.custom.how_it_works, index: 'second', title: 'How It Works' %}
    {% endif %}
    {% if product.metafields.custom.what_to_expect != blank %}
        {% render 'product-page-collapsed-item' input: product.metafields.custom.what_to_expect, index: 'third', title: 'What To Expect' %}
    {% elsif page.metafields.custom.what_to_expect != blank %}
        {% render 'product-page-collapsed-item' input: page.metafields.custom.what_to_expect, index: 'third', title: 'What To Expect' %}
    {% endif %}
    {% if product.metafields.custom.what_s_included != blank %}
        {% render 'product-page-collapsed-item' input: product.metafields.custom.what_s_included, index: 'fourth', title: 'What’s Included' %}
    {% elsif page.metafields.custom.what_s_included != blank %}
        {% render 'product-page-collapsed-item' input: page.metafields.custom.what_s_included, index: 'fourth', title: 'What’s Included' %}
    {% endif %}
    {% if product.metafields.custom.technical_specifications != blank %}
        {% render 'product-page-collapsed-item' input: product.metafields.custom.technical_specifications, index: 'five', title: 'Technical Specifications' %}
    {% elsif page.metafields.custom.technical_specifications != blank %}
        {% render 'product-page-collapsed-item' input: page.metafields.custom.technical_specifications, index: 'five', title: 'Technical Specifications' %}
    {% endif %}
    {% if product.metafields.custom.full_ingredient_list != blank %}
        {% render 'product-page-collapsed-item' input: product.metafields.custom.full_ingredient_list, index: 'six', title: 'Full ingredient list' %}
    {% elsif page.metafields.custom.full_ingredient_list != blank %}
        {% render 'product-page-collapsed-item' input: page.metafields.custom.full_ingredient_list, index: 'six', title: 'Full ingredient list' %}
    {% endif %}
</div>