{% doc %}
  Renders a product money back snippet for the product-header section

  @param {object} - A section object.
  @param {object} - A block object.

  @example
  {% render 'money-back', section: '', block: '' %}
{% enddoc %}

{% if block == blank %}
    {% for _block in section.blocks %}
        {% if _block.type == 'money-back' %}
            {% assign block = _block %}
        {% endif %}
    {% endfor %}
{% endif %}


<link rel="stylesheet" href="https://qureskincaredns.com/shopify/css/product-money-back.css">
<div class="moneyback_guarantee mt-15">
    <div class="d-grid ctm_grid">
       <div class="moneyback_guarantee_img">
          <img src="https://qureskincaredns.com/sections/isolated/micro-infusion-pdp/images/{{ 'product.settings.money-back.image' | t }}" alt="moneyback" class="img-fluid">
       </div>
       <div class="moneyback_guarantee_content">
          <p class="fs-16 fs-md-18"><strong>{{ 'product.settings.money-back.header' | t }}</strong></p>
          <p class="fs-14 fs-md-16">{{ 'product.settings.money-back.text' | t }}</p>
       </div>
    </div>
 </div>