{% doc %}
  Renders product description

  @param {description} - A string value.

  @example
  {% render 'product-description', description: '' %}
{% enddoc %}

{% if description != blank %}
    <div class="patch__single-shortdes mt-20">
        {{ description }}
    </div>
{% endif %}