{% doc %}
  Renders sections blocks according to allowed_types for product-header/page-header section

  @param {section} - A section object.
  @param {allowed_types} - A string value.
  @param {render} - A string value.

  @example
  {% render 'product-page-blocks-render', section: section, allowed_types: '', render: '' %}
{% enddoc %}

{% if render != blank %}
    {{ render }}
{% endif %}

{% if allowed_types != blank %}
    {% assign allowed_types = allowed_types | split: "," %}
    
    {% for block in section.blocks %}
        {% if allowed_types contains block.type %}
            {% case block.type %}
                {% when 'description' %}
                    {% if section.settings.description != blank %}
                        <div class="patch__single-shortdes mt-20">
                            {{ section.settings.description }}
                        </div>
                    {% endif %}
                {% when 'price' %}
                    <h4 class="fw-500 fm-body mt-20" style="--font-h4: 22px; --font-h4-mob: 20px;">{{ product_sale_price }}</h4>
                {% when 'limited-offer' %}
                    {% render 'product-limited-time-offer', section: section, block: block %}
                {% when 'nextships' %}        
                    {% render 'product-page-next-ships', section: section, block: block %}
                {% when 'button' %}
                    {% render 'product-page-buy-button', product_price: product_sale_price, product_variant_id: product_variant_id, section: section %}
                    {% render 'product-page-buy-button-payments', product_price_divided: product_price_divided %}
                    {% render 'product-page-buy-button-bottom' %}
                {% when 'video' %}
                    {% render 'page-video', section: section, block: block %}
                {% when 'section' %}
                    {% render 'product-page-async-section', section: section, block: block %}
                {% when 'link' %}
                    {% render 'page-link-button', section: section %}
            {% endcase %}
        {% endif %}
    {% endfor %}

{% endif %}