<div class="product_popups">
    <div class="modal fade ingredient_modal" id="month_bundle" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="lable_mi_infusion" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:855px">
            <div class="modal-content bg-white rounded-0">
                <div class="modal-header border-0 p-15">
                    <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                </div>
                <div class="modal-body pb-md-40 pb-30 px-md-40 px-25 pt-0">
                    <div class="d-flex align-items-end flex-wrap gap-4 pb-15">
                        <img src="https://qureskincaredns-main.com/sections/isolated/offer-bundle/images/b_1-p-3.webp"
                            class="ctm-width" style="--ctm-width:100px; --ctm-width-mob:80px" alt="">
                        <p class="inc_prd-title">Micro-Infusion System</p>
                    </div>
                    <p>A quick at-home facial that stamps your skin with
                        ultra-fine, clinical-grade needles to boost collagen
                        and smooth fine lines. Get a visibly fresh and dewy
                        glow without any downtime.</p>
                    <div class="patch__single-shortdes">
                        <ul>
                            <li>Smooths fine lines and softens wrinkles.
                            </li>
                            <li>Helps fade dark spots and acne scars with
                                brightening ingredients.</li>
                            <li>Improves tone and texture through gentle
                                skin renewal and deep hydration</li>
                            <li>Clinically backed and easy to use at home
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ingredient_modal" id="q-rejuvalight-pro-facewear" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="lable_q-rejuvalight-pro-facewear" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:855px">
            <div class="modal-content bg-white rounded-0">
                <div class="modal-header border-0 p-15">
                    <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                </div>
                <div class="modal-body pb-md-40 pb-30 px-md-40 px-25 pt-0">
                    <div class="d-flex align-items-end flex-wrap gap-4 pb-15">
                        <img src="https://qureskincaredns-main.com/sections/isolated/offer-bundle/images/b_1-p-1.webp"
                            class="ctm-width" style="--ctm-width:100px; --ctm-width-mob:80px" alt="">
                        <p class="inc_prd-title">Q-Rejuvalight Pro LED Mask
                        </p>
                    </div>
                    <p>A hands-free LED light therapy mask that uses
                        clinically proven wavelengths to target
                        multiple skin concerns in just 3 minutes a day. </p>
                    <p>It combines red and blue light to rejuvenate, calm,
                        and clarify the skin without
                        downtime.</p>
                    <div class="patch__single-shortdes">
                        <ul>
                            <li>FDA-cleared device that treats acne, fine
                                lines, wrinkles and dark spots.
                            </li>
                            <li>Customizable treatment on 5 facial areas for
                                your specific skin concerns.
                            </li>
                            <li>Quick 3 minute, wireless daily treatments
                                with convenient hands-free
                                operation.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ingredient_modal" id="neck-decolletage-led" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="lable_neck-decolletage-led" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:855px">
            <div class="modal-content bg-white rounded-0">
                <div class="modal-header border-0 p-15">
                    <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                </div>
                <div class="modal-body pb-md-40 pb-30 px-md-40 px-25 pt-0">
                    <div class="d-flex align-items-end flex-wrap gap-4 pb-15">
                        <img src="https://qureskincaredns-main.com/sections/isolated/offer-bundle/images/b_1-p-2.webp"
                            class="ctm-width" style="--ctm-width:100px; --ctm-width-mob:80px" alt="">
                        <p class="inc_prd-title">Neck & Décolletage LED
                            Device</p>
                    </div>
                    <p>A targeted LED light therapy device designed
                        specifically for the delicate skin on your neck and
                        chest. </p>
                    <p>It delivers gentle, consistent light to support
                        healthier, clearer, and more balanced skin in just a
                        few minutes a day.</p>
                    <div class="patch__single-shortdes">
                        <ul>
                            <li>Clinically proven, medical-grade LED light
                                to support skin clarity and repair. </li>
                            <li>Evens skin tone and boosts firmness.</li>
                            <li>Pairs seamlessly with Qure’s Micro-Infusion
                                for enhanced results.</li>
                            <li>Covers the full neck and chest area for
                                even, hands-free treatment.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ingredient_modal" id="face-serum" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="all_in-one" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:855px">
            <div class="modal-content bg-white rounded-0">
                <div class="modal-header border-0 p-15">
                    <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                </div>
                <div class="modal-body pb-md-40 pb-30 px-md-40 px-25 pt-0">
                    <div class="d-flex align-items-end flex-wrap gap-4 pb-15">
                        <img src="https://qureskincaredns-main.com/sections/isolated/offer-bundle/images/b_1-p-4.webp"
                            class="ctm-width" style="--ctm-width:100px; --ctm-width-mob:80px" alt="">
                        <p class="inc_prd-title">All-In-One Serum</p>
                    </div>
                    <p>A multi-tasking formula designed to hydrate, brighten, and strengthen skin barrier in
                        one step. </p>
                    <div class="patch__single-shortdes">
                        <ul>
                            <li>Hydrates and plumps with hyaluronic acid and soothing ingredients.</li>
                            <li>Deeply hydrates and evens tone with gentle, skin-renewing actives.</li>
                            <li>Improves texture and reduces hyper-pigmentation.</li>
                            <li>Lightweight, non-sticky formula that absorbs quickly and layers well.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ingredient_modal" id="micro-infusion-targeted-patches" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="mi_patches" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:855px">
            <div class="modal-content bg-white rounded-0">
                <div class="modal-header border-0 p-15">
                    <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                </div>
                <div class="modal-body pb-md-40 pb-30 px-md-40 px-25 pt-0">
                    <div class="d-flex align-items-end flex-wrap gap-4 pb-15">
                        <img src="https://qureskincaredns-main.com/sections/isolated/offer-bundle/images/b_1-p-7.webp"
                            class="ctm-width" style="--ctm-width:100px; --ctm-width-mob:80px" alt="">
                        <p class="inc_prd-title">Micro-Infusion Targeted Patches</p>
                    </div>
                    <p>These patches are designed to deliver clinical-grade ingredients exactly where your
                        skin needs them most. </p>
                    <p>With 80 dissolving micro-darts per patch, they treat targeted concerns with precision
                        and zero mess.</p>
                    <div class="patch__single-shortdes">
                        <ul>
                            <li>Visibly fades dark spots, fine lines, or blemishes in targeted areas.</li>
                            <li>Delivers ingredients deep into the skin for maximum impact.</li>
                            <li>Mess-free, travel-friendly format for easy use anytime.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ingredient_modal" id="faucet-filter" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="faucet_filter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:855px">
            <div class="modal-content bg-white rounded-0">
                <div class="modal-header border-0 p-15">
                    <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                </div>
                <div class="modal-body pb-md-40 pb-30 px-md-40 px-25 pt-0">
                    <div class="d-flex align-items-end flex-wrap gap-4 pb-15">
                        <img src="https://qureskincaredns-main.com/sections/isolated/offer-bundle/images/b_1-p-6.webp"
                            class="ctm-width" style="--ctm-width:100px; --ctm-width-mob:80px" alt="">
                        <p class="inc_prd-title">Faucet Filter</p>
                    </div>
                    <p>Healthy skin starts with your water. The Qure Faucet Filter helps reduce harmful
                        impurities that can cause dryness, irritation, and discomfort.</p>
                    <div class="patch__single-shortdes">
                        <ul>
                            <li>Advanced water filter reduces up to 99% of irritants for clearer, hydrated
                                skin.</li>
                            <li>Reduces chlorine, heavy metals, and other impurities that can disrupt your
                                skin barrier.</li>
                            <li>Easy to install on most standard faucets.</li>
                            <li>Third-party tested to meet NSF standards</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ingredient_modal" id="dermal-mist" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="faucet_filter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15" style="--bs-modal-width:855px">
            <div class="modal-content bg-white rounded-0">
                <div class="modal-header border-0 p-15">
                    <button type="button" class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                        data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fs-30"></i></button>
                </div>
                <div class="modal-body pb-md-40 pb-30 px-md-40 px-25 pt-0">
                    <div class="d-flex align-items-end flex-wrap gap-4 pb-15">
                        <img src="https://qureskincaredns-main.com/sections/isolated/offer-bundle/images/b_1-p-8.webp"
                            class="ctm-width" style="--ctm-width:100px; --ctm-width-mob:80px" alt="">
                        <p class="inc_prd-title">Dermal Mist</p>
                    </div>
                    <p>A refreshing facial spray that calms irritation, purifies the skin, and accelerates
                        skin healing. Ideal for use after treatments or as part of your daily routine.</p>
                    <div class="patch__single-shortdes">
                        <ul>
                            <li>Soothes irritation and redness to keep skin calm and comfortable.</li>
                            <li>Hydrates and balances with calming, skin-loving ingredients.</li>
                            <li>Fine, lightweight mist that can be used over makeup or skincare.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>