{% doc %}
  Renders a product types snippet for purchase form section.
{% enddoc %}

<div class="qure__bundle-steps"{% if section.settings.hide_product_types == true %} style="display:none"{% endif %}>
    <div id="purchase-form-types" class="qure-bundle-stps-title mb-16">{{ 'purchase-form.settings.select-type' | t }}</div>
    <div class="qure-bundle-container d-flex col-gap" style="--col-gap: 10px;--col-gap-mb:10px;">
        {% render 'purchase-form-types-item' array: __idsArray1 %}
        {% render 'purchase-form-types-item' array: __idsArray2 %}
        {% render 'purchase-form-types-item' array: __idsArray3 %}
    </div>

    {% render 'purchase-form-accordion-item' array: __idsArray1 %}
    {% render 'purchase-form-accordion-item' array: __idsArray2 %}
    {% render 'purchase-form-accordion-item' array: __idsArray3 %}
</div>