<div class="border-top  max-w-ctm my-25" style="--max-w-ctm:500px"></div>
<div class="product_shower-variants{% if section.settings.hide_types %} hide{% endif %}">
    <div class="qure__variant-label mb-15">{{ 'purchase-form.settings.select-type' | t }}</div>
    <div class="d-flex col-gap" style="--col-gap:12px; --col-gap-mb:5px">
        {% render 'purchase-form-landing-types-item' array: __idsArray1 %}
        {% render 'purchase-form-landing-types-item' array: __idsArray2 %}
        {% render 'purchase-form-landing-types-item' array: __idsArray3 %}
    </div>
</div>