<div class="offer-bundle__category">
    {% if block.settings.image != blank %}
        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.heading | escape }}" />
    {% endif %}
    {% if block.settings.heading != blank %}
        <h3>{{ block.settings.heading }}</h3>
    {% endif %}
</div>