{% if section.settings.klaviyo_form_name != blank %}
    <div class="klaviyo-landing-popup klaviyo-form-{{ section.settings.klaviyo_form_name }} hide"></div>

    {% if section.settings.type != 'list' %}
        <button id="back-in-stock-landing" class="show-klaviyo-popup-landing btn btn-sm btn--secondary w-100 mt-20" data-bs-toggle="modal" data-bs-target="#reusableKlaviyoModal" data-form-id="klaviyo-landing-popup">{{ 'purchase-form.settings.notify-me-when-available' | t }}</button>
    {% else %}
        <button class="show-klaviyo-popup-landing btn btn-sm btn--secondary hide" data-bs-toggle="modal" data-bs-target="#reusableKlaviyoModal" data-form-id="klaviyo-landing-popup">{{ 'purchase-form.settings.notify-me-when-available' | t }}</button>
    {% endif %}
{% endif %}