<div class="tab-content pt-md-25 pt-15" id="bundles-tabContent">
    {% include 'purchase-form-bundle-products-item' array: __idsArray1, type: 1 %}
    {% include 'purchase-form-bundle-products-item' array: __idsArray2, type: 2 %}
    {% include 'purchase-form-bundle-products-item' array: __idsArray3, type: 3 %}
     <div id="{{ section.settings.form_name }}-body-{{ section.id }}"></div>
</div>