{% case product_handle %}
    {% when 'line-refine-bundle-pro1' %}
        <p>The <strong>Line Refine Pro Bundle</strong> is a complete bundle to help skin look firmer, smoother and brighter.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Q-Rejuvalight Pro LED Mask</strong> on the Skin Rejuvenating treatment mode for a full 3 minute session. </li>
            <li>Follow with the <strong>All-In-One Face Serum</strong>, applying to your face and neck.</li>
        </ul>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-pm"></i>
            PM Routine
        </div>
        <ul>
            <li>Cleanse and pat dry your skin. </li>
            <li>Use the <strong>Neck & Décolletage System</strong> for a full 10 minutes treatment (3-5 times per week).</li>
            <li>Apply the <strong>Micro-Infusion Targeted</strong> Patches where needed 1-2 times per week.</li>
            <li>Once every 2 weeks, use the <strong>Micro-Infusion System</strong> in place of your nightly routine.</li>
        </ul> 
    {% when 'line-refine-bundle-advanced' %}
        <p>The <strong>Line Refine Advanced Bundle</strong> is a balanced upgrade to soften the look of fine lines and texture.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Q-Rejuvalight Pro LED Mask</strong> on the Skin Rejuvenating treatment mode for a full 3 minute session. </li>
        </ul>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-pm"></i>
            PM Routine
        </div>
        <ul>
            <li>Cleanse and pat dry your skin. </li>
            <li>Apply the <strong>Micro-Infusion Targeted Patches</strong> where needed 1-2 times per week.</li>
            <li>Once every 2 weeks, use the <strong>Micro-Infusion System</strong> in place of your nightly routine.</li>
        </ul>
    {% when 'line-refine-bundle-essential' %}
        <p>The <strong>Line Refine Advanced Essentials</strong> is a beginner-friendly option to help skin look smoother and hydrated.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Follow with the <strong>All-In-One Face Serum</strong>, applying to your face and neck.</li>
        </ul>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-pm"></i>
            PM Routine
        </div>
        <ul>
            <li>Cleanse and pat dry your skin. </li>
            <li>Apply the <strong>Micro-Infusion Targeted Patches</strong> where needed 1-2 times per week.</li>
            <li>Once every 2 weeks, use the <strong>Micro-Infusion System</strong> in place of your nightly routine.</li>
        </ul>
    {% when 'fade-firm-bundle-pro1' %}
        <p>The <strong>Fade & Firm Pro Bundle</strong> сontains everything you need to help discoloration look lighter and skin look more even.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Q-Rejuvalight Pro LED Mask</strong> on the Skin Rejuvenating treatment mode for a full 3 minute session. </li>
            <li>Follow with the <strong>All-In-One Face Serum</strong>, applying to your face and neck.</li>
        </ul>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-pm"></i>
            PM Routine
        </div>
        <ul>
            <li>Cleanse and dry your skin. </li>
            <li>Use the <strong>Neck & Décolletage System</strong> for a full 10 minutes treatment (3-5 times per week).</li>
            <li>Once every 2 weeks, use the <strong>Micro-Infusion System</strong> in place of your nightly routine.</li>
        </ul>
    {% when 'fade-firm-bundle-advanced' %}
        <p>The <strong>Fade & Firm Advanced Bundle</strong> is a focused combination to help improve the look of dark spots and uneven tone.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Q-Rejuvalight Pro LED Mask</strong> on the Skin Rejuvenating treatment mode for a full 3 minute session. </li>
        </ul>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-pm"></i>
            PM Routine
        </div>
        <ul>
            <li>Cleanse and dry your skin. </li>
            <li>Use the <strong>Neck & Décolletage System</strong> for a full 10 minutes treatment (3-5 times per week).</li>
            <li>Once every 2 weeks, use the <strong>Micro-Infusion System</strong> in place of your nightly routine.</li>
        </ul>
    {% when 'fade-firm-bundle-essentials' %}
        <p>The <strong>Fade & Firm Essentials</strong> is a focused combination to help improve the look of dark spots and uneven tone.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Q-Rejuvalight Pro LED Mask</strong> on the Skin Rejuvenating treatment mode for a full 3 minute session. </li>
        </ul>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-pm"></i>
            PM Routine
        </div>
        <ul>
            <li>Once every 2 weeks, use the <strong>Micro-Infusion System</strong> in place of your nightly routine.</li>
        </ul>
    {% when 'breakout-control-pro' %}
        <p>The <strong>Breakout Control Pro Bundle</strong> provides full breakout-support to help calm the look of active breakouts and support a clearer, more balanced complexion.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Q-Rejuvalight Pro LED Mask</strong> on the Skin Clearing treatment mode for a full 3 minute session. </li>
            <li>Use the <strong>Faucet Filter</strong> for daily face washing, and the <strong>Shower Filter</strong> for full-body cleansing and hair washing.</li>
        </ul>
    {% when 'breakout-control-advanced1' %}
        <p>The <strong>Breakout Control Advanced Bundle</strong> is our LED-focused routine that helps reduce the appearance of breakouts and visible redness.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Q-Rejuvalight Pro LED Mask</strong> on the Skin Clearing treatment mode for a full 3 minute session. </li>
        </ul>
    {% when 'breakout-control-essential' %}
        <p>The <strong>Breakout Control Essentials</strong> is a simple daily setup to help skin feel calmer, less tight, and more comfortable.</p>
        <div class="e-pill-badge e-pill-badge--small">
            <i class="e-icon e-icon-am"></i>
            AM Routine
        </div>
        <ul>
            <li>After cleansing, gently pat skin dry and spritz <strong>Dermal Mist</strong> across the face to refresh the skin.</li>
            <li>Use the <strong>Faucet Filter</strong> for daily face washing.</li>
        </ul>
{% endcase %}