{% doc %}
  Renders an announcement bar section
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/announcement/announcement-bar.css" />
<div id="announcement-bar" class="announcement-bar" style="--ans-bar-font-size:16px; --anc-bar-font-weight :400;">
   <div class="container">
        {% if section.settings.heading != blank %}
            <div class="announcement-bar-content text-center">
                {{ section.settings.heading }} {% if section.settings.button_label != blank and section.settings.button_url != blank %}<a href="{{ section.settings.button_url }}">{{ section.settings.button_label }}</a>{% endif %}
            </div>
        {% endif %}
   </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:common.button-label"
    },
    {
      "type": "text",
      "id": "button_url",
      "label": "t:common.button-url"
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.name"
    }
  ]
}
{% endschema %}