<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/blogs/blog.css">
<div class="qure__section qure_blog_wrapper"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container">
        <p>Blog > <strong>All Posts</strong></p>
    </div>
    <div class="qure_blogs mt-30 mt-md-40">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                {% case blog.handle %}
                    {% when 'light-therapy' %}
                        {% render 'blog-snippet-post' with blog_handle: 'light-therapy', limit: 9 %}
                    {% when 'skin' %}
                        {% render 'blog-snippet-post' with blog_handle: 'skin', limit: 9 %}
                    {% when 'skincare' %}
                        {% render 'blog-snippet-post' with blog_handle: 'skincare', limit: 9 %}
                    {% when 'all' %}
                        {% render 'blog-snippet-post' with blog_handle: 'all', limit: 9 %}   
                {% endcase %}
                </div>
                <!-- most popular posts  -->
                <div class="col-md-4 d-none d-md-block">
                    <div class="most_popular_posts pl-md-55">
                        <p class="mb-4">{{ 'blog.popular.header' | t }}</p>
                        <div class="row gy-4">
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skin', limit: 1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skincare', limit: 1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'light-therapy', limit: 1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skin', limit: 1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skincare', limit: 1, offset:1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skincare', limit: 1, offset:1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'light-therapy', limit: 1, offset:1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'light-therapy', limit: 1, offset:1 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skin', limit: 1, offset:2 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skin', limit: 1, offset:2 %}
                            {% render 'blog-snippet-post-popular' with blog_handle: 'skin', limit: 1, offset:2 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>