<!-- HERO BANNER -->
<link href="https://qureskincaredns.com/sections/new/hero-banner/hero-banner.css" rel="stylesheet" type="text/css" />
<section class="hero-banner hero-banner--easter">
    <picture>
        <source media="(min-width:768px)" srcset="https://qureskincaredns.com/sections/new/hero-banner/images/easter.webp" />
        <img src="https://qureskincaredns.com/sections/new/hero-banner/images/easter-mob.webp" alt="" />
    </picture>
    <div class="container">
        <article>
            <h2>More Glow, More Savings</h2>
            <ul>
                <li>
                    <small>Buy 2 products</small>
                    <strong>-20%</strong>
                </li>
                <li>
                    <small>Buy 3+ products</small>
                    <strong>-25%</strong>
                </li>
            </ul>
        </article>
    </div>
</section>
<!-- HERO BANNER END -->


{% schema %}
{
  "name": "t:sections.page-banner.name",
  "settings": [
  ]
}
{% endschema %}