{% doc %}
  Renders a choose-treatment section.
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/treatment/treatment.css" />
<div id="purchase-form" class="qure__section user_guideline  color-background"
    style="--section-padding-top: 50px; --section-padding-bottom: 80px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 50px;">
    <div class="container" style="--column-gap:60px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-md-6 custom__block">
                <div class="qure__section-header text-center mb-60 d-none d-md-block">
                    <h2 class="qure__section-heading">Choose your treatment</h2>
                    <div class="qure__section-desc mt-20">All orders are one-time purchases. No extra charges, and
                        no hidden fees. </div>
                </div>
                <div class="card qure-card" style="--qure-card-bg: #fff;">
                    <img src="https://qureskincaredns-main.com/sections/isolated/archive/images/tami.webp" class="card-img-top" alt="">
                    <div class="card-body af-card-body">
                        <div class="reviews-header d-flex align-items-center justify-content-between"
                            style="--bg-light: rgb(199 229 219 / 30%);">
                            <div class="card-user">
                                <img src="https://qureskincaredns-main.com/sections/isolated/after-before-accordion/images/america_f.webp" alt="user">
                                <span class="username">Tami T.</span>
                            </div>
                            <div class="icon-with-text d-flex align-items-center gap-2">
                                <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" width="18px" height="18px">
                                <span>Verified</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qure__section-header text-center mb-30 mt-30 d-md-none">
                    <h2 class="qure__section-heading">Choose your treatment</h2>
                    <div class="qure__section-desc mt-20">All orders are one-time purchases. No extra charges, and
                        no hidden fees. </div>
                </div>
                <div class="d-none d-md-flex flex-nowrap align-items-center justify-content-center col-gap px-30 px-lg-50 mt-30"
                    style="--col-gap-mb: 20px;--col-gap: 42px;">
                    <div
                        class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-16 fw-400 text-center">
                        <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/dermatologist.svg" alt="dermatologist">
                        <span>30-Day Money-Back Guarantee </span>
                    </div>
                    <div
                        class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-16 fw-400 text-center">
                        <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping">
                        <span>Free Shipping over {$dyn}</span>
                    </div>
                    <div
                        class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-16 fw-400 text-center">
                        <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/backed_science.svg" alt="dermatologist">
                        <span>Backed by Science </span>
                    </div>
                </div>

                <div class="pt-md-50 pt-40 d-none d-md-flex align-items-center justify-content-center gap-3">
                    <h6 class="fm-body fw-600 mb-0 fs-18">Have questions about Micro-Infusion?</h6>
                    <a href="" class="btn btn-sm btn--secondary" style="--btn-secondary-bg: #fff;">Chat with us!</a>
                </div>
            </div>
            <div class="col-md-6 custom__block">

                <div class="qure__bundle-container">
                    <div class="qure__bundle-form">
                        <div class="qure__bundle-steps">
                            <div class="qure-bundle-stps-title mb-16">Select Your Serum</div>
                            <div class="qure-bundle-container d-flex col-gap"
                                style="--col-gap: 10px;--col-gap-mb:10px;">
                                <div class="qure-bundle-item col">
                                    <input type="radio" id="dark_spots" name="color" class="bundle__input">
                                    <label for="dark_spots" class="qure__bundle-box">
                                        <div class="qv-frame">
                                            <div class="qv-inner">
                                                <img class="qv-img"
                                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/serum_1.webp">
                                            </div>
                                        </div>
                                        <div class="div">Dark Spots</div>
                                    </label>
                                </div>
                                <div class="qure-bundle-item col">
                                    <input type="radio" id="wrinkles" name="color" class="bundle__input">
                                    <label for="wrinkles" class="qure__bundle-box">
                                        <div class="qv-frame">
                                            <div class="qv-inner">
                                                <img class="qv-img"
                                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/serum_2.webp">
                                            </div>
                                        </div>
                                        <div class="div">Wrinkles</div>
                                    </label>
                                </div>
                                <div class="qure-bundle-item col">
                                    <input type="radio" id="mixed" name="color" class="bundle__input" checked>
                                    <label for="mixed" class="qure__bundle-box">
                                        <div class="qv-frame">
                                            <div class="qv-inner">
                                                <img class="qv-img"
                                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/serum_3.webp">
                                            </div>
                                        </div>
                                        <div class="div">Mixed </div>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="qure__bundle-steps">
                            <div class="qure-bundle-stps-title mb-16">Select Your Supply:</div>
                            <div class="qure-bundle-container" style="--col-gap: 10px;--col-gap-mb:10px">
                                <div class="bundle-supply d-flex col-gap align-items-end" id="myTab" role="tablist">
                                    <div class="qure-supply-item col" role="presentation">
                                        <input type="radio" name="supply" id="three-months" checked="">
                                        <label for="three-months" class="supply-link active pt-0" id="m-3-tab"
                                            data-bs-toggle="tab" data-bs-target="#m-3-tab-pane" type="button" role="tab"
                                            aria-controls="m-3-tab-pane" aria-selected="true">
                                            <div class="qure-best-value">Best Value <i
                                                    class="fa-sharp fa-solid fa-star-sharp"></i></div>
                                            <div class="qure__supply-img"><img
                                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/3_month_mixed.webp"
                                                    class="img-fluid"></div>
                                            <div class="qure__supply-content">
                                                <p class="mb-0">3 Months</p>
                                                <p class="fs-14 mb-15">(6 treatments)</p>
                                                <div class="qure__supply-price">
                                                    <span class="qure__supply-price-sale">$XXX</span>
                                                    <span class="qure__supply-price-reg-sale">$XXX</span>
                                                </div>
                                                <span class="qure__supply-badge">38% OFF</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="qure-supply-item col" role="presentation">
                                        <input type="radio" name="supply" id="two-months">
                                        <label for="two-months" class="supply-link" id="m-2-tab" data-bs-toggle="tab"
                                            data-bs-target="#m-2-tab-pane" type="button" role="tab"
                                            aria-controls="m-2-tab-pane" aria-selected="false" tabindex="-1">
                                            <div class="qure__supply-img"><img
                                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/2_month_mixed.webp"
                                                    class="img-fluid"></div>
                                            <div class="qure__supply-content">
                                                <p class="mb-0">2 Months</p>
                                                <p class="fs-14 mb-15">(4 treatments)</p>
                                                <div class="qure__supply-price">
                                                    <span class="qure__supply-price-sale">$XXX</span>
                                                    <span class="qure__supply-price-reg-sale">$XXX</span>
                                                </div>
                                                <span class="qure__supply-badge">19% OFF</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="qure-supply-item col" role="presentation">
                                        <input type="radio" name="supply" id="one-months">
                                        <label for="one-months" class="supply-link" id="m-1-tab" data-bs-toggle="tab"
                                            data-bs-target="#m-1-tab-pane" type="button" role="tab"
                                            aria-controls="m-1-tab-pane" aria-selected="false" tabindex="-1">
                                            <div class="qure__supply-img"><img
                                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/1_month_mixed.webp"
                                                    class="img-fluid"></div>
                                            <div class="qure__supply-content">
                                                <p class="mb-0">1 Months</p>
                                                <p class="fs-14 mb-15">(2 treatments)</p>
                                                <div class="qure__supply-price">
                                                    <span class="qure__supply-price-reg">$XXX</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="tab-content mt-25" id="myTabContent">
                                    <div class="tab-pane fade show active" id="m-3-tab-pane" role="tabpanel"
                                        aria-labelledby="m-3-tab" tabindex="0">
                                        <div class="qure_bundle-accorion">
                                            <button class="qure_bundle-btn collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#3monthCollapse"
                                                aria-expanded="false" aria-controls="3monthCollapse">
                                                What is in the 3 Month Supply bundle?
                                            </button>
                                            <div id="3monthCollapse" class="qure_bundle-collapse collapse"
                                                data-bs-parent="#accordionExample">
                                                <div class="accordion-body mt-12">
                                                    <ul class="qure__list-check">
                                                        <li>1 Micro-Infusion devices (valued at $80)</li>
                                                        <li>5 clinical-grade micro-needling heads (valued at $50)</li>
                                                        <li>6 clinically formulated 4ml serums to treat your specific
                                                            skin
                                                            concerns (valued at $120)</li>
                                                        <li>Worldwide shipping (valued at $25)</li>
                                                        <li>Risk-free 90 day money-back guarantee to trial</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="m-2-tab-pane" role="tabpanel"
                                        aria-labelledby="m-2-tab" tabindex="0">
                                        <div class="qure_bundle-accorion">
                                            <button class="qure_bundle-btn collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#2monthCollapse"
                                                aria-expanded="false" aria-controls="2monthCollapse">
                                                What is in the 2 Month Supply bundle?
                                            </button>
                                            <div id="2monthCollapse" class="qure_bundle-collapse collapse"
                                                data-bs-parent="#accordionExample">
                                                <div class="accordion-body mt-12">
                                                    <ul class="qure__list-check">
                                                        <li>1 Micro-Infusion device (valued at $80)</li>
                                                        <li>4 clinical-grade micro-needling heads (valued at $40)</li>
                                                        <li>4 clinically formulated 4ml serums to treat your specific
                                                            skin
                                                            concerns (valued at $80)</li>
                                                        <li>Worldwide shipping (valued at $25)</li>
                                                        <li>Risk-free 90 day money-back guarantee to trial</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="m-1-tab-pane" role="tabpanel"
                                        aria-labelledby="m-1-tab" tabindex="0">
                                        <div class="qure_bundle-accorion">
                                            <button class="qure_bundle-btn collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#1monthCollapse"
                                                aria-expanded="false" aria-controls="1monthCollapse">
                                                What is in the 1 Month Supply bundle?
                                            </button>
                                            <div id="1monthCollapse" class="qure_bundle-collapse collapse"
                                                data-bs-parent="#accordionExample">
                                                <div class="accordion-body mt-12">
                                                    <ul class="qure__list-check">
                                                        <li>1 Micro-Infusion device (valued at $80)</li>
                                                        <li>2 clinical-grade micro-needling heads (valued at $20)</li>
                                                        <li>2 clinically formulated 4ml serums to treat your specific
                                                            skin
                                                            concerns (valued at $40)</li>
                                                        <li>Worldwide shipping (valued at $25)</li>
                                                        <li>Worldwide shipping (valued at $25)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qure__bundle-steps">
                            <div class="qure-bundle-stps-title mb-16">Select A Payment Option</div>
                            <div class="qure-bundle-container">
                                <div class="pmt-container">
                                    <div class="pmt-option">
                                        <input type="radio" name="payment" id="fullPayment" checked="">
                                        <label for="fullPayment" class="pmt-block">
                                            <div class="pmt-header">
                                                <p>Pay in full</p>
                                                <div class="pmt-price"><span
                                                        class="pmt-price-sale text-decoration-line-through clr_grey">{$dyn}</span><span
                                                        class="pmt-price-regular">{$dyn}</span></div>
                                            </div>
                                            <div class="pmt-footer">
                                                <span>One-time payment with:</span>
                                                <img src="https://qureskincaredns-main.com/sections/isolated/treatment/images/pmt-1.webp" alt="pmt">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="pmt-option">
                                        <input type="radio" name="payment" id="payToday">
                                        <label for="payToday" class="pmt-block">
                                            <div class="pmt-header">
                                                <p>Pay today only</p>
                                                <div class="pmt-price"><span class="pmt-price-regular">{$dyn}</span>
                                                </div>
                                            </div>
                                            <div class="pmt-footer">
                                                <span>Monthly interest-free payments with::</span>
                                                <img src="https://qureskincaredns-main.com/sections/isolated/treatment/images/pmt-2.webp" alt="pmt">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qure__bundle-atc mt-40">
                        <a href="#" class="btn btn--primary d-block">Buy Now & Save {dyn}% </a>
                        <div class="align-items-center d-flex flex-wrap fs-13 gap-2 justify-content-center mt-6">OR
                            pay 4 monthly payments of {$dyn} with <img
                                src="https://qureskincaredns-main.com/sections/isolated/treatment/images/klarna.png" alt=""> <img
                                src="https://qureskincaredns-main.com/sections/isolated/treatment/images/sezzle.png" alt=""><img
                                src="https://qureskincaredns-main.com/sections/isolated/treatment/images/after-pay.png" alt=""></div>
                    </div>

                    <div class="patch__product-batch mt-30 max-w-ctm" style="--max-w-ctm:500px">
                        <div class="patch-d-header">
                            <h4 class="fm-body fs-16 fw-600 mb-0">Next batch ships {date}:</h4>
                            <p class="fs-14">Due to high demand, our {product name} is sold out. Order now and secure
                                yours from the next shipment.</p>
                        </div>
                        <div class="progress__bar-container w-100">
                            <div class="patch-bar mb-10" role="progressbar">
                                <span class="patch__date">{Previous date}</span><span class="patch__status">SOLD
                                    OUT</span>
                            </div>
                            <div class="patch-bar" role="progressbar"
                                style="--progress-bg:#91BAEC;--text-color:#212428;--progress-width:48%">
                                <span class="patch__date fs-14">{date}</span><span class="patch__status">48%
                                    Reserved</span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex d-md-none flex-nowrap align-items-center justify-content-center col-gap px-30 px-lg-50 mt-30"
                        style="--col-gap-mb: 20px;--col-gap: 42px;">
                        <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-14 text-center">
                            <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/dermatologist.svg" alt="dermatologist">
                            <span>30-Day Money-Back Guarantee </span>
                        </div>
                        <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-14 text-center">
                            <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping">
                            <span>Free Shipping over {$dyn}</span>
                        </div>
                        <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-14 text-center">
                            <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/backed_science.svg"
                                alt="dermatologist">
                            <span>Backed by Science </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.choose-treatment.name",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    }
  ],
  "presets": [
    {
      "name": "t:sections.choose-treatment.name"
    }
  ]
}
{% endschema %}