{% doc %}
  Renders a compare section.
{% enddoc %}

<!-- Section eye patches -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/eye-patches/eye-patch.css" />
<div class="eye-patch-care qure__section"
    style="--section-padding-top:80px;--section-padding-bottom:80px; --section-padding-top-mob:30px;--section-padding-bottom-mob:30px;">
    <div class="container container-small" style="--container-width:980px">
        <div class="qure__section-header text-center mb-60">
            <h2 class="qure__section-heading">A mist that does more than refresh</h2>
        </div>
        <div class="d-flex custom__grid" style="--column-gap:40px; --column-gap-mobile:0px;">
            <div class="col custom__block">
                <div class="patch-card-block">
                    <div class="patch-card-img mb-md-24 overflow-hidden position-relative">
                        <img src="https://qureskincaredns-main.com/sections/isolated/eye-patches/images/mist_img_1.webp"
                            alt="Micro-Infusion Targeted Patches" class="img-fluid rounded-10 w-100">
                    </div>
                    <div class="patch-card-content">
                        <div class="text-center my-30">
                            <h4>Qure Dermal Mist</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="patch-versus-col custom__block">
                <div class="patch-versus">VS</div>
            </div>
            <div class="col custom__block">
                <div class="patch-card-block">
                    <div class="patch-card-img mb-md-24 overflow-hidden position-relative">
                        <img src="https://qureskincaredns-main.com/sections/isolated/eye-patches/images/mist_img_2.webp"
                            alt="Micro-Infusion Targeted Patches" class="img-fluid rounded-10 w-100">
                    </div>
                    <div class="patch-card-content">
                        <div class="text-center my-30">
                            <h4>Traditional Skin Mists</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex custom__grid patch-list-row justify-content-between patch-row"
            style="--column-gap:40px; --column-gap-mobile:20px;">
            <div class="col custom__block">
                <div class="patch-list patch-check">Powered by Hypochlorous Acid and enriched with Chamomile</div>
            </div>
            <div class="col custom__block">
                <div class="patch-list patch-cross">Often alcohol-based or contain added fragrances</div>
            </div>
        </div>
        <div class="d-flex custom__grid patch-list-row justify-content-between patch-row"
            style="--column-gap:40px; --column-gap-mobile:20px;">
            <div class="col custom__block">
                <div class="patch-list patch-check">Designed for face, body & anywhere your skin touches</div>
            </div>
            <div class="col custom__block">
                <div class="patch-list patch-cross">Primarily designed for facial use only</div>
            </div>
        </div>
        <div class="d-flex custom__grid patch-list-row justify-content-between patch-row"
            style="--column-gap:40px; --column-gap-mobile:20px;">
            <div class="col custom__block">
                <div class="patch-list patch-check">Hypoallergenic and suitable for sensitive skin</div>
            </div>
            <div class="col custom__block">
                <div class="patch-list patch-cross">May contain irritants not ideal for sensitive skin</div>
            </div>
        </div>
        <div class="d-flex custom__grid patch-list-row justify-content-between patch-row"
            style="--column-gap:40px; --column-gap-mobile:20px;">
            <div class="col custom__block">
                <div class="patch-list patch-check">Clinically proven to reduce bacteria and inflammation</div>
            </div>
            <div class="col custom__block">
                <div class="patch-list patch-cross">Usually focused on hydration without these benefits</div>
            </div>
        </div>
        <div class="d-flex custom__grid patch-list-row justify-content-between patch-row"
            style="--column-gap:40px; --column-gap-mobile:20px;">
            <div class="col custom__block">
                <div class="patch-list patch-check">Light, natural scent that dissipates quickly</div>
            </div>
            <div class="col custom__block">
                <div class="patch-list patch-cross">Often has a fragrance which can cause irritation </div>
            </div>
        </div>
    </div>
</div>
<!-- Section eye patches -->

{% schema %}
{
  "name": "t:sections.compare.name",
  "settings": [

  ],
  "presets": [
    {
      "name": "t:sections.compare.name"
    }
  ]
}
{% endschema %}