{% doc %}
  Renders a content brief section 
{% enddoc %}

<div class="qure__section" style="--section-padding-bottom: 30px;">
    <div class="container">
        <div class="p-lg-30 rounded-10 qure__info-block">
            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.content-brief.name",
  "settings": [
    {
        "type": "richtext",
        "id": "text",
        "label": "t:common.text"
    }
  ],
  "presets": [
    {
        "name": "t:sections.content-brief.name"
    }
  ]
}
{% endschema %}