{% doc %}
Renders a text block section on custom form page
{% enddoc %}

<div class="qure__section" style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container">
        <div class="qure_prof_rev">
            <div class="row">
                <div class="col-12">
                    <div class="qure_prof_content text-center">
                        {% if section.settings.heading != blank %}
                            <h3 class="mb-30">{{ section.settings.heading }}</h3>
                        {% endif %}
                        {% if section.settings.text != blank %}
                            {{ section.settings.text | replace: '<strong>', '<span style="background: #c8e6dc;">' | replace: '</strong>', '</span>' }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.text-block.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
        }
    ]
}
{% endschema %}