{% doc %}
  Renders a device comparison section
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/serum-compare/section-serum-compare.css" />
   <div class="qure__section compare_section color-background"
      style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-background: #F6F6F7; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
      <div class="container">
         <div class="qure__section-header text-center">
            <h2 class="qure__section-heading">How Qure compares</h2>
         </div>
          <div class="compare_listRow qure__eqBox-parent">
            <div class="compare_listHeadings">
               <div class="cp__heading-box" style="--cp-padding:32px; --cp-padding-mob:20px;">    
                  <div class="cp__heading-item">Wearability</div>
                  <div class="cp__heading-item">Hands-Free</div>
                  <div class="cp__heading-item color-orange">Targeted Technology</div>
                  <div class="cp__heading-item">Trusted by Experts</div>
                  <div class="cp__heading-item">Value</div>
               </div>
            </div>
            <div class="compare_list_column">
               <div class="swiper qure__swiper" id="qure__swiper-compare-slider" data-section-id="compare-slider"
                  data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="2" data-desktop="3"
                  data-spacing="0" data-pagination-fraction="true" data-arrowright="compare-arrow-right"
                  data-arrowleft="compare-arrow-left" data-pagination="compare-pagination">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="cp__compare-box compare-box-active">
                           <div class="cp__compare-inner">
                            <div class="cp__compare-header position-relative qure__eqBox-child">
                                <div class="cp__compare-img"><img
                                    src="https://qureskincaredns.com/sections/isolated/serum-compare/images/neck_comp_1.webp" alt="neck device"
                                    class="ctm-width" style="--ctm-width: 180px; --ctm-width-mob: 100px;" /></div>
                                    <div class="brand_image">
                                    <img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/qure_logo.svg" alt="img-fluid">
                                </div>
                                <h3 class="cp__compare-title" style="--font-h3: 22px; --font-h3-mob: 18px;">Neck & Décolletage System</h3>
                            </div>
                              
                              <div class="cp__compare-content position-relative pt-20">
                                 <div class="cp__compare-item compare-check">Contoured design that stays in place, no slipping
                                 </div>
                                 <div class="cp__compare-item compare-check">Clip-on wireless controller for total freedom</div>
                                 <div class="cp__compare-item compare-check">Multi-depth light tech to target firmness & tone</div>
                                 <div class="cp__compare-item compare-check">Endorsed by 50+ board-certified dermatologists</div>
                                 <div class="cp__compare-item compare-check">Mid-range with high-end features</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="cp__compare-box">
                           <div class="cp__compare-inner">
                            <div class="cp__compare-header position-relative qure__eqBox-child">
                              <div class="cp__compare-img"><img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/neck_comp_2.webp"
                                    alt="neck comp" class="ctm-width" style="--ctm-width: 120px; --ctm-width-mob: 100px;" /></div>
                                <div class="brand_image">
                                    <img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/omnilux.svg" alt="img-fluid">
                                </div>
                                <h3 class="cp__compare-title" style="--font-h3: 22px; --font-h3-mob: 18px;">Contour Neck & Décolleté</h3>
                            </div>
                              <div class="cp__compare-content position-relative pt-20">
                                 <div class="cp__compare-item compare-close">Flimsy silicone wrap that may slip or bunch</div>
                                 <div class="cp__compare-item compare-close">Wired controller, best used lying down</div>
                                 <div class="cp__compare-item compare-check">Basic red and near-infrared light</div>
                                 <div class="cp__compare-item compare-close">Backed by 6 dermatologists</div>
                                 <div class="cp__compare-item compare-close">Premium price, fewer features</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="cp__compare-box cp__compare-box-last">
                           <div class="cp__compare-inner">
                            <div class="cp__compare-header position-relative qure__eqBox-child">
                              <div class="cp__compare-img"><img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/neck_comp_3.webp"
                                    alt="neck comp" class="ctm-width" style="--ctm-width: 120px; --ctm-width-mob: 100px;" /></div>
                            <div class="brand_image">
                                <img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/current_body.svg" alt="img-fluid">
                            </div>
                            <h3 class="cp__compare-title" style="--font-h3: 22px; --font-h3-mob: 18px;">Neck & Déc Perfector</h3>
                            </div>
                              <div class="cp__compare-content position-relative pt-20"> 
                                 <div class="cp__compare-item compare-close">Flimsy silicone wrap that may slip or bunch</div>
                                 <div class="cp__compare-item compare-close">USB plug-in, limits movement</div>
                                 <div class="cp__compare-item compare-check">Basic red and near-infrared light</div>
                                 <div class="cp__compare-item compare-close">No dermatologist backing</div>
                                 <div class="cp__compare-item compare-close">Premium price, fewer features</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4">
            <div class="qure-swiper-button-prev qure-swiper-arrow compare-arrow-left mt-30"><i
                  class="fa-regular fa-angle-left"></i></div>
            <div class="swiper-pagination compare-pagination position-relative bottom-0 w-auto mt-30"></div>
            <div class="qure-swiper-button-next qure-swiper-arrow compare-arrow-right mt-30"><i
                  class="fa-regular fa-angle-right"></i></div>
         </div>
      </div>
   </div>
   <script>
	 document.addEventListener("DOMContentLoaded", function () {
		loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
        loadScriptOnce('equal-height', 'https://qureskincaredns.com/assets/js/equal-height.js');
	 });
    </script>


{% schema %}
{
    "name": "t:sections.device-comparison-3.name",
        "settings": [
    
  ],
  "presets": [
    {
      "name": "t:sections.device-comparison-3.name"
    }
  ]
}
{% endschema %}