<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/serum-compare/section-serum-compare.css" />
   <div class="qure__section compare_section color-background" style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-background: #F6F6F7; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
      <div class="container container-small" style="--container-width:850px">
         <div class="qure__section-header text-md-center mb-10">
            <h2 class="qure__section-heading">Give yourself a Clinic Quality glow up without the Clinical Prices</h2>
         </div>
      </div>
      <div class="container">
         <div class="compare_listRow qure__eqBox-parent">
            <div class="compare_listHeadings">
               <div class="cp__heading-box">
                  <div class="cp__heading-item">Results in</div>
                  <div class="cp__heading-item">Customized</div>
                  <div class="cp__heading-item color-orange">Skin Safe</div>
                  <div class="cp__heading-item ">Cost</div>
               </div>
            </div>
            <div class="compare_list_column">
               <div class="swiper qure__swiper" id="qure__swiper-compare-slider" data-section-id="compare-slider"
                  data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="2" data-desktop="3"
                  data-spacing="0" data-pagination-fraction="true" data-arrowright="compare-arrow-right"
                  data-arrowleft="compare-arrow-left" data-pagination="compare-pagination">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="cp__compare-box compare-box-active">
                           <div class="cp__compare-inner">
                              <div class="cp__compare-header position-relative qure__eqBox-child">
                                 <div class="cp__compare-img"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/serum-compare/images/micro-infusion-system.webp" alt="micro infusion system"
                                       class="img-fluid" /></div>
                                 <h3 class="cp__compare-title" style="--font-h3:22px; --font-h3-mob:18px;">Qure <br />Micro-Infusion System
                                 </h3>
                              </div>
                              <div class="cp__compare-content position-relative">
                                 <div class="cp__compare-item compare-check">As little as 1-2 days</div>
                                 <div class="cp__compare-item compare-check">Tailored to your needs</div>
                                 <div class="cp__compare-item compare-check">Minimal downtime & virtually painless</div>
                                 <div class="cp__compare-item compare-check">
                                     $20 per treatment</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="swiper-slide">
                           <div class="cp__compare-box">
                              <div class="cp__compare-inner">
                                 <div class="cp__compare-header position-relative">
                                    <div class="cp__compare-img"><img
                                          src="https://qureskincaredns-main.com/sections/isolated/serum-compare/images/clinic-treatment.webp" alt="clinic treatment"
                                          class="img-fluid" /></div>
                                    <h3 class="cp__compare-title" style="--font-h3:22px; --font-h3-mob:18px;">Micro-Infusion<br />Clinic
                                       Treatment</h3>
                                 </div>
                                 <div class="cp__compare-content position-relative pt-20">

                                    <div class="cp__compare-item compare-check">As little as 1-2 days</div>
                                    <div class="cp__compare-item compare-check">Tailored to your needs</div>
                                    <div class="cp__compare-item compare-check">Minimal downtime</div>
                                    <div class="cp__compare-item compare-check">$300+ per treatment</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="swiper-slide">
                           <div class="cp__compare-box cp__compare-box-last">
                              <div class="cp__compare-inner">
                                 <div class="cp__compare-header position-relative">
                                    <div class="cp__compare-img">
                                       <img src="https://qureskincaredns-main.com/sections/isolated/serum-compare/images/home-treatment.webp" alt="home treatment"
                                          class="img-fluid" />
                                    </div>
                                    <h3 class="cp__compare-title" style="--font-h3:22px; --font-h3-mob:18px;">Derma Roller<br />At-Home
                                       Treatment</h3>
                                 </div>
                                 <div class="cp__compare-content position-relative pt-20">
                                    <div class="cp__compare-item compare-close">A few days</div>
                                    <div class="cp__compare-item compare-close">Not customized</div>
                                    <div class="cp__compare-item compare-close">Potential side effects</div>
                                    <div class="cp__compare-item compare-check">
                                       < $10 per treatment</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4">
                  <div class="qure-swiper-button-prev qure-swiper-arrow compare-arrow-left mt-30"><i
                        class="fa-regular fa-angle-left"></i></div>
                  <div class="swiper-pagination compare-pagination position-relative bottom-0 w-auto mt-30"></div>
                  <div class="qure-swiper-button-next qure-swiper-arrow compare-arrow-right mt-30"><i
                        class="fa-regular fa-angle-right"></i></div>
               </div>
            </div>
         </div>
   </div>
   <script>
      document.addEventListener("DOMContentLoaded", function () {
         loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
         loadScriptOnce('equal-height', 'https://qureskincaredns-main.com/assets/js/equal-height.js');
      });
   </script>

   {% schema %}
{
    "name": "t:sections.device-comparison-1.name",
        "settings": [
    
  ],
  "presets": [
    {
      "name": "t:sections.device-comparison-1.name"
    }
  ]
}
{% endschema %}