{% doc %}
  Renders a device comparison section
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/serum-compare/section-serum-compare.css" />
    <div class="qure__section compare_section color-background"
        style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-background: #F6F6F7; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
        <div class="container">
            <div class="qure__section-header text-center">
                <h2 class="qure__section-heading">How Q-Rejuvalight compares</h2>
            </div>
            <div class="compare_listRow qure__eqBox-parent">
                <div class="compare_listHeadings">
                    <div class="cp__heading-box">
                        <div class="cp__heading-item">Treatment Time</div>
                        <div class="cp__heading-item">Customizable</div>
                        <div class="cp__heading-item">Cordless</div>
                        <div class="cp__heading-item color-orange">Wavelengths</div>
                        <div class="cp__heading-item">Cost</div>
                    </div>
                </div>
                <div class="compare_list_column">
                    <div class="swiper qure__swiper" id="qure__swiper-compare-slider" data-section-id="compare-slider"
                        data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="2" data-desktop="3"
                        data-spacing="0" data-pagination-fraction="true" data-arrowright="compare-arrow-right"
                        data-arrowleft="compare-arrow-left" data-pagination="compare-pagination">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="cp__compare-box compare-box-active">
                                    <div class="cp__compare-inner">
                                        <div class="cp__compare-header position-relative qure__eqBox-child">
                                            <div class="cp__compare-img"><img
                                                    src="https://qureskincaredns.com/sections/isolated/serum-compare/images/q_rejuv_comp_1.webp"
                                                    alt="" class="img-fluid" /></div>
                                            <div class="brand_image">
                                                <img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/qure_logo.svg" alt="img-fluid">
                                            </div>        
                                            <h3 class="cp__compare-title" style="--font-h3:22px;">Q-Rejuvalight Pro</h3>
                                        </div>
                                        <div class="cp__compare-content position-relative pt-20">
                                            <div class="cp__compare-item compare-check">Quick - just 3 minutes</div>
                                            <div class="cp__compare-item compare-check">Customizable via Qure app</div>
                                            <div class="cp__compare-item compare-check">Wireless & battery-powered</div>
                                            <div class="cp__compare-item compare-check">5 wavelengths</div>
                                            <div class="cp__compare-item compare-check">Mid-range - <strong>$399</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="cp__compare-box">
                                    <div class="cp__compare-inner">
                                        <div class="cp__compare-header position-relative">
                                            <div class="cp__compare-img"><img
                                                    src="https://qureskincaredns.com/sections/isolated/serum-compare/images/q_rejuv_comp_2.webp"
                                                    alt="" class="img-fluid" /></div>
                                            <div class="brand_image">
                                                <img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/omnilux.svg" alt="img-fluid">
                                            </div>        
                                            <h3 class="cp__compare-title" style="--font-h3:22px;">Clear & Contour Masks</h3>
                                        </div>
                                        <div class="cp__compare-content position-relative pt-20">
                                            <div class="cp__compare-item compare-close">Slow - 10+ minutes</div>
                                            <div class="cp__compare-item compare-close">One mode for full face</div>
                                            <div class="cp__compare-item compare-close">Wired & corded controller</div>
                                            <div class="cp__compare-item compare-close">2 basic wavelengths</div>
                                            <div class="cp__compare-item compare-close">Mid-range - <strong>$395</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="cp__compare-box cp__compare-box-last">
                                    <div class="cp__compare-inner">
                                        <div class="cp__compare-header position-relative">
                                            <div class="cp__compare-img">
                                                <img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/q_rejuv_comp_3.webp"
                                                    alt="" class="img-fluid" />
                                            </div>
                                            <div class="brand_image">
                                                <img src="https://qureskincaredns.com/sections/isolated/serum-compare/images/dr-dennis-gross.svg" alt="img-fluid">
                                            </div>
                                            <h3 class="cp__compare-title" style="--font-h3:22px;">Spectrum Lite Face Wear</h3>
                                        </div>
                                        <div class="cp__compare-content position-relative pt-20">
                                            <div class="cp__compare-item compare-check">Quick - 3 minutes</div>
                                            <div class="cp__compare-item compare-close">Two treatment modes</div>
                                            <div class="cp__compare-item compare-close">Wireless & cordfree</div>
                                            <div class="cp__compare-item compare-close">4 basic wavelengths</div>
                                            <div class="cp__compare-item compare-check">Premium - <strong>$455</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4">
                <div class="qure-swiper-arrow compare-arrow-left mt-30"><i
                        class="fa-regular fa-angle-left"></i></div>
                <div class="swiper-pagination compare-pagination position-relative bottom-0 w-auto mt-30"></div>
                <div class="qure-swiper-arrow compare-arrow-right mt-30"><i
                        class="fa-regular fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('main-slider', 'https://qureskincaredns.com/assets/js/main-slider.js');
            loadScriptOnce('equal-height', 'https://qureskincaredns.com/assets/js/equal-height.js');
        });
    </script>

{% schema %}
{
    "name": "t:sections.device-comparison.name",
        "settings": [
    
  ],
  "presets": [
    {
      "name": "t:sections.device-comparison.name"
    }
  ]
}
{% endschema %}