{% doc %}
  Renders a faq section.
{% enddoc %}


<!-- Faq section Start -->
<div id="faq" class="faq_section qure__section color-background"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-background: #F6F6F7; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container">
        <div class="qure__section-header text-center">
            <h2 class="qure__section-heading">Have questions?</h2>
        </div>
        <div class="faq_content">
            <div class="accordion accordion-flush" id="qure_faq-main">
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-1" aria-expanded="false"
                        aria-controls="qure_faq-1">
                        What makes Dermal Mist different from other facial sprays?
                    </button>
                    <div id="qure_faq-1" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Unlike many face mists that are fragranced or water-heavy with little skin benefit,
                                our Dermal Mist is formulated specifically for sensitive and post-treatment skin.
                            </p>
                            <p>Dermal Mist is powered by hypochlorous acid and enriched with chamomile, offering
                                anti-inflammatory and antibacterial benefits without any harsh chemicals. It's pH
                                balanced and gentle enough for all skin types, making it a versatile addition to
                                your daily routine. </p>
                            <p>It hydrates without irritation, soothes redness, and helps your skin bounce back
                                faster. </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-2" aria-expanded="false"
                        aria-controls="qure_faq-2">
                        What are the benefits of Dermal Mist and hypochlorous acid?
                    </button>
                    <div id="qure_faq-2" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Our Dermal Mist is powered by hypochlorous acid — a gentle yet effective ingredient
                                known for its soothing, antibacterial, and barrier-supporting properties. </p>
                            <p>Hypochlorous acid (HOCl) helps soothe redness, reduce inflammation, and accelerate
                                healing, making it especially useful for sensitive, acne-prone, or post-treatment
                                skin. </p>
                            <p>Unlike harsher actives, HOCl supports the skin barrier while eliminating harmful
                                bacteria — all without causing dryness or disrupting the skin’s natural balance. It
                                is safe for all skin types, it’s a gentle but effective way to calm, protect, and
                                refresh the skin.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-3" aria-expanded="false"
                        aria-controls="qure_faq-3">
                        How should I incorporate Dermal Mist into my skincare routine?
                    </button>
                    <div id="qure_faq-3" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>You can use Dermal Mist morning and evening as a purifying step before applying
                                treatments. It’s also great for refreshing your skin throughout the day,
                                post-workout, or to disinfect surfaces such as your pillow and your skincare tools.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-4" aria-expanded="false"
                        aria-controls="qure_faq-4">
                        What’s the concentration of hypochlorous acid in Dermal Mist?
                    </button>
                    <div id="qure_faq-4" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Dermal Mist contains a precise 0.02% concentration of hypochlorous acid, which is
                                effective enough to deliver
                                antibacterial and anti-inflammatory benefits while remaining gentle on the skin.
                            </p>
                            <p>We don’t add any fragrances, so you may notice the light, natural scent of
                                hypochlorous acid. This should fade soon after spraying.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-5" aria-expanded="false"
                        aria-controls="qure_faq-5">Can I use Dermal Mist on sensitive skin?</button>
                    <div id="qure_faq-5" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Absolutely. Dermal Mist is dermatologically tested, hypoallergenic, and formulated
                                specifically to be kind to even the most sensitive skin. It’s designed to soothe,
                                purify, and protect without causing irritation. </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-6" aria-expanded="false"
                        aria-controls="qure_faq-6">Is this product vegan and cruelty-free?</button>
                    <div id="qure_faq-6" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Yes, Dermal Mist is both vegan and cruelty-free. We are committed to creating
                                products that are kind to both your skin and the environment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-md-50 pt-40 d-flex align-items-center justify-content-center gap-3">
                <h6 class="fm-body fw-500 mb-0">Don’t see your question?</h6>
                <a href="" class="btn btn-sm btn--secondary">Ask us <span><img src="https://qureskincaredns-main.com/assets/images/arrow_right.svg" alt=""></span></a>
            </div>
        </div>
    </div>
</div>
<!-- Faq section end -->


{% schema %}
{
  "name": "t:sections.faq.name",
  "settings": [

  ],
  "presets": [
    {
      "name": "t:sections.faq.name"
    }
  ]
}
{% endschema %}