<!-- Section Subscribe Form -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/subscribe-form/subscribe-form.css" />
<div class="qure__section qure__subcribe-form color-background"
   style="--section-padding-top: 50px; --section-padding-bottom: 50px; --section-background:#212428;">
   <div class="container" style="--column-gap:30px; --column-gap-mobile:30px;">
      <div class="row justify-content-between custom__grid">
         <!-- Email Signup -->
         <div class="col-md-5 offset-md-2 custom__block">
            <div class="qure__section_form-content text-center">
               <div class="qure__section-header" style="--heading-size:32px; --heading-color:#fff">
                  <h2 class="qure__section-heading">{{ 'footer.settings.subscribe_text' | t }}</h2>
               </div>
               <form class="qure__subcribe-submit position-relative d-flex rounded-pill">
                  <input type="email" class="qure__subcribe-input form-control rounded-pill" placeholder="{{ 'footer.settings.email_placeholer' | t }}">
                  <button class="btn qure__subcribe-button" type="submit"><i
                        class="fa-sharp fa-regular fa-arrow-right"></i></button>
               </form>
            </div>
         </div>
         <!-- Social Icons -->
         <div class="col-md-5 custom__block">
            <div class="qure__section-header text-center" style="--heading-size:32px;--heading-color:#fff;">
               <h2 class="qure__section-heading">{{ 'footer.settings.follow_us_text' | t }}</h2>
            </div>
            <div class="quer__social d-flex justify-content-center gap-5">
               <a href="#" class="social-link"><i class="icon qure-instagram"></i></a>
               <a href="#" class="social-link"><i class="icon qure-facebook"></i></a>
               <a href="#" class="social-link"><i class="icon qure-tik-tok"></i></a>
               <a href="#" class="social-link"><i class="icon qure-youtube"></i></a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Section Subscribe Form End-->