<!-- FOOTER PROMO -->
<link rel="stylesheet" href="https://qureskincaredns.com/sections/new/footer-promo/footer-promo.css" />
<section class="footer-promo">
    <div class="container">
        <div class="footer-promo__content">
            <div class="c-subscribe-form">
                <h2>{{ 'footer.settings.subscribe_text' | t }}</h2>
                {% render 'klaviyo-subscription-form' %}
            </div>
            <div class="c-follow-us">
                <h2>{{ 'footer.settings.follow_us_text' | t }}</h2>
                <ul>
                    <li><a href="https://www.instagram.com/qureskincare/"><i class="e-icon e-icon-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/Qureskincare/"><i class="e-icon e-icon-facebook"></i></a></li>
                    <li><a href="https://www.tiktok.com/@qureskincare?lang=en"><i class="e-icon e-icon-tiktok"></i></a></li>
                    <li><a href="https://youtube.com/channel/UCGTi3BZn8GVlu30NtQ-reYA"><i class="e-icon e-icon-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER PROMO END -->