{% include 'get-cart-global-data' %}

<!-- drawer cart start -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/assets/css/component-drawer.css" />
<div class="offcanvas offcanvas-end" tabindex="-1" id="cartCanvas" aria-labelledby="cartCanvasLabel">
   <div id="cart-dynamic-content" class="offcanvas-dynamic-content">
      {% render '__endrock_timerCountDown', timer_location: "sidecart" %}
      <div class="offcanvas-header border-btm-black">
         <h5 class="cart-drawer-heading fs-18 fm-body fw-600 m-0">{{ 'cart.drawer.settings.header' | t }} ({{ cart.item_count }})</h5>
         <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-regular fa-xmark"></i></button>
      </div>
      <div class="offcanvas-body p-0">
         <div class="cart-content-area d-flex justify-content-between flex-column">
            <div class="minicart-loop custom-scrollbar">
               {% include 'footer-cart-drawer-gift' %}
               {% include '__endrock_sideCartGamification' %}

               {% if cart.item_count == 0 %}
                  {% render 'footer-cart-drawer-empty' %}
               {% else %}
                  {% for item in cart.items %}
                     {% include 'get-cart-item-data' %}
                     {% include 'footer-cart-drawer-item' %}
                  {% endfor %}

                  {% include 'footer-cart-drawer-upsells' %}
               {% endif %}
            </div>
            {% if cart.item_count > 0 %}
               {% include 'footer-cart-drawer-summary' %}
            {% endif %}
         </div>
      </div>
   </div>
</div>
<!-- drawer cart end -->

<script>
   const footer_cart_drawer_template = '{{ template }}';

   document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('footer-cart-drawer-counter', 'https://qureskincaredns-main.com/shopify/js/footer-cart-drawer-counter.js');
   });
</script>

<script src="https://qureskincaredns-main.com/shopify/js/morphdom-umd.min.js" defer="defer"></script>
<script src="https://qureskincaredns-main.com/shopify/js/footer-cart-drawer.js" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.footer-cart-drawer.name",
  "settings": [

  ]
}
{% endschema %}