<!-- Reusable modal for all the wistia videos for all the tab contents -->
<div class="modal c-modal c-modal--wistia" id="reusableWistiaModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="wistiaVideoContainer" class="c-modal__video"></div>
            </div>
        </div>
    </div>
</div>