<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/section-micro-infusion-pdp.css" />
<div class="qure__trageted-patches qure__section" style="--section-padding-top: 40px; --section-padding-bottom: 80px;">
      <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
         <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
               <div class="qure-product-details">
                  <div class="tp-product-gallery qure__swiper-wrapper d-block d-lg-none mb-30">
                     <!-- Galler start-->
                     <div class="swiper qure__product-gallery qure__swiper-gallery swiper-initialized swiper-horizontal" data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="0">
                        <div class="swiper-wrapper" style="--perload-gap: 10px; transition-duration: 0ms; transition-delay: 0ms;" data-nav-thumb="" id="swiper-wrapper-e2ae02e458989a6b" aria-live="polite">
                           <div class="swiper-slide">
                              <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="1" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="trusted_video_card d-block">
                                 <a href="#" data-bs-toggle="modal" data-bs-target="#reusableWistiaModal" data-video-id="bmdx4v17fb" class="filter-card-item filter-card-video slide-image">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp" alt="doctor review" class="img-fluid">
                                 </a>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="2" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="3" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="4" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="5" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="6" class="img-fluid"></div>
                           </div>

                        </div>
                     <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                     <!-- Galler End-->
                     <div class="swiper-thumbnail-with-arrow mt-3">
                        <!-- Thumbnails start-->
                        <div class="qure-swiper-arrow swiper-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-e2ae02e458989a6b" aria-disabled="false"><i class="fa-regular fa-angle-left"></i></div>
                        <div class="swiper qure__product-gallery tp-thumbnails-desktop qure__swiper-gallery-thumbnails swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-thumbs" data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="10">
                           <div class="swiper-wrapper" id="swiper-wrapper-5a7ef933a10897dbd" aria-live="polite" style="transition-duration: 0ms; transition-delay: 0ms;">
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="1" class="img-fluid"></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp" alt="1" class="img-fluid">
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="2" class="img-fluid"></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="3" class="img-fluid"></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="4" class="img-fluid"></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="5" class="img-fluid"></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="6" class="img-fluid"></div>
                              </div>
                           </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <div class="qure-swiper-arrow swiper-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-e2ae02e458989a6b" aria-disabled="false"><i class="fa-regular fa-angle-right"></i></div>
                     </div>
                     <!-- Thumbnails End-->
                  </div>

                  <div class="patch__product-rating d-inline-flex align-items-center gap-3 fs-16 mb-20">
                     <img src="https://qureskincaredns-main.com/sections/isolated/clean-water/images/cyan_blue_rating.svg" class="ctm-width" style="--ctm-width-mob: 90px; --ctm-width:115px" alt="">
                     <span><strong>4.8</strong>/5 Rated by Customers</span>
                  </div>
                  <h1 class="qure__product-title mb-10">The go-to skin treatment for the ultimate confidence booster
                  </h1>
                  <div class="qure__product-action-inner my-30 max-w-ctm" style="--max-w-ctm:500px">
                     <a href="#buy_box" class="add-cart-button product-form__submit btn btn--primary w-100 text-uppercase fs-md-20 fs-18">Get Smoother Skin</a>
                  </div>
                  <div class="patch__single-shortdes mt-20">
                     <ul>
                        <li>Helps reduce appearance of fine lines, smooth texture whilst helping to infuse active ingredients into your skin.</li>
                        <li>Virtually painless and performed in the comfort and convenience of your home.</li>
                        <li>Minimal to no downtime with visible results.</li>
                     </ul>
                  </div>

              <div class="qure-filter-cards d-block">
                     <a href="#" data-bs-toggle="modal" data-bs-target="#shower2" class="filter-card-item filter-card-video ctm-width position-relative mt-30 mb-md-0" style="--ctm-width:350px">
                           <div class="filter-card-video-icon align-items-end px-20 py-10">
                              <div class="align-items-center d-flex justify-content-between w-100">
                                 <div class="text-white fs-20">Watch: How To Use</div>
                                 <img src="https://qureskincaredns-main.com/assets/images/play_button.svg" alt="">
                              </div>
                           </div>
                           <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/how_to_use_men.webp" alt="shower" class="img-fluid">
                     </a>
                     <!-- modal start -->
                     <div class="modal fade filter-modal" id="shower2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="shower2Label" style="display: none;" aria-hidden="true">
                           <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
                              <div class="modal-content">
                                 <div class="modal-header border-0">
                                       <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                 </div>
                                 <div class="modal-body">
                                       <style>
                                          wistia-player[media-id='8ymvdqzx92']:not(:defined) {
                                             background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/8ymvdqzx92/swatch');
                                             display: block;
                                             filter: blur(5px);
                                             padding-top: 177.78%;
                                          }
                                       </style>
                                       <div class="filter-modal-video">
                                          <wistia-player media-id="8ymvdqzx92" seo="false" aspect="0.5625" unique-id="wistia-8ymvdqzx92-23"></wistia-player>
                                       </div>
                                 </div>
                              </div>
                           </div>
                     </div>
                     <!-- modal end-->
                  </div>

                
               </div>
            </div>
            <div class="col-lg-6 custom__block">
               <div class="tp-product-gallery qure__swiper-wrapper d-none d-lg-block">
                  <!-- Galler start-->
                  <div class="swiper qure__product-gallery qure__swiper-gallery swiper-initialized swiper-horizontal" data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="0">
                     <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb="" id="swiper-wrapper-a3f3386334ae7172" aria-live="polite">
                        <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 13" style="width: 520px;">
                           <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="1" class="img-fluid"></div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 13" style="width: 520px;">
                           <div class="trusted_video_card d-block">
                              <a href="#" data-bs-toggle="modal" data-bs-target="#reusableWistiaModal" data-video-id="bmdx4v17fb" class="filter-card-item filter-card-video slide-image">
                                 <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp" alt="doctor review" class="img-fluid">
                              </a>
                           </div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="3 / 13" style="width: 520px;">
                           <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="2" class="img-fluid"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="4 / 13" style="width: 520px;">
                           <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="3" class="img-fluid"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="5 / 13" style="width: 520px;">
                           <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="4" class="img-fluid"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="6 / 13" style="width: 520px;">
                           <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="5" class="img-fluid"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="7 / 13" style="width: 520px;">
                           <div class="slide-image"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="6" class="img-fluid"></div>
                        </div>

                     </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                  <!-- Galler End-->
                  <div class="swiper-thumbnail-with-arrow mt-4">
                     <!-- Thumbnails start-->
                     <div class="qure-swiper-arrow swiper-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-a3f3386334ae7172" aria-disabled="true"><i class="fa-regular fa-angle-left"></i></div>
                     <div class="swiper qure__product-gallery tp-thumbnails-desktop qure__swiper-gallery-thumbnails swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-thumbs" data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="10">
                        <div class="swiper-wrapper" id="swiper-wrapper-d8969d79c46ed756" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                           <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="1 / 13" style="width: 70px; margin-right: 10px;">
                              <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="1" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-next" role="group" aria-label="2 / 13" style="width: 70px; margin-right: 10px;">
                              <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp" alt="1" class="img-fluid">
                              </div>
                           </div>
                           <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" role="group" aria-label="3 / 13" style="width: 70px; margin-right: 10px;">
                              <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="2" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" role="group" aria-label="4 / 13" style="width: 70px; margin-right: 10px;">
                              <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="3" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide" role="group" aria-label="5 / 13" style="width: 70px; margin-right: 10px;">
                              <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="4" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide" role="group" aria-label="6 / 13" style="width: 70px; margin-right: 10px;">
                              <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="5" class="img-fluid"></div>
                           </div>
                           <div class="swiper-slide" role="group" aria-label="7 / 13" style="width: 70px; margin-right: 10px;">
                              <div class="slide-thumbnail"><img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="6" class="img-fluid"></div>
                           </div>
                        </div>
                     <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                     <div class="qure-swiper-arrow swiper-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-a3f3386334ae7172" aria-disabled="false"><i class="fa-regular fa-angle-right"></i></div>
                  </div>
                  <!-- Thumbnails End-->
               </div>
               <div class="product__label mt-0 mt-md-40 mb-15"> Jump To </div>
               <div class="patch-badge-group d-flex flex-wrap gap-3">
                  <a href="#image_text" class="patch-badge">The Results <i class="fa-regular fa-arrow-down fs-14"></i></a>
                  <a href="#dual_action" class="patch-badge">How It Works <i class="fa-regular fa-arrow-down fs-14"></i></a>
                  <a href="#how_to_use" class="patch-badge">How To Use <i class="fa-regular fa-arrow-down fs-14"></i></a>
                  <a href="#science_backed" class="patch-badge">Serum Guide <i class="fa-regular fa-arrow-down fs-14"></i></a>
                  <a href="#trusted_recommended_by_experts" class="patch-badge">Expert Reviews <i class="fa-regular fa-arrow-down fs-14"></i></a>
                  <a href="#faqs" class="patch-badge">FAQs <i class="fa-regular fa-arrow-down fs-14"></i></a>
               </div>
            </div>
         </div>
      </div>

      <!-- Reusable Wistia Modal (outside slider) -->
      <div class="modal fade filter-modal" id="reusableWistiaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
            <div class="modal-content">
               <div class="modal-header border-0">
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                     <i class="fa-solid fa-xmark"></i>
                  </button>
               </div>
               <div class="modal-body">
                  <div id="wistiaVideoContainer" class="filter-modal-video"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script>
      document.addEventListener("DOMContentLoaded", function () {
         loadScriptOnce('slider-script', 'assets/js/slider-with-thumb.js');
         loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
      });
   </script>




{% schema %}
{
    "name": "t:sections.get-smoother-skin.name",
    "settings": [
    
    ],
    "presets": [
    {
        "name": "t:sections.get-smoother-skin.name"
    }
    ]
}
{% endschema %}