<link href="https://qureskincaredns-main.com/sections/global/banner-with-text/banner-text.css" rel="stylesheet" type="text/css">
<div class="qure__section banner-with-text color-background" style="--section-background:#212428;--section-padding-top:0px; --section-padding-bottom:0px;--section-padding-top-mob:0; --section-padding-bottom-mob:0;">
      <div class="offset-right-container">
         <div class="row custom__grid align-items-center my-0" style="--column-gap:100px; --column-gap-mobile:100px;">
            <div class="col-md-5 custom__block">
                  <div class="banner-with-text-content">
                     <h2 class="banner-text--heading text-white">Feeling good in your skin is not a privilege – it’s a right</h2>
                     <div class="banner-text--des text-white" style="--text-mt: 32px; --text-mb: 32px;">
                           <p>At Qure, we're redefining beauty boundaries by making professional clinical treatments accessible to everyone from the comfort of peoples home—without the clinical price tag.</p>
                     </div>
                     <a href="#" class="banner-text--button btn btn--primary-white">Read Our Story</a>
                  </div>
               </div> 
                <div class="col-md-7 custom__block py-0">
                  <div class="banner-text--media banner-text-mob-full mt-10 mt-md-0">
                     <img src="https://qureskincaredns-main.com/sections/global/banner-with-text/images/collage.webp" class="img-fluid w-100" alt="">
                  </div>
               </div>
         </div>
      </div>
</div>

{% schema %}
{
  "name": "t:sections.index-ready-our-story.name",
  "settings": [

  ]
}
{% endschema %}