{% doc %}
  Renders a marquee logos section.
{% enddoc %}


<link href="https://qureskincaredns-main.com/sections/isolated/marquee-logos/marquee-logos.css" rel="stylesheet">
<div class="qure__section qure__logos color-background" style="--section-padding-top: 40px; 
        --section-padding-bottom: 40px; 
        --section-background:#F6F6F7;
        --section-padding-top-mob:30px;
        --section-padding-bottom-mob:30px">
    <div class="container">
        <div class="row align-items-center text-center">
        <div class="marquee-row">
            <div class="marquee-block marquee1">
                <ul class="marquee-item-list">
                    {% for block in section.blocks %}
                        {% if block.type == 'carousel' %}
                            {% if block.settings.image != blank %}
                                <li>
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "t:sections.logos.name",
  "blocks": [
    {
        "type": "carousel",
        "name": "t:common.carousel",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logos.name"
    }
  ]
}
{% endschema %}