{% doc %}
Renders a notification section for microinfusion faq page.
{% enddoc %}

<div class="bg-black text-center fs-18 py-13 py-lg-16 fw-500 text-white">
    {% if section.settings.heading != blank %}
        <span>{{ section.settings.heading }}</span>
    {% endif %}
</div>

{% schema %}
{
    "name": "t:sections.notification-bar.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    }
    ]
}
{% endschema %}