{% doc %}
  Renders a product header section
{% enddoc %}

{% include 'get-product-data' %}

<!-- BUY SECTION -->
<link rel="stylesheet" href="https://qureskincaredns.com/sections/new/hero-product/hero-product.css" />
<section class="hero-product" id="hero-product">
    <div class="hero-product__container container">
        <div class="hero-product__gallery">
            {% render 'n-product-page-slider', product: product, page: blank, element_id: '#hero-product', slidesPerView: 1, spaceBetween: 16 %}
            {% render 'n-product-page-slider-thumbs', product: product, page: blank, slidesPerView: 'auto', spaceBetween: 12 %}
        </div>
        <div class="hero-product__main">
            {% if section.settings.rating != blank %}
                {% render 'n-product-rating', product: product %}
            {% endif %}

            {% if section.settings.seo_heading != blank %}
                <p>{{ section.settings.seo_heading }}</p>
            {% endif %}

            {% if section.settings.heading != blank %}
                <h1>{{ section.settings.heading }}</h1>
            {% endif %}

            {% include 'n-product-page-blocks-render', allowed_types: 'saveup-offer,limited-offer,nextships,button,description,price,section,results,black-friday-discount,exclusive-offer,money-back,reviews-videos' %}
        </div>
        {% include 'n-product-page-cross-sell', product: product %}
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("youtube-popup", "https://qureskincaredns.com/assets/js-new/swiper.js");
    });
</script>
<!-- BUY SECTION END -->

{% render 'product-data-json', product: product %}

{% schema %}
{
    "name": "t:sections.product-header.name",
    "settings": [
        {
            "type": "text",
            "id": "seo_heading",
            "label": "t:common.seo_heading"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "checkbox",
            "id": "rating",
            "label": "t:common.rating",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "limited",
            "label": "t:common.limited",
            "default": false
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "t:common.description"
        },
        {
            "type": "checkbox",
            "id": "reserved",
            "label": "t:common.reserved",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "soldout",
            "label": "t:common.soldout",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "jumpto",
            "name": "t:common.jumpto",
            "limit": 10,
            "settings": [
                {
                    "type": "text",
                    "id": "button-label",
                    "label": "t:common.button-label"
                },
                {
                    "type": "url",
                    "id": "button-url",
                    "label": "t:common.button-url"
                }
            ]
        },
        {
            "type": "results",
            "name": "t:common.results",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "text",
                    "id": "text1",
                    "label": "t:common.text"
                },
                {
                    "type": "text",
                    "id": "text2",
                    "label": "t:common.text"
                },
                {
                    "type": "text",
                    "id": "text3",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "section",
            "name": "t:common.section",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "section_id",
                    "label": "t:common.section_id"
                }
            ]
        },
        {
            "type": "money-back",
            "name": "t:common.money-back",
            "limit": 1,
            "settings": []
        },
        {
            "type": "reviews-videos",
            "name": "t:common.reviews-videos",
            "limit": 1,
            "settings": []
        },
        {
            "type": "exclusive-offer",
            "name": "t:common.exclusive-offer",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "product",
                    "label": "t:common.product"
                },
                {
                    "type": "image_picker",
                    "id": "image_product1",
                    "label": "t:common.image"
                },
                {
                    "type": "text",
                    "id": "product2",
                    "label": "t:common.product"
                },
                {
                    "type": "image_picker",
                    "id": "image_product2",
                    "label": "t:common.image"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "price",
            "name": "t:common.price",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "show_discount",
                    "label": "t:common.show_discount",
                    "default": false
                }
            ]
        },
        {
            "type": "description",
            "name": "t:common.description",
            "limit": 1,
            "settings": []
        },
        {
            "type": "saveup-offer",
            "name": "t:common.saveup-offer",
            "limit": 1,
            "settings": []
        },
        {
            "type": "button",
            "name": "t:common.button",
            "limit": 1,
            "settings": []
        },
        {
            "type": "limited-offer",
            "name": "t:common.limited-offer",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "sum",
                    "label": "t:common.sum"
                },
                {
                    "type": "text",
                    "id": "code",
                    "label": "t:common.code"
                },
                {
                    "type": "range",
                    "id": "days",
                    "min": 1,
                    "max": 30,
                    "step": 1,
                    "unit": "day",
                    "label": "t:common.days",
                    "default": 5
                }
            ]
        },
        {
            "type": "black-friday-discount",
            "name": "t:common.black-friday-discount",
            "limit": 1,
            "settings": [
            ]
        },
        {
            "type": "nextships",
            "name": "t:common.nextships",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "date",
                    "label": "t:common.date"
                },
                {
                    "type": "range",
                    "id": "percent",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:common.percent",
                    "default": 48
                },
                {
                    "type": "text",
                    "id": "date_soldout",
                    "label": "t:common.soldout"
                },
                {
                    "type": "text",
                    "id": "date_reserved",
                    "label": "t:common.reserved"
                }
            ]
        },
        {
            "type": "gallery-sticky-video",
            "name": "t:common.gallery-sticky-video",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "video_url",
                    "label": "t:common.video-url"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "t:sections.product-header.name"
        }
    ]
}
{% endschema %}