<!-- BASE SECTION -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/base-section/base-section.css" />
{% endif %}
<section class="base-section base-section--reverse base-section--404">
    <div class="container">
        <article>
            <h2>{{ '404.settings.header' | t }}</h2>
            <picture>
                <img src="https://qureskincaredns.com/sections/global/banner-with-text/images/404.svg" alt="Oops" />
            </picture>
            <div>
                <p>{{ '404.settings.text' | t }}</p>
            </div>
            <a href="{{ shop.url }}" class="btn btn--primary">{{ '404.settings.button-label' | t }}</a>
        </article>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("dialog", "https://qureskincaredns.com/assets/js-new/dialog.js");
    });
</script>
<!-- BASE SECTION END -->

{% schema %}
{
    "name": "404",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_own_file",
            "label": "t:common.use-own-file",
            "default": false
        }
    ]
}
{% endschema %}