

!-- HERO PRODUCT -->
<link rel="stylesheet" href="sections/new/hero-product/hero-product.css" />
<section class="hero-product hero-product--reverse hero-product--secondary" id="limited-offer">
    <div class="hero-product__container container">
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#limited-offer .c-swiper-thumbs"
                data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "navigation": {
                            "prevEl": "#limited-offer .c-swiper-button-prev",
                            "nextEl": "#limited-offer .c-swiper-button-next"
                        }
                    }'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/1.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/2.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/3.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/4.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/5.webp" alt="Skin Bundle Offer" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                            "slidesPerView": "auto",
                            "spaceBetween": 12
                        }'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/1.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/2.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/3.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/4.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/5.webp" alt="Skin Bundle Offer" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            <div class="e-pill-badge e-pill-badge--md">Limited Time Offer</div>
            <h2>Q-Rejuvalight Pro LED Mask</h2>
            <h4>+ FREE Neck &amp; Décolletage LED System</h4>
            <div class="c-special-offer" data-label="Special Offer">
                <div class="e-price">
                    <div class="e-price__main">
                        <div class="e-price__current">{$dyn}</div>
                        <div class="e-price__old">{$dyn}</div>
                    </div>
                </div>
                <div class="e-pill-save">Save 20%</div>
            </div>
            <article>
                <ul>
                    <li>Lifetime Warranty</li>
                    <li>FDA Cleared</li>
                </ul>
                <p>Elevate your LED routine with full face and neck coverage for consistent all-over results.</p>
            </article>
            <hr />
            <div class="c-bundle-included">
                <p class="c-bundle-included__tile">What’s Included</p>
                <ul class="c-bundle-included__list">
                    <li>
                        <a href="#">
                            <img src="sections/isolated/led-mask-offer/images/q-rejuvalight.webp" alt="Q-Rejuvalight Pro LED Mask" />
                        </a>
                        <div>
                            <a href="#">Q-Rejuvalight Pro LED Mask</a>
                            <small>FDA-cleared device that treats acne, fine lines, wrinkles and dark spots.</small>
                            <div class="e-price">
                                <div class="e-price__main">
                                    <div class="e-price__current">{$dyn}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="sections/isolated/led-mask-offer/images/led-device.webp" alt="Neck & Décolletage LED Device" />
                        </a>
                        <div>
                            <a href="#">Neck &amp; Décolletage LED Device</a>
                            <small>Clinically proven to smooth and firm where aging shows first.</small>
                            <div class="e-price e-price--highlight">
                                <div class="e-price__main">
                                    <div class="e-price__current">FREE</div>
                                    <div class="e-price__old">{$dyn}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr />
                <div class="c-bundle-included__amount">
                    <p>INSTANT SAVINGS: $299</p>
                    <div class="e-price">
                        <div class="e-price__main">
                            <div class="e-price__current">{$dyn}</div>
                            <div class="e-price__old">{$dyn}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-buy-block">
                <div class="e-progress _e-progress--nearly-full e-progress--low-stock">
                    <p>Low Stock</p>
                    <small>Due to high demand, this offer is only available while stock lasts.</small>
                    <div style="--progress: 82%">82% Sold</div>
                </div>
                <div class="e-get-free-shipping">Order today to lock in your deal and get FREE Shipping</div>
                <div class="c-order-button">
                    <button class="btn btn--primary" type="button">
                        Shop Now &amp; Save {$dyn}
                        <i class="e-icon e-icon-arrow"></i>
                    </button>
                </div>
                <div class="c-buy-block__payment-logos">
                    <img src="assets/images/full-payment-logos.svg" alt="Full payment logos" />
                </div>
                <ul class="e-features-list">
                    <li>
                        <i class="e-icon e-icon-one-year"></i>
                        1-Year Guarantee
                    </li>
                    <li>
                        <i class="e-icon e-icon-shipping-order"></i>
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
        </div>
        <div class="hero-product__extra">
            <div class="c-accordion c-accordion--lines">
                <div class="c-accordion__list">
                    <details class="c-accordion__item">
                        <summary class="c-accordion__summary">Key Benefits</summary>
                        <article class="c-accordion__content">
                            <p>The Q-Rejuvalight Pro is designed to deliver powerful, science-backed LED light technology from the comfort of home. It combines 5 clinically studied wavelengths to address multiple skin concerns with just one device. No downtime, no irritation, and no ongoing cost.</p>
                            <p>By using it just 3 minutes a day, you’re targeting the root causes of skin concerns like breakouts, pigmentation, fine lines, and redness.</p>
                            <p>Visible benefits include*:</p>
                            <ul>
                                <li>Visibly reduced look of breakouts and redness</li>
                                <li>Visibly improved look of uneven tone and signs of environmental exposure</li>
                                <li>Smoother fine lines and wrinkles</li>
                                <li>Faded dark spots and sun damage</li>
                                <li>Firmer, plumper-looking skin</li>
                                <li>Calmer, less reactive skin</li>
                            </ul>
                            <p>With consistent use, Qure supports long-term skin health and helps you maintain a radiant, balanced complexion, all without needing to layer on multiple products or book clinic appointments.</p>
                            <p>*As reported by customers in self-perception surveys and before-and-after images. Individual results may vary</p>
                        </article>
                    </details>
                    <details class="c-accordion__item">
                        <summary class="c-accordion__summary">How It Works</summary>
                        <article class="c-accordion__content">
                            <p>It’s simple and only takes 3 minutes a day:</p>
                            <ol>
                                <li>Start with clean, dry skin</li>
                                <li>Put on the mask and adjust the strap</li>
                                <li>Press and hold the power button for 3 seconds to turn on</li>
                                <li>Press the power button once to activate Pro-Aging mode, or press it twice for Anti-Breakout mode. You can also customize your treatment completely and target specific facial zones via the Qure app.</li>
                            </ol>
                            <p>The mask will automatically shut off after the session. Follow with your regular skincare routine for best results.</p>
                        </article>
                    </details>
                    <details class="c-accordion__item">
                        <summary class="c-accordion__summary">What&#x27;s Included</summary>
                        <article class="c-accordion__content">
                            <p>This limited time bundle includes one Q-Rejuvalight Pro LED Face Mask and one Neck & Décolletage LED Device for free (worth $299).</p>
                        </article>
                    </details>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce("swiper", "assets/js-new/swiper.js");
        loadScriptOnce("countdown", "assets/js-new/countdown.js");
        loadScriptOnce("youtube-popup", "assets/js-new/yt-popup.js");
        loadScriptOnce("wistia-popup", "assets/js-new/wistia-popup.js");
        loadScriptOnce("wistia-script", "https://fast.wistia.com/assets/external/E-v1.js");
        loadScriptOnce("gallery-sticky-video", "assets/js-new/gallery-sticky-video.js");
        loadScriptOnce("dialog", "assets/js-new/dialog.js");
    });
</script>
<!-- HERO PRODUCT END -->