<!-- PILLS NAVIGATION -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/pills-nav/pills-nav.css" />
{% endif %}
<section class="pills-nav pills-nav--left">
    <div class="container">
        <div class="pills-nav__header">
            <span>{{ 'sections.n_collection.shopby' | t }}</span>
            <div>{{ 'sections.n_collection.swipe_for_more' | t }} <i class="e-icon e-icon-arrow"></i></div>
        </div>
        <ul class="c-pills-nav qure_tabs">
            {% for link in linklists['main-collection'].links %}
                <li><button type="button" data-url="{{ link.url }}" class="filter{% if link.active %} active{% endif %}">{{ link.title }}</button></li>
            {% endfor %}
        </ul>
    </div>
</section>
<!-- PILLS NAVIGATION END -->

{% schema %}
{
    "name": "t:sections.n_pills-nav.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_own_file",
            "label": "t:common.use-own-file",
            "default": false
        }
    ]
}
{% endschema %}
