{% doc %}
    Renders a top rated section.
{% enddoc %}

<!-- TOP RATED -->
{% if section.settings.use_own_file %}
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/top-rated/top-rated.css" />
{% endif %}
<section class="top-rated">
    <div class="container">
        <article>
            <h2>Top Rated Products</h2>
            {% for block in section.blocks %}
                {% if block.type == 'hover_image' %}
                    {% if block.settings.product != blank %}
                        {% include 'get-product-data', product_handle: block.settings.product, product_prefix: 'index-qure-products-' %}
                    {% endif %}

                    <div class="c-product-tile">
                        <a class="c-product-tile__image" style="--image-on-hover: url(/sections/new/complete-system/images/micro-infusion-hover.webp)" href="#">
                            <img src="sections/new/complete-system/images/micro-infusion.webp" alt="Top Rated Products" />
                            <div class="e-pill-badge e-pill-badge--xs e-pill-badge--fill">Bestseller</div>
                        </a>
                        <div class="c-product-tile__rating">
                            <div class="e-rating-stars" style="--rating:"></div>
                            <a href="#">196 Reviews</a>
                        </div>
                        <a class="c-product-tile__name" href="#">Micro-Infusion</a>
                        <div class="c-product-tile__price">
                            <div class="e-price">
                                <div class="e-price__main">
                                    <div class="e-price__current">{$dyn}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
            
            <div class="c-product-tile">
                <a class="c-product-tile__image" style="--image-on-hover: url(/sections/new/complete-system/images/led-mask-hover.webp)" href="#">
                    <img src="sections/new/complete-system/images/led-mask.webp" alt="Top Rated Products" />
                </a>
                <div class="c-product-tile__rating">
                    <div class="e-rating-stars" style="--rating:"></div>
                    <a href="#">283 Reviews</a>
                </div>
                <a class="c-product-tile__name" href="#">Q-Rejuvalight Pro LED Mask</a>
                <div class="c-product-tile__price">
                    <div class="e-price">
                        <div class="e-price__main">
                            <div class="e-price__current">{$dyn}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-product-tile">
                <a class="c-product-tile__image" style="--image-on-hover: url(/sections/new/complete-system/images/all-in-one-hover.webp)" href="#">
                    <img src="sections/new/complete-system/images/all-in-one.webp" alt="Top Rated Products" />
                </a>
                <div class="c-product-tile__rating">
                    <div class="e-rating-stars" style="--rating:"></div>
                    <a href="#">180 Reviews</a>
                </div>
                <a class="c-product-tile__name" href="#">All-In-One Face Serum</a>
                <div class="c-product-tile__price">
                    <div class="e-price">
                        <div class="e-price__main">
                            <div class="e-price__current">{$dyn}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-product-tile">
                <a class="c-product-tile__image" style="--image-on-hover: url(/sections/new/complete-system/images/mi-target-patches-hover.webp)" href="#">
                    <img src="sections/new/complete-system/images/mi-target-patches.webp" alt="Top Rated Products" />
                    <div class="e-pill-badge e-pill-badge--xs" style="--badge-base-color: #ff5429">Trending</div>
                </a>
                <div class="c-product-tile__rating">
                    <div class="e-rating-stars" style="--rating:"></div>
                    <a href="#">157 Reviews</a>
                </div>
                <a class="c-product-tile__name" href="#">Micro-Infusion Targeted Patches</a>
                <div class="c-product-tile__price">
                    <div class="e-price">
                        <div class="e-price__main">
                            <div class="e-price__current">{$dyn}</div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- TOP RATED END -->

{% schema %}
{
    "name": "t:sections.n_top-rated.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        }
    ],
    "blocks": [
        {
            "type": "hover_image",
            "name": "t:sections.index-qure-products.blocks.hover-image.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "t:common.product"
                },
                {
                    "type": "text",
                    "id": "image_text",
                    "label": "t:sections.index-qure-products.blocks.image-text.name"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image"
                },
                
                {
                    "type": "image_picker",
                    "id": "hover_image",
                    "label": "t:sections.index-qure-products.blocks.hover-image.name"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "t:common.link-url"
                },
                {
                    "type": "text",
                    "id": "rating_text",
                    "label": "t:common.rating-text"
                },
                {
                    "type": "image_picker",
                    "id": "rating_image",
                    "label": "t:sections.index-qure-products.blocks.rating-image.name"
                },
                {
                    "type": "text",
                    "id": "label_price",
                    "label": "t:sections.index-qure-products.blocks.label-price.name"
                }
            ]
        }
    ]
}
{% endschema %}