{% doc %}
  Renders a expert advisory product section for exclusive holiday bundle deal page.
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/board-advisory/board-advisory.css" />
<div class="qure__section "
    style="--section-padding-top: 40px;--section-padding-bottom: 80px;--section-padding-top-mob: 50px;--section-padding-bottom-mob: 30px;">
    <div class="container">
        <div class="qure__section-header text-center mb-30 mb-md-60 ctm-width mx-auto" style="--ctm-width: 800px;">
            <h2 class="qure__section-heading mb-20 mb-md-24">Learn more about our products</h2>
        </div>
    </div>
    <div class="container" id="bundle_prd-tab" role="tablist">
        <div class="qure__swiper-wrapper">
            <div class="mt-3 board-advisory-thumbs">
                <!-- Thumbnails start-->

                <div class="swiper qure__product-gallery tp-thumbnails-desktop qure__swiper-gallery-thumbnails"
                    data-section-id="tp-thumbnails-desktop" data-mobile="1.2" data-tablet="2" data-desktop="4"
                    data-autoplay="false" data-loop="false" data-spacing="20" data-pagination=".my-pagination"
                    data-pagination-fraction="true">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="advisory__board" role="presentation">
                                <div class="advisory__member position-relative rounded-10 overflow-hidden nav-link active"
                                    type="button" id="led_therapy" data-bs-toggle="pill"
                                    data-bs-target="#content_led-therapy" type="button" role="tab"
                                    aria-controls="content_led-therapy" aria-selected="true">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/led_mask.webp" alt="shah"
                                        class="img-fluid w-100" />
                                    <div
                                        class="advisory__mbr-info position-absolute inset-0 d-flex align-items-end p-20 text-white">
                                        <div
                                            class="align-items-end d-flex justify-content-between mbf-info position-relative w-100">
                                            <div class="mbr-content mr-8">
                                                <p class="fs-20">Dr. Shah</p>
                                                <span class="fs-16">Board Certified Dermatologist</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advisory__board" role="presentation">
                                <div class="advisory__member position-relative rounded-10 overflow-hidden nav-link"
                                    type="button" id="micro_infusion" data-bs-toggle="pill"
                                    data-bs-target="#content_micro-infusion" type="button" role="tab"
                                    aria-controls="content_micro-infusion" aria-selected="false">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/micro-infusion.webp"
                                        alt="maxfield" class="img-fluid w-100" />
                                    <div
                                        class="advisory__mbr-info position-absolute inset-0 d-flex align-items-end p-20 text-white">
                                        <div
                                            class="align-items-end d-flex justify-content-between mbf-info position-relative w-100">
                                            <div class="mbr-content mr-8">
                                                <p class="fs-20">Dr. Maxfield</p>
                                                <span class="fs-16">Board Certified Dermatologist</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advisory__board" role="presentation">
                                <div class="advisory__member position-relative rounded-10 overflow-hidden nav-link"
                                    type="button" id="topical_treatments" data-bs-toggle="pill"
                                    data-bs-target="#content_topical-treatments" type="button" role="tab"
                                    aria-controls="content_topical-treatments" aria-selected="false">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/topical.webp" alt="tripathi"
                                        class="img-fluid w-100" />
                                    <div
                                        class="advisory__mbr-info position-absolute inset-0 d-flex align-items-end p-20 text-white">
                                        <div
                                            class="align-items-end d-flex justify-content-between mbf-info position-relative w-100">
                                            <div class="mbr-content mr-8">
                                                <p class="fs-20">Dr. Tripathi</p>
                                                <span class="fs-16">Double Board Certified Facial Plastic
                                                    Surgeon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advisory__board" role="presentation">
                                <div class="advisory__member position-relative rounded-10 overflow-hidden nav-link"
                                    type="button" id="filters" data-bs-toggle="pill"
                                    data-bs-target="#content-filters" type="button" role="tab"
                                    aria-controls="content-filters" aria-selected="false">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/filters.webp" alt="Stephens"
                                        class="img-fluid w-100" />
                                    <div
                                        class="advisory__mbr-info position-absolute inset-0 d-flex align-items-end p-20 text-white">
                                        <div
                                            class="align-items-end d-flex justify-content-between mbf-info position-relative w-100">
                                            <div class="mbr-content mr-8">
                                                <p class="fs-20">Dr. Stephens</p>
                                                <span class="fs-16">Board Certified Dermatologist</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Galler start-->
            <div class="swiper qure__product-gallery qure__swiper-gallery ctm_cls_press_slider mt-40"
                data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                data-autoplay="false" data-loop="true" data-spacing="0" data-pagination-fraction="true">
                <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                    <div class="swiper-slide">
                        <div class="row custom__grid" style="--column-gap:60px; --column-gap-mobile:32px;">
                            <div class="col-md-7 custom__block">
                                <h5 class="fm-body fw-500 m-0">Treat skin concerns from the inside out</h5>
                                <p class="my-20">Clinically proven wavelengths penetrate deep into the skin,
                                    energizing cells to boost collagen production and reduce wrinkles, dark spots,
                                    and redness.</p>
                                <ul class="qure__list-check">
                                    <li>Covers hard-to-treat areas like the jawline, neck, and chest for all-over
                                        results.</li>
                                    <li>Boosts collagen production to firm and smooth the skin over time.</li>
                                    <li>Reduces the appearance of fine lines, wrinkles, and uneven tone.</li>
                                    <li>Hands-free treatment you can use in just a few minutes.</li>
                                </ul>
                            </div>
                            <div class="col-md-5 custom__block">
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/q-rejuvalight-mask.webp"
                                            alt="" class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">Q-Rejuvalight Pro LED Mask</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/neck-led-device.webp"
                                            alt="" class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">Neck & Décolletage LED Device</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row custom__grid" style="--column-gap:60px; --column-gap-mobile:32px;">
                            <div class="col-md-7 custom__block">
                                <h5 class="fm-body fw-500 m-0">Precision skincare that works below the surface</h5>
                                <p class="my-20">Infuse active ingredients beneath the surface of your skin for
                                    maximum efficacy, evening out texture, softening fine lines, and promoting a
                                    youthful appearance.</p>
                                <ul class="qure__list-check">
                                    <li>Improves overall glow, firmness, and bounce.</li>
                                    <li>Helps fade dark spots and brighten tone.</li>
                                    <li>Smooths fine lines and softens wrinkles.</li>
                                    <li>Clinically backed and easy to use at home.</li>
                                </ul>
                            </div>
                            <div class="col-md-5 custom__block">
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/micro-infusion-treatment.webp"
                                            alt="" class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">Micro-Infusion Treatment</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/micro-infusion-targeted-patches.webp"
                                            alt="" class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">Micro-Infusion Targeted Patches</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row custom__grid" style="--column-gap:60px; --column-gap-mobile:32px;">
                            <div class="col-md-7 custom__block">
                                <h5 class="fm-body fw-500 m-0">Hydrate and strengthen your skin barrier</h5>
                                <p class="my-20">Lightweight formulas to balance, calm, and support recovery after
                                    treatments.</p>
                                <ul class="qure__list-check">
                                    <li>Improves skin texture by reducing roughness and dehydration lines.</li>
                                    <li>Delivers long-lasting moisture to keep skin soft and plump.</li>
                                    <li>Restores glow to dull or dehydrated skin.</li>
                                    <li>Gentle on sensitive and reactive skin.</li>
                                </ul>
                            </div>
                            <div class="col-md-5 custom__block">
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/all-in-one-serum.webp"
                                            alt="" class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">All-In-One Serum</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/dermal-mist.webp" alt=""
                                            class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">Dermal Mist</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row custom__grid" style="--column-gap:60px; --column-gap-mobile:32px;">
                            <div class="col-md-7 custom__block">
                                <h5 class="fm-body fw-500 m-0">Healthier, calmer skin every time you wash</h5>
                                <p class="my-20">Remove chlorine, heavy metals, and harmful bacteria from your tap
                                    water, to help protect your skin against premature aging, dryness, and
                                    irritation.</p>
                                <ul class="qure__list-check">
                                    <li>Supports a healthier skin barrier by preventing exposure to harsh water.
                                    </li>
                                    <li>Improves the effectiveness of your skincare products.</li>
                                    <li>Helps reduce skin irritation, dryness, and sensitivity.</li>
                                </ul>
                            </div>
                            <div class="col-md-5 custom__block">
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/shower-filter.webp" alt=""
                                            class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">Shower Filter</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                                <a href="#" class="product-with-link">
                                    <div class="overflow-hidden pwl-img rounded-10">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/board-advisory/images/water-filter.webp" alt=""
                                            class="img-fluid" />
                                    </div>
                                    <div class="pwl-content">
                                        <span class="fs-20 fw-500">Water Filter</span>
                                        <span class="d-block btn btn-reset btn--link">Shop Now</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="swiper-arrows-with-pagination d-flex d-md-none align-items-center justify-content-center gap-4 mt-30">
                    <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                    <div class="my-pagination position-relative bottom-0 w-auto"></div>
                    <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                </div>
            </div>
            <!-- Galler End-->
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('slider-script', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
    });
</script>


{% schema %}
{
  "name": "t:sections.expert-advisory-product.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:common.accordion",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.header"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:common.text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
        }
      ]
    },
    {
        "type": "text",
        "name": "t:common.text",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:common.text"
          }
        ]
    },
    {
        "type": "product",
        "name": "t:common.product",
        "settings": [
            {
                "type": "text",
                "id": "product",
                "label": "t:common.product"
            },
            {
                "type": "url",
                "id": "link_url",
                "label": "t:common.link-url"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }
        ]
    }
  ]
}
{% endschema %}