<!-- what's included -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/safety-guide/safety-guide.css" />
<div class="qure__section user_guideline"
    style="--section-padding-top: 60px; --section-padding-bottom: 80px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container container-small" style="--container-width:850px">
        <div class="qure__section-header text-center mb-60">
            <h2 class="qure__section-heading">What you should know for the best results</h2>
            <div class="qure__section-desc mt-30 px-lg-40">The Qure Micro-Infusion System is designed with your
                safety in mind. <br /><br />
                Unlike popular at-home derma rollers, our stamper device features single-use sterile heads that
                help minimize the risk of infection or unnecessary skin damage caused by blunt and multi-use
                needles.<br /><br />Below are a few rules you should follow while using your Qure Micro-Infusion
                System:
            </div>
        </div>
    </div>
    <div class="container">
        <div class="swiper qure__swiper my-40" id="qure__swiper-faucet-slider" data-section-id="faucet-slider"
            data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="2" data-desktop="2" data-spacing="40"
            data-pagination-fraction="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="px-24 px-md-32 py-30 rounded-10 border guide__box">
                        <p class="fs-20 fw-500">How To Use</p>
                        <div class="safety_guides mt-30">
                            <div class="guide-item guide-number"><strong>Fill the device:</strong> Open the device
                                and
                                pour in one ampoule of serum.</div>
                            <div class="guide-item guide-number"><strong>Prepare the device:</strong> Twist on the
                                needle head and leave upside down for 1–2 minutes.</div>
                            <div class="guide-item guide-number"><strong>Begin infusion:</strong> Stamp evenly
                                across
                                the face with 2–3 passes, then pat in any remaining serum.</div>
                            <div class="guide-tip"><strong>Tip:</strong> Apply remaining serum after your treatment
                                and allow it to absorb overnight.</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="px-24 px-md-32 py-30 rounded-10 guide__box bg-light">
                        <p class="fs-20 fw-500">Safety Guidelines</p>
                        <div class="safety_guides mt-30">
                            <div class="guide-item">Micro-Infusion is a simple treatment you can do at-home. No
                                appointments and no downtime. It’s designed to be safe and easy to use, as long as
                                your
                                skin is clean and healthy. </div>
                            <div class="guide-item">Avoid using Micro-Infusion on active breakouts or broken skin,
                                as
                                it may spread bacteria. Always use a fresh, sterile needle head for each treatment,
                                and
                                apply SPF after use to protect your skin.</div>
                            <div class="guide-item">If you’re pregnant or have a medical condition, check with your
                                doctor first.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4">
                <div class="qure-swiper-button-prev qure-swiper-arrow mt-30"><i class="fa-regular fa-angle-left"></i>
                </div>
                <div class="swiper-pagination position-relative bottom-0 w-auto mt-30"></div>
                <div class="qure-swiper-button-next qure-swiper-arrow mt-30"><i class="fa-regular fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="text-center"><a
                href="https://querskin-brand.aronwebsolutions.com/page.sunil-micro-infusion-safety.html"
                class="btn btn--primary d-inline-flex align-items-center gap-2 px-md-40 px-30 w-mob-100">See Detailed
                Treatment
                Guide <i class="fa-regular fa-arrow-right ml-5"></i></a>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
    });
</script>
<!-- what's included -->

<!-- Faq section Start -->
<div id="faqs" class="faq_section qure__section color-background"
    style="--section-padding-top: 80px; --section-padding-bottom: 80px; --section-background: #F6F6F7; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 50px;">
    <div class="container">
        <div class="qure__section-header text-center">
            <h2 class="qure__section-heading">Have questions?</h2>
        </div>
        <div class="faq_content">
            <div class="accordion accordion-flush" id="qure_faq-main">
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-1" aria-expanded="false"
                        aria-controls="qure_faq-1">
                        What are the benefits of Micro-Infusion?
                    </button>
                    <div id="qure_faq-1" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>The needles of the Micro-Infusion device and the stamping action triggers the body’s
                                natural healing process and in turn boosts the production of collage, making your
                                skin
                                look firmer and fine lines look softer.</p>
                            <p>The serum that you choose to infuse during your Micro-Infusion will determine the
                                major
                                benefits of your treatment. Very fine needles infuse micro-droplets of concentrated
                                serum at a specific depth into the dermis (top layer) of your skin precisely where
                                they
                                are needed to accelerate absorption of active ingredients that target specific skin
                                concerns.</p>
                            <p>You can switch up your treatments and even mix the two serums together!</p>
                            <span>Visible benefits of Micro-Infusion include: </span>
                            <ul class="mb-0">
                                <li>More even skin tone and texture</li>
                                <li>Glowing, fresh complexion</li>
                                <li>Softer fine lines</li>
                                <li>Firmer, rejuvenated skin</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-2" aria-expanded="false"
                        aria-controls="qure_faq-2">
                        How quickly will I see results?
                    </button>
                    <div id="qure_faq-2" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Micro-Infusion treatment is an effective skin booster treatment, and you’ll notice a
                                radiance boost, smaller pores, more hydrated and overall a healthy fresh complexion
                                in
                                the next day or two.</p>
                            <p>The more treatments you perform the greater skin benefits over time you’ll receive!
                                This quick and easy home facial is perfect to perform a day or two before a big
                                event, when you need to look to boost your skin’s complexion, fast.</p>
                            <p>Don’t forget to keep up with your everyday skincare routine to boost the
                                effectiveness of your Micro-Infusion results and keep skin glowing long-term.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-3" aria-expanded="false"
                        aria-controls="qure_faq-3">
                        Is it painful to use?
                    </button>
                    <div id="qure_faq-3" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>You get to experience minimal discomfort and maximum results with Qure's
                                Micro-Infusion
                                System.</p>
                            <p>Although the needles themselves are actually longer than most at-home needling
                                systems
                                (making it more effective), the ultra-fine needles are thinner than a human hair, so
                                that means you’ll feel minimal to no pain during treatment.</p>
                            <p>During the initial stages of treatment, you may experience a slight sensation or
                                prickling feeling as the needles make contact with the skin but you’ll quickly get
                                used
                                to the feeling quickly.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-4" aria-expanded="false"
                        aria-controls="qure_faq-4">
                        How often can I use the treatment?
                    </button>
                    <div id="qure_faq-4" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>We recommend a Micro-Infusion treatment once every 2 weeks for the best results.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-5" aria-expanded="false"
                        aria-controls="qure_faq-5">
                        When is the best time to do Micro-Infusion?
                    </button>
                    <div id="qure_faq-5" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>We recommend doing the treatment at night before bed. Avoid being in the sun and
                                using
                                makeup for 24 hours after the treatment. For more information on post treatment
                                care, <a
                                    href="https://qureskincare.com/pages/microinfusion-safety-guide?ref=49949480-3b91-401e-9cd9-888a90834e70"
                                    class="text-decoration-underline" style="--base-color: #212529;">visit our
                                    safety
                                    guide</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-6" aria-expanded="false"
                        aria-controls="qure_faq-6">
                        Can I use it around the eyes and on the neck?
                    </button>
                    <div id="qure_faq-6" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Yes, you can use Micro-Infusion around the eye area to help smooth crow’s feet. Just
                                ensure to apply a very gentle pressure and only do one pass. Monitor your skin
                                accordingly as everyone’s skin is different!</p>
                            <p>Performing Micro-Infusion on the neck can help improve the appearance of fine lines,
                                and rejuvenate skin. It can target issues such as neck creases, horizontal lines,
                                and
                                age-related skin concerns to help enhance the overall texture, tone, and
                                youthfulness
                                of the skin.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-7" aria-expanded="false"
                        aria-controls="qure_faq-7">
                        Can I use a different serum with the Micro-Infusion device?
                    </button>
                    <div id="qure_faq-7" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>No - only use the provided Qure serum with your Micro-Infusion Device. </p>
                            <p>Please keep in mind that not all serums are suitable for Micro-Infusion. Some may
                                cause
                                irritation and should be avoided! Our potent serum ampoules are specifically
                                developed
                                for our Micro-Infusion System, with gentle, fragrance-free formulas designed for
                                deep
                                delivery and low risk of sensitivity.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-8" aria-expanded="false"
                        aria-controls="qure_faq-8">
                        How is this different to micro-rolling?
                    </button>
                    <div id="qure_faq-8" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>Micro-needling focuses on stimulating your body's own collagen by creating
                                micro-injuries. But it doesn’t deliver any ingredients directly into your skin.</p>
                            <p>With Micro-Infusion, you not only reap the benefits of micro-needling, but also
                                deliver
                                active ingredient solutions to target your specific skin concerns - This makes it
                                work
                                quicker and more effectively.</p>
                        </div>
                    </div>
                </div>


                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#qure_faq-9" aria-expanded="false"
                        aria-controls="qure_faq-9">
                        Tranexamic Acid Notice
                    </button>
                    <div id="qure_faq-9" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#qure_faq-main">
                        <div class="accordion-body">
                            <p>If you live in Australia, you may receive a notice from Border Force regarding
                                tranexamic acid (TXA) in your order. Here’s what you need to know:</p>
                            <p>In Australia, TXA is classified as a Schedule 4 (prescription-only) drug only when
                                used
                                orally or by injection for treating melasma or other medical conditions. However,
                                <span class="fw-600">topical TXA in cosmetic formulations is permitted.</span>
                            </p>
                            <p>Our serums are purely for cosmetic use and do not claim to treat medical conditions.
                                They are applied topically (not injected) and are classified as a cosmetic product
                                rather than a prescription medicine.</p>
                            <p>Our products are compliant with Australian regulartions. Facial serums containing up
                                to
                                3% TXA for cosmetic purposes are not classified as prescription-only medicines and
                                do
                                not require inclusion in the Australian Register of Therapeutic Goods (ARTG).</p>
                            <p>If Border Force requires clarification, you can provide the information above to
                                confirm that the product complies with Australian regulations. If further details
                                are
                                needed, they can refer to the Therapeutic Goods Administration (TGA) guidelines on
                                cosmetic formulations.</p>
                            <p>If you need further assistance, feel free to <a href="#"
                                    class="text-decoration-underline" style="--base-color: #212529;">contact our
                                    support team</a>—we’re happy to
                                help!</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="pt-md-50 pt-40 d-flex align-items-center justify-content-center gap-3">
                <h6 class="fm-body fw-500 mb-0">Don’t see your question?</h6>
                <a href="" class="btn btn-sm btn--secondary">Ask us <span><img
                            src="https://qureskincaredns-main.com/assets/images/arrow_right.svg" alt=""></span></a>
            </div>
        </div>
    </div>
</div>
<!-- Faq section end -->