<!-- Trusted reviews -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/review-slider/card-slide.css" />
<div id="reviews" class="qure__trusted-reviews qure__section color-background" style="--section-padding-top: 80px;--section-padding-bottom: 40px;--section-padding-top-mob: 20px;--section-padding-bottom-mob: 30px; --section-background: #fff;
        --section-background-mob: #F6F6F7;">
    <div class="container offset-container-mobile">
        <div class="qure__section-header text-center mb-30 mb-md-60">
            <h2 class="qure__section-heading px-15">Results you’ll see with your own eyes</h2>
        </div>
        <div class="swiper qure__swiper" id="qure__swiper-trusted-slider" data-section-id="trusted-slider"
            data-autoplay="false" data-loop="false" data-mobile="1.1" data-tablet="2" data-desktop="3" data-spacing="30"
            data-pagination-fraction="true" data-arrowleft="trusted-slider-arrow-left"
            data-arrowright="trusted-slider-arrow-right">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/ellie_6_treatments.webp" class="card-img-top"
                            alt="Ellie_6_treatments">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Ellie V.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">My skin returned to life!</h5>
                                <p class="card-text">“I just turned 57 years. My skin was extremely dry and while
                                    using this
                                    product my skin RETURNED to LIFE! I am so impressed with it! My Coworkers ask me
                                    what I
                                    use in my skin.. and I tell them. Product easy to use and the needles are better
                                    that
                                    using a pen for microneedling. This is an amazing product that you will not
                                    regret in
                                    purchasing it. I really see the change in my skin. Outstanding job QURE!”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/mona-p.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Mona P.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Fade after just two treatments</h5>
                                <p class="card-text">“I personally think my products absorbed better, my skin looks
                                    a bit
                                    brighter and that larger acne scar on my right cheek has started to fade after
                                    just TWO
                                    treatments!”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/andrea.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Andrea G.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Definitely be re-ordering</h5>
                                <p class="card-text">“Still a newbie but so far so great! I have dermarolled for
                                    more than a
                                    decade -still do with .25 at least one a week. I’ve avoided getting a pen
                                    because there’s
                                    so much involved- but the Qure system is just awesome. So easy and user friendly
                                    and my
                                    skin loves the serum! Doing my third treatment Saturday and will definitely be
                                    re-ordering
                                    🤗
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/jessica-k.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Jessica K.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Thrilled with the results!</h5>
                                <p class="card-text">"I have been using the mask & microneedling for 6 weeks & am
                                    truly
                                    impressed with the results. I have noticed a dramatic reduction in redness, an
                                    improvement
                                    in my dark spots, scars & overall skin tone & firmness, and a smoothing of fine
                                    lines &
                                    wrinkles."
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/ela-o.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Ela O.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Shocked at the results</h5>
                                <p class="card-text">“Shocked at the results after just one treatment!<br />
                                    I’m not one to usually leave reviews... but I was shocked at how my skin looked
                                    the
                                    morning after my first treatment!
                                    Texture was soooo much smoother, my skin looked clear, glowy and healthy. The
                                    system was
                                    so easy to use and I can’t wait until my next treatment.”
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/shelly.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Shelly S.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Looking better and better</h5>
                                <p class="card-text">“I have used the Qure Micro- Infusion System for 3 monthly
                                    treatments.
                                    The results are clearer, plumper and firmer skin. With further treatments I am
                                    looking
                                    forward to looking better and better.”</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/chelsea.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Chelsea J.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Amazing results!</h5>
                                <p class="card-text">"Amazing results. I am just in shock at how great my skin is
                                    looking.
                                    This stuff has been amazing for hyperpigmentation and also some hormonal cystic
                                    acne. I
                                    will be continuing to support this business because it has brought the skin I
                                    know back. I
                                    was at my wits end with a hormonal breakout and bad hyperpigmentation."
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/akina.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Akina M.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">It really works!!</h5>
                                <p class="card-text">“I used three time so far. I can see the results from first
                                    time I used.
                                    I love this product but only thing is it’s take time to apply till used all
                                    serum per
                                    application. I tried many different way to press to my skin so the serum come
                                    out more but
                                    then a lot of time not.”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/jess.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Jess.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">It really works!!</h5>
                                <p class="card-text">“I committed to the 3 month saver bundle and after 6 treatments
                                    (2 weeks
                                    apart) I’m SO happy with the results!!! My pores are smaller and I have mainly
                                    noticed a
                                    difference in my skin texture. My skin goes a little red straight after the
                                    treatment but
                                    that quickly goes away. It’s a little uncomfortable when I do it on my forehead
                                    but it’s
                                    fine everywhere else. Totally worth it!!!”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/Jennifer_1_treatment.webp" class="card-img-top"
                            alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user" />
                                        <span class="username">Jennifer N.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Works better than I imagined!</h5>
                                <p class="card-text">“I am really stunned by how well this product works. I have had
                                    professional micro-needling and I wanted the benefits without the downtime. I
                                    did my
                                    treatment, went to bed and woke up the next morning and was ready to go. My skin
                                    looks
                                    better than it has in years.”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/olivia_p.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user">
                                        <span class="username">Olivia P.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review">
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Give it a try!</h5>
                                <p class="card-text">“I tried the Micro-Infusion because I’ve been working on the
                                    dark spots on my face for quite some time. After a couple of uses my face seems
                                    plumper, is glowing and the dark spots seem not as dark. Give it a try!”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/priya.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/england_f.webp" alt="user" />
                                        <span class="username">Priya P.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review" />
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Plumper, more hydrated!</h5>
                                <p class="card-text">“After the first use of EGF, my skin was plumper, more hydrated
                                    and skin
                                    tone improved radically, literally the next day. Love this product, will
                                    definitely be
                                    purchasing more as its really helped smooth out the fine lines also”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card skin-card">
                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/kyla_r.webp" class="card-img-top" alt="">
                        <div class="card-body skin-card-body d-flex flex-column justify-content-between">
                            <div class="tr__reviews">
                                <div class="reviews-header d-flex align-items-center justify-content-between mb-10"
                                    style="--bg-light: rgb(199 229 219 / 30%);">
                                    <div class="card-user">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/review-slider/images/america_f.webp" alt="user">
                                        <span class="username">Kyla R.</span>
                                    </div>
                                    <div
                                        class="icon-with-text d-flex align-items-center gap-2 px-10 py-5 bg-light rounded-3 fs-14">
                                        <img src="https://qureskincaredns-main.com/assets/images/reviewCheck.svg" alt="review">
                                        <span>Verified customer</span>
                                    </div>
                                </div>
                                <h5 class="card-title fm-body mb-15">Seeing results after 2 treatments!</h5>
                                <p class="card-text">“I’ve had almost zero issues using this system and I’m starting
                                    to see results after the second treatment! The second needle cap was stubborn
                                    but I gently tapped it on my counter and voila! I was nervous after the first
                                    treatment but my worries have subsided. I’m really excited to see what happens
                                    next!”</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30">
                <div class="qure-swiper-button-prev qure-swiper-arrow trusted-slider-arrow-left"><i
                        class="fa-regular fa-angle-left"></i>
                </div>
                <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                <div class="qure-swiper-button-next qure-swiper-arrow trusted-slider-arrow-right"><i
                        class="fa-regular fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="text-center pt-50">
            <a href="#buy_box" class="banner-text--button btn btn--primary w-100" style="--btn-mx-w:500px;">Check
                Availability</a>
            <div class="d-flex flex-wrap align-items-center justify-content-center col-gap pt-10"
                style="--col-gap-mb:10px; --col-gap-mb: 5px;">
                <div
                    class="icon-with-text d-flex flex-nowrap flex-lg-row align-items-center fs-14 text-center text-lg-start">
                    <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/dermatologist.svg" alt="dermatologist"
                        class="mr-0 mr-md-10">
                    <span>Dermatologist Reviewed </span>
                </div>
                <div
                    class="icon-with-text d-flex flex-nowrap flex-lg-row align-items-center fs-14 text-center text-lg-start">
                    <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping"
                        class="mr-0 mr-md-10">
                    <span class="px-5 px-md-0">Free Shipping over
                        $100</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
    });
</script>

<!-- Trusted reviews end-->
<div class="qure__section" style="--section-padding-top: 10px; --section-padding-bottom: 80px;">
    <div class="container">
        <div class="border color-background px-30 py-25 rounded fs-md-20 fs-18"
            style="--bs-border-width: 2px; --bs-border-style: dashed; --bs-border-color: #212428; --section-background:#FEFCEF;">
            <p class="color-orange fw-600 mb-0">Update 08/21/25 </p>
            <p class="fw-600">To celebrate more women saying no to the hype and yes to simple skincare that works,
                we're offering a
                limited-time discount of up to 43% for this month only.</p>
        </div>
    </div>
</div>