{% doc %}
  Renders a page section
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/global/page/page.css" />

<div class="qure__policies qure__section" style=" --section-padding-top: 80px;--section-padding-bottom: 80px;--section-padding-top-mob: 50px;--section-padding-bottom-mob: 50px;">
    <div class="container">
        {{ page.content }}
    </div>
</div>