

    <!-- SECTIONS STACK -->
    <link rel="stylesheet" href="https://qureskincaredns.com/sections/new/sections-stack/sections-stack.css" />
    <main class="sections-stack">

        <!-- Choose treatment -->
        <link rel="stylesheet" href="https://qureskincaredns.com/sections/global/purchase-form/purchase-form.css" />
        <div id="buy_box" class="qure__section user_guideline"
            style="--section-padding-top: 50px; --section-padding-bottom: 80px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 50px;">
            <div class="container" style="--column-gap:60px; --column-gap-mobile:30px;">
                <div class="row custom__grid">
                    <div class="col-md-6 custom__block">
                        <div class="card qure-card" style="--qure-card-bg: #fff;">
                            <img src="https://qureskincaredns.com/sections/isolated/archive/images/dark_spot-serum.webp" class="card-img-top ctm-width mx-auto" style="--ctm-width: 457px;" alt="">
                        </div>
                        <div
                            class="d-none d-md-flex flex-nowrap align-items-center justify-content-center col-gap px-30 px-lg-50 mt-30"
                            style="--col-gap-mb: 20px;--col-gap: 42px;">
                            <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-16 fw-400 text-center">
                                <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/dermatologist.svg" alt="dermatologist">
                                <span>30-Day Money-Back Guarantee </span>
                            </div>
                            <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-16 fw-400 text-center">
                                <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping">
                                <span>Free Shipping over {$dyn}</span>
                            </div>
                            <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-16 fw-400 text-center">
                                <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/backed_science.svg" alt="dermatologist">
                                <span>Backed by Science </span>
                            </div>
                        </div>

                        <div class="pt-md-50 pt-40 d-md-flex d-none align-items-center justify-content-center gap-3">
                            <h6 class="fm-body fw-600 mb-0 fs-14">Have questions about Micro-Infusion?</h6>
                            <a href="" class="btn btn-sm btn--secondary fs-14" style="--btn-secondary-bg: #fff;">Chat with us!</a>
                        </div>
                    </div>
                    <div class="col-md-6 custom__block">

                        <div class="qure__bundle-container">
                            <div class="qure__bundle-form">
                                <div class="qure__bundle-steps">
                                    <div class="qure-bundle-stps-title mb-16">Select Your Serum</div>
                                    <div class="qure-bundle-container d-flex col-gap" style="--col-gap: 10px;--col-gap-mb:10px;">
                                        <div class="qure-bundle-item col">
                                            <input type="radio" id="dark_spots" name="color" class="bundle__input">
                                            <label for="dark_spots" class="qure__bundle-box">
                                                <div class="qv-frame">
                                                    <div class="qv-inner">
                                                        <img class="qv-img"
                                                            src="https://qureskincaredns.com/sections/isolated/micro-infusion-pdp/images/serum_1.webp">
                                                    </div>
                                                </div>
                                                <div class="div fs-16">Dark Spots</div>
                                            </label>
                                        </div>
                                        <div class="qure-bundle-item col">
                                            <input type="radio" id="wrinkles" name="color" class="bundle__input">
                                            <label for="wrinkles" class="qure__bundle-box">
                                                <div class="qv-frame">
                                                    <div class="qv-inner">
                                                        <img class="qv-img"
                                                            src="https://qureskincaredns.com/sections/isolated/micro-infusion-pdp/images/serum_2.webp">
                                                    </div>
                                                </div>
                                                <div class="div fs-16">Wrinkles</div>
                                            </label>
                                        </div>
                                        <div class="qure-bundle-item col">
                                            <input type="radio" id="mixed" name="color" class="bundle__input" checked>
                                            <label for="mixed" class="qure__bundle-box">
                                                <div class="qv-frame">
                                                    <div class="qv-inner">
                                                        <img class="qv-img"
                                                            src="https://qureskincaredns.com/sections/isolated/micro-infusion-pdp/images/serum_3.webp">
                                                    </div>
                                                </div>
                                                <div class="div fs-16">Mixed </div>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="qure__bundle-steps">
                                    <div class="qure-bundle-stps-title mb-30">Select Your Supply:</div>
                                    <div class="qure-bundle-container" style="--col-gap: 10px;--col-gap-mb:10px">
                                        <div class="align-items-end bundle-supply col-gap d-flex flex-column" id="myTab"
                                            role="tablist">
                                            <div class="qure-supply-item col-12 position-relative" role="presentation">
                                                <div class="best_value">
                                                    <p>Best Value <img src="https://qureskincaredns.com/assets/images/star_white.svg" alt=""></p>
                                                </div>
                                                <input type="radio" name="supply" id="three-months" checked="">
                                                <label for="three-months" class="supply-link active py-0 overflow-hidden" id="m-3-tab"
                                                    data-bs-toggle="tab" data-bs-target="#m-3-tab-pane" type="button" role="tab"
                                                    aria-controls="m-3-tab-pane" aria-selected="true">
                                                    <div class="qure__supply-content d-flex text-start justify-content-between p-15">
                                                        <div>
                                                            <p class="mb-0">Buy 3 Months, Get 3 Months FREE</p>
                                                            <p class="fs-14">12 Micro-Infusion Treatments</p>
                                                        </div>
                                                        <div>
                                                            <div class="qure__supply-price">
                                                                <span class="qure__supply-price-sale">$714</span>
                                                                <span class="qure__supply-price-reg-sale">$179</span>
                                                            </div>
                                                            <p class="ctm-background fs-12 text-center text-white rounded-30">SAVE 75%</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="qure-best-value rounded-0 mb-0 justify-content-between px-15 fs-12 pt-5">
                                                        <div>🔥 Only $14.91 per treatment</div>
                                                        <div><span><img src="https://qureskincaredns.com/assets/images/clock-w.svg" alt=""></span> 164 kits left
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="qure-supply-item col-12" role="presentation">
                                                <input type="radio" name="supply" id="two-months">
                                                <label for="two-months" class="supply-link py-0 overflow-hidden" id="m-2-tab"
                                                    data-bs-toggle="tab" data-bs-target="#m-2-tab-pane" type="button" role="tab"
                                                    aria-controls="m-2-tab-pane" aria-selected="false" tabindex="-1">
                                                    <div class="qure__supply-content d-flex text-start justify-content-between p-15">
                                                        <div>
                                                            <p class="mb-0">2 Month Supply</p>
                                                            <p class="fs-14">4 Micro-Infusion Treatments</p>
                                                        </div>
                                                        <div>
                                                            <div class="qure__supply-price">
                                                                <span class="qure__supply-price-sale">$238</span>
                                                                <span class="qure__supply-price-reg-sale">$149</span>
                                                            </div>
                                                            <p class="ctm-background fs-12 text-center color-orange rounded-30"
                                                                style="--ctm-background:#ff54291a;">SAVE 38%</p>
                                                        </div>
                                                    </div>
                                                    <div class="qure-best-value rounded-0 mb-0 justify-content-between px-15 fs-12 pt-5"
                                                        style="--qure-charcoal:#C7E5DB; --white-color:#212428;">
                                                        <div>Only $37.25 per treatment</div>
                                                        <div><span><img src="https://qureskincaredns.com/assets/images/clock-b.svg" alt=""></span> 201 kits left
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="qure-supply-item col-12" role="presentation">
                                                <input type="radio" name="supply" id="one-months">
                                                <label for="one-months" class="supply-link py-0" id="m-1-tab" data-bs-toggle="tab"
                                                    data-bs-target="#m-1-tab-pane" type="button" role="tab" aria-controls="m-1-tab-pane"
                                                    aria-selected="false" tabindex="-1">
                                                    <div class="qure__supply-content d-flex text-start justify-content-between p-15">
                                                        <div>
                                                            <p class="mb-0">1 Month Supply</p>
                                                            <p class="fs-14">2 Micro-Infusion Treatments</p>
                                                        </div>
                                                        <div>
                                                            <div class="qure__supply-price">
                                                                <span>$119</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="tab-content mt-25" id="myTabContent">
                                            <div class="tab-pane fade show active" id="m-3-tab-pane" role="tabpanel"
                                                aria-labelledby="m-3-tab" tabindex="0">
                                                <div class="qure_bundle-accorion">
                                                    <button class="qure_bundle-btn collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#3monthCollapse" aria-expanded="false"
                                                        aria-controls="3monthCollapse">
                                                        What is in the 6 Month Supply bundle?
                                                    </button>
                                                    <div id="3monthCollapse" class="qure_bundle-collapse collapse"
                                                        data-bs-parent="#accordionExample">
                                                        <div class="accordion-body mt-12">
                                                            <ul class="qure__list-check">
                                                                <li>1 Micro-Infusion devices (valued at $80)</li>
                                                                <li>12 clinical-grade micro-needling heads (valued at $50)</li>
                                                                <li>12 clinically formulated 4ml serums to treat your specific skin
                                                                    concerns (valued at $120)</li>
                                                                <li>Worldwide shipping (valued at $25)</li>
                                                                <li>Risk-free 90 day money-back guarantee to trial</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="m-2-tab-pane" role="tabpanel" aria-labelledby="m-2-tab"
                                                tabindex="0">
                                                <div class="qure_bundle-accorion">
                                                    <button class="qure_bundle-btn collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#2monthCollapse" aria-expanded="false"
                                                        aria-controls="2monthCollapse">
                                                        What is in the 2 Month Supply bundle?
                                                    </button>
                                                    <div id="2monthCollapse" class="qure_bundle-collapse collapse"
                                                        data-bs-parent="#accordionExample">
                                                        <div class="accordion-body mt-12">
                                                            <ul class="qure__list-check">
                                                                <li>1 Micro-Infusion device (valued at $80)</li>
                                                                <li>4 clinical-grade micro-needling heads (valued at $40)</li>
                                                                <li>4 clinically formulated 4ml serums to treat your specific skin
                                                                    concerns (valued at $80)</li>
                                                                <li>Worldwide shipping (valued at $25)</li>
                                                                <li>Risk-free 90 day money-back guarantee to trial</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="m-1-tab-pane" role="tabpanel" aria-labelledby="m-1-tab"
                                                tabindex="0">
                                                <div class="qure_bundle-accorion">
                                                    <button class="qure_bundle-btn collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#1monthCollapse" aria-expanded="false"
                                                        aria-controls="1monthCollapse">
                                                        What is in the 1 Month Supply bundle?
                                                    </button>
                                                    <div id="1monthCollapse" class="qure_bundle-collapse collapse"
                                                        data-bs-parent="#accordionExample">
                                                        <div class="accordion-body mt-12">
                                                            <ul class="qure__list-check">
                                                                <li>1 Micro-Infusion device (valued at $80)</li>
                                                                <li>2 clinical-grade micro-needling heads (valued at $20)</li>
                                                                <li>2 clinically formulated 4ml serums to treat your specific skin
                                                                    concerns (valued at $40)</li>
                                                                <li>Worldwide shipping (valued at $25)</li>
                                                                <li>Worldwide shipping (valued at $25)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="qure__bundle-steps">
                                    <div class="qure-bundle-stps-title mb-16">Select A Payment Option</div>
                                    <div class="qure-bundle-container">
                                        <div class="pmt-container">
                                            <div class="pmt-option">
                                                <input type="radio" name="payment" id="fullPayment" checked="">
                                                <label for="fullPayment" class="pmt-block">
                                                    <div class="pmt-header">
                                                        <p>Pay in full</p>
                                                        <div class="pmt-price"><span
                                                                class="pmt-price-sale text-decoration-line-through clr_grey">{$dyn}</span><span
                                                                class="pmt-price-regular">{$dyn}</span></div>
                                                    </div>
                                                    <div class="pmt-footer">
                                                        <span>One-time payment with:</span>
                                                        <img src="https://qureskincaredns.com/sections/isolated/treatment/images/pmt-1.webp" alt="pmt">
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="pmt-option">
                                                <input type="radio" name="payment" id="payToday">
                                                <label for="payToday" class="pmt-block">
                                                    <div class="pmt-header">
                                                        <p>Pay today only</p>
                                                        <div class="pmt-price"><span class="pmt-price-regular">{$dyn}</span></div>
                                                    </div>
                                                    <div class="pmt-footer">
                                                        <span>Monthly interest-free payments with::</span>
                                                        <img src="https://qureskincaredns.com/sections/isolated/treatment/images/pmt-2.webp" alt="pmt">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qure__bundle-atc mt-40">
                                <a href="#" class="btn btn--primary d-block">Buy Now & Save {dyn}% </a>
                                <div class="align-items-center d-flex flex-wrap fs-13 gap-2 justify-content-center mt-6">OR
                                    pay 4 monthly payments of {$dyn} with <img src="https://qureskincaredns.com/sections/isolated/treatment/images/klarna.png"
                                        alt=""> <img src="https://qureskincaredns.com/sections/isolated/treatment/images/sezzle.png" alt=""><img
                                        src="https://qureskincaredns.com/sections/isolated/treatment/images/after-pay.png" alt=""></div>
                            </div>

                            <div class="patch__product-batch mt-30 max-w-ctm" style="--max-w-ctm:500px">
                                <div class="patch-d-header">
                                    <h4 class="fm-body fs-16 fw-600 mb-0">Next batch ships {date}:</h4>
                                    <p class="fs-14">Due to high demand, our {product name} is sold out. Order now and secure
                                        yours from the next shipment.</p>
                                </div>
                                <div class="progress__bar-container w-100">
                                    <div class="patch-bar mb-10" role="progressbar">
                                        <span class="patch__date">{Previous date}</span><span class="patch__status">SOLD
                                            OUT</span>
                                    </div>
                                    <div class="patch-bar" role="progressbar"
                                        style="--progress-bg:#91BAEC;--text-color:#212428;--progress-width:48%">
                                        <span class="patch__date fs-14">{date}</span><span class="patch__status">48% Reserved</span>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="d-flex d-md-none flex-nowrap align-items-center justify-content-center col-gap px-30 px-lg-50 mt-30"
                                style="--col-gap-mb: 20px;--col-gap: 42px;">
                                <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-14 text-center">
                                    <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/dermatologist.svg" alt="dermatologist">
                                    <span>30-Day Money-Back Guarantee </span>
                                </div>
                                <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-14 text-center">
                                    <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping">
                                    <span>Free Shipping over {$dyn}</span>
                                </div>
                                <div class="icon-with-text d-flex flex-wrap  flex-column align-items-center fs-14 text-center">
                                    <img src="https://qureskincaredns.com/sections/isolated/protect-your-skin/images/backed_science.svg" alt="dermatologist">
                                    <span>Backed by Science </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose treatment -->
    </main>
    <!-- SECTIONS STACK END -->
