<template id="async">
    <button class="qure__faucet-button collapsed d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#content__angel" aria-expanded="false" aria-controls="content__angel">
        Safety Precautions
    </button>
    <div id="content__angel" class="accordion-collapse collapse d-lg-block" aria-labelledby="content__angel"
        data-bs-parent="#myTabContent">
        <div class="qure__faucet-body px-6 pb-30 pb-lg-0">
            <h2 class="d-md-block d-none qure__section-heading" style="--heading-size: 28px;">
                Safety Precautions
            </h2>
            <p>Your Qure Micro-Infusion treatment is designed to be gentle and effective — but
                it’s important to use it correctly. </p>
            <p>We recommend completing a patch test on an area of your skin that isn't too
                exposed prior to treatment, to have a better understanding of how your skin will
                react and the downtime you should expect.</p>
            <p class="fw-600">Do not use Micro-Infusion if:</p>
            <ul class="list-dots ml-15 d-flex flex-column gap-1">
                <li>You have active acne, open wounds, sunburn, eczema, or rosacea</li>
                <li>You’ve used retinoids, acids (AHAs/BHAs), or exfoliants in the last 48 hours
                </li>
                <li>You’ve recently had laser, filler, or chemical peel treatments (wait at
                    least 2 weeks)</li>
                <li>You’re pregnant or breastfeeding (without consulting your doctor first)</li>
                <li>You have a history of keloid scarring or severe skin sensitivity</li>
                <li>You have metal allergies or any medical concern</li>
            </ul>
            <div class="info_block fs-16 bg-primary-subtle p-15 rounded-10 d-flex mt-25 mw"
                style="--bs-primary-bg-subtle: #FFEEEA; --mw: 500px;">
                <div class="pr-10 mt-2">
                    <img src="https://qureskincaredns.com/assets/images/info_icon.svg" alt="info icon">
                </div>
                <p><span class="fw-600">Only</span> use the serums supplied with your
                    Micro-Infusion Device. Only our serum ampoules are developed specifically
                    for the Qure’s Micro-Infusion Device.
                </p>
            </div>
            <div class="border-bottom my-20"></div>
            <p class="text-secondary-emphasis fw-600" style="--bs-secondary-text-emphasis:#FF5429;">Note:</p>
            <p>This treatment is not intended to diagnose, treat, cure, or prevent any disease.
                If you have any skin conditions, are pregnant or breastfeeding, please consult
                with your doctor prior to treatment.</p>
            <p>If you have metal allergies or if you have any medical concern, please consult
                your medical professional before using this treatment device. Any harmful
                consequence resulting from misuse or application to other body areas, not
                following instruction or any other improper applications is neither the
                responsibility of Qure Skincare Pty Ltd. or its affiliates.</p>
        </div>
    </div>
    <script src="https://qureskincaredns.com/assets/js/main-slider.js" defer></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" defer></script>
</template>