<template id="async">
    <button class="qure__faucet-button collapsed d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#content__examples" aria-expanded="false" aria-controls="content__examples">
        FAQs
    </button>
    <div id="content__examples" class="accordion-collapse collapse d-lg-block" aria-labelledby="content__examples"
        data-bs-parent="#myTabContent">
        <div class="qure__faucet-body px-6 pb-30 pb-lg-0">
            <h2 class="d-md-block d-none qure__section-heading" style="--heading-size: 28px;">
                Frequently Asked Questions</h2>
            <div id="faq">
                <div class="faq_content">
                    <div class="accordion accordion-flush" id="qure_faq-main">
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-1" aria-expanded="false"
                                aria-controls="qure_faq-1">
                                How quickly will I see results?
                            </button>
                            <div id="qure_faq-1" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body fs-16 ">
                                    <p>Micro-Infusion treatment is powerful, and you’ll likely
                                        notice the first results instantly, with a strong
                                        radiance boost, softer fine lines and overall a healthy,
                                        fresh complexion in the next day or two.</p>
                                    <p>The more treatments you perform, the more outstanding
                                        skin benefits you’ll receive. </p>
                                    <p>Depending on how many treatments you complete, the
                                        results should last three to four months. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-2" aria-expanded="false"
                                aria-controls="qure_faq-2">
                                How often can I use the treatment?
                            </button>
                            <div id="qure_faq-2" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body">
                                    <p>We recommend using your Micro-Infusion treatment every 2
                                        weeks for the best results.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-3" aria-expanded="false"
                                aria-controls="qure_faq-3">
                                When is the best time to perform Micro-Infusion?
                            </button>
                            <div id="qure_faq-3" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body">
                                    <p>We recommend using the treatment at night before bed, due
                                        to the increase in skin’s sensitivity following the
                                        treatment.
                                    </p>
                                    <p>Avoid makeup, sun exposure, heat (like saunas or
                                        workouts), and swimming for 24 hours after use,</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-4" aria-expanded="false"
                                aria-controls="qure_faq-4">
                                There is a lot of serum left over. Can I save it for another
                                treatment?
                            </button>
                            <div id="qure_faq-4" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body">
                                    <p>Definitely! Once you’ve completed the treatment, take the
                                        leftover serum from the device and pat it onto your face
                                        and neck.</p>
                                    <p>One ampoule of serum is intended for one whole treatment.
                                    </p>
                                    <p>We recommend stamping with a 50% overlap. This means each
                                        time you stamp, you overlap the previous stamp halfway.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-5" aria-expanded="false"
                                aria-controls="qure_faq-5">
                                How do you open the serum ampoule?
                            </button>
                            <div id="qure_faq-5" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body">
                                    <p>Our serums come sealed with aluminum to ensure the serum
                                        stays sterile for treatment.</p>
                                    <div class="mi_details">
                                        <div class="pr-md-50">
                                            <div class="d-flex">
                                                <div class="pt-5"><img
                                                        src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/Number_1.svg"
                                                        alt="Number_1"></div>
                                                <p class="pl-10 fs-16">Firmly hold the ampoule
                                                    bottle. Find the arrow on the cap lid and
                                                    flip to open from the end where the arrow is
                                                    located.</p>
                                            </div>
                                            <div class="d-flex pt-10">
                                                <div class="pt-5"><img
                                                        src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/Number_2.svg"
                                                        alt="Number_2"></div>
                                                <p class="pl-10 fs-16">Once the seal has been
                                                    broken, hold the cap and steadily bend the
                                                    silver seal away from the serum ampoule
                                                    until it almost snaps off.</p>
                                            </div>
                                            <div class="d-flex pt-10">
                                                <div class="pt-5"><img
                                                        src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/Number3.svg"
                                                        alt="Number3"></div>
                                                <p class="pl-10 fs-16">Peel back the silver seal
                                                    from around the top of the serum ampoule and
                                                    dispose of it.</p>
                                            </div>
                                            <div class="d-flex pt-10">
                                                <div class="pt-5"><img
                                                        src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/Number4.svg"
                                                        alt="Number4"></div>
                                                <p class="pl-10 fs-16">Remove the rubber stopper
                                                    and pour the serum into your Micro-Infusion
                                                    device.</p>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="d-md-none fs-16 pb-20">If you’re mixing
                                                serums for your treatment,
                                                put back the rubber stopper on the vial to save
                                                the
                                                remaining serum for your next session!</p>
                                            <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/silver_cap.webp"
                                                class="img-fluid" alt="silver cap">
                                        </div>
                                    </div>
                                    <p class="pt-10 d-md-block d-none">If you’re mixing serums
                                        for your treatment,
                                        put back the rubber stopper on the vial to save the
                                        remaining serum for your next session!</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-6" aria-expanded="false"
                                aria-controls="qure_faq-6">
                                Why isn’t the serum coming out the the device when I am
                                stamping?
                            </button>
                            <div id="qure_faq-6" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body">
                                    <p>When stamping it’s best to ensure the serum is at the end
                                        of the device where the needles are.</p>
                                    <p>Sometimes this requires you to slightly tilt your head
                                        back or device towards the ceiling to help the serum
                                        make its way through the needles.</p>
                                    <p>Another tip is to pop the lid back on the device and put
                                        it upside down again, firmly tap the end of the device a
                                        few times to help push the serum down the needles</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-7" aria-expanded="false"
                                aria-controls="qure_faq-7">
                                Can I use Micro-Infusion around the eyes?
                            </button>
                            <div id="qure_faq-7" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body">
                                    <p>Yes, you can! </p>
                                    <p>Make sure to apply a very gentle pressure, up to your
                                        orbital bone, when stamping around the eye area. We also
                                        recommend only doing one pass in this area.</p>
                                    <p>Never use Micro-Infusion on your eyelids or too close
                                        your your lash line.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item qure__accordion-item bg-body-tertiary mb-10 border-0 rounded-10">
                            <button class="accordion-button collapsed qure__accordion-header px-10" type="button"
                                data-bs-toggle="collapse" data-bs-target="#qure_faq-8" aria-expanded="false"
                                aria-controls="qure_faq-8">
                                Can I treat my neck?
                            </button>
                            <div id="qure_faq-8" class="accordion-collapse collapse qure__accordion-content"
                                data-bs-parent="#qure_faq-main">
                                <div class="accordion-body">
                                    <p>Yes. Performing Micro-Infusion on the neck can help
                                        improve the appearance of fine lines, and rejuvenate
                                        skin.</p>
                                    <p>It can target issues such as neck creases, horizontal
                                        lines, and age-related skin concerns to help enhance the
                                        overall texture, tone, and youthfulness of the skin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-md-40 pt-20 d-flex align-items-center justify-content-center gap-3">
                        <h6 class="fm-body fw-500 mb-0">Don’t see your question?</h6>
                        <a href="" class="btn btn-sm btn--secondary fs-18">Ask us <span><img
                                    src="https://qureskincaredns-main.com/assets/images/arrow_right.svg"
                                    alt="arrow right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://qureskincaredns-main.com/assets/js/main-slider.js" defer></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" defer></script>
</template>