<template id="async">
    <div class="qure-filter-cards d-inline-block">
        <a href="#" data-bs-toggle="modal" data-bs-target="#shower2"
            class="filter-card-item filter-card-video d-md-none">
            <div class="filter-card-video-icon align-items-end px-20 py-10">
                <div class="align-items-center d-flex justify-content-between w-100">
                    <div class="text-white fs-20">Watch: How To Use</div>
                    <img src="https://qureskincaredns-main.com/assets/images/play_button.svg" alt="play button">
                </div>
            </div>
            <img src="https://qureskincaredns-main.com/sections/isolated/meet-the-qure-filter/images/how_to-mi.webp"
                alt="shower" class="img-fluid" />
        </a>
    </div>

    <button class="qure__faucet-button d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#product-information" aria-expanded="true" aria-controls="product-information">
        Quick Start Guide</button>

    <div id="product-information" class="accordion-collapse collapse show  d-lg-block" aria-labelledby="headingOne"
        data-bs-parent="#myTabContent">
        <div class="qure__faucet-body px-6 pb-30 pb-lg-0">
            <h2 class="d-md-block d-none qure__section-heading" style="--heading-size: 28px;">{{ section.settings.heading }}</h2>
            <div class="row custom__grid" style="--column-gap:30px; --column-gap-mobile:20px;">
                <div class="col-sm-6 custom__block">
                    <div>To get started with your first treatment, you’ll need the following:
                    </div>
                    <ul class="list-dots ml-15 d-flex flex-column gap-1 py-15">
                        <li>Micro-Infusion Device </li>
                        <li>1 sterile needle head </li>
                        <li>Micro-Infusion serum </li>
                    </ul>
                    <div>Ensure your hands are clean before and during the treatment and do not
                        rush yourself.</div>
                </div>
                <div class="col-sm-6 custom__block">
                    <div class="qure-filter-cards d-block">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#shower2"
                            class="filter-card-item filter-card-video d-md-block d-none">
                            <div class="filter-card-video-icon align-items-end px-20 py-10">
                                <div class="align-items-center d-flex justify-content-between w-100">
                                    <div class="text-white fs-20">Watch: How To Use</div>
                                    <img src="https://qureskincaredns-main.com/assets/images/play_button.svg"
                                        alt="play button">
                                </div>
                            </div>
                            <img src="https://qureskincaredns-main.com/sections/isolated/meet-the-qure-filter/images/how_to-mi.webp"
                                alt="shower" class="img-fluid" />
                        </a>
                        <!-- modal start -->
                        <div class="modal fade filter-modal" id="shower2" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="shower2Label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
                                <div class="modal-content">
                                    <div class="modal-header border-0">
                                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <style>
                                            wistia-player[media-id='96okj0th48']:not(:defined) {
                                                background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/96okj0th48/swatch');
                                                display: block;
                                                filter: blur(5px);
                                                padding-top: 177.78%;
                                            }
                                        </style>
                                        <div class="filter-modal-video">
                                            <wistia-player media-id="96okj0th48" seo="false"
                                                aspect="0.5625"></wistia-player>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal end-->
                    </div>
                </div>
            </div>
            <p class="fs-20 py-20">Step-By-Step Guide</p>
            <div class="swiper qure__swiper" id="qure__swiper-row-slider" data-section-id="row-slider"
                data-autoplay="false" data-loop="false" data-mobile="1" data-tablet="1.4" data-desktop="1"
                data-spacing="24" data-pagination-fraction="true" data-row="8" data-rowtablet="5" data-rowmobile="1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step1.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step1">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step1-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step1-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 1</div>
                                        <p>Cleanse your face thoroughly to remove
                                            all traces of makeup and lotions. Pat dry.</p>
                                        <p>Spritz our <a href="https://qureskincare.com/products/dermal-mist"
                                                style="--base-color: #91BAEC;" class="text-decoration-underline">Dermal
                                                Mist</a> to
                                            refresh and prepare your skin further and wait for
                                            it to
                                            dry before beginning.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step2.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step2">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step2-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step2-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 2</div>
                                        <p class="mb-20">Pour one full Qure serum ampoule into
                                            the
                                            device chamber.</p>
                                    </div>
                                    <div class="bg-success-subtle p-10 fs-16 rounded-3"
                                        style="--bs-success-bg-subtle: #EEF7F4;"><span class="fw-600">Tip:</span> Use
                                        one ampoule per
                                        treatment. The serum should only fill the Device
                                        halfway.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step3.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step3">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step3-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step3-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 3</div>
                                        <p>Attach the micro-needle head with the
                                            plastic cap still on the device. </p>
                                        <p>Turn the device upside down for 1–2 minutes to allow
                                            the serum to saturate the needles.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step4.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step4">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step4-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step4-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 4</div>
                                        <p class="mb-20">Remove the cap and stamp gently across
                                            your face using light pressure.
                                        </p>
                                    </div>
                                    <div class="bg-success-subtle p-10 fs-16 rounded-3"
                                        style="--bs-success-bg-subtle: #EEF7F4;"><span class="fw-600">Tip:</span> Do not
                                        apply too much
                                        pressure! The needles are designed to be gentle on your
                                        skin.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step5.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step5">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step5-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step5-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 5</div>
                                        <p class="mb-20">Work section by section, repeating each
                                            area 2–3 times. </p>
                                    </div>
                                    <div class="bg-success-subtle p-10 fs-16 rounded-3"
                                        style="--bs-success-bg-subtle: #EEF7F4;"><span class="fw-600">Tip:</span>
                                        Each time you stamp, overlap the previous stamp halfway
                                        to ensure each area of the face is stamped at least
                                        twice.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step6.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step6">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step6-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step6-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 6</div>
                                        <p>Make sure the serum is always at the
                                            needle end while stamping. If the serum is not
                                            coming
                                            through, tilt the device upward or lean your head
                                            back
                                            to help it flow. </p>
                                        <p>You can also pop the lid back on, turn the device
                                            upside down, and tap the end firmly to push the
                                            serum
                                            down.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step7.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step7">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step7-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step7-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 7</div>
                                        <p>Once finished, pat any remaining serum
                                            into your skin with clean hands.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="step_card-main">
                            <div class="step_card">
                                <div>
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step8.webp"
                                        class="img-fluid d-md-block d-none" alt="mi_step8">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_step8-m.webp"
                                        class="img-fluid d-md-none" alt="mi_step8-m">
                                </div>
                                <div class="step_body">
                                    <div>
                                        <div class="mb-10 fs-20">Step 8</div>
                                        <p class="mb-20">Carefully unscrew the needle head, put
                                            the cap back on, and dispose of the used needle
                                            head.
                                            Each one is single-use only.</p>
                                    </div>
                                    <div class="bg-success-subtle p-10 fs-16 rounded-3"
                                        style="--bs-success-bg-subtle: #EEF7F4;"><span class="fw-600">Tip:</span>
                                        Do not reuse needle heads – even if it looks clean. It
                                        is designed for one treatment only.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 pt-md-0 pt-20">
                    <div class="qure-swiper-button-prev qure-swiper-arrow"><i class="fa-regular fa-angle-left"></i>
                    </div>
                    <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                    <div class="qure-swiper-button-next qure-swiper-arrow"><i class="fa-regular fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="info_block fs-16 bg-primary-subtle p-25 rounded-10 mt-25"
                style="--bs-primary-bg-subtle: #F4F8FD;">
                <p class="fs-20">After your treatment:</p>
                <ul class="list-dots ml-10 d-flex flex-column gap-1 pt-15 fs-18">
                    <li>Apply gentle, hydrating skincare if you need it.</li>
                    <li>Avoid using makeup or active ingredients (like retinoids or acids) for
                        at least 24 hours.</li>
                    <li>Avoid heat, sweating, and direct sun.</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://qureskincaredns-main.com/assets/js/main-slider.js" defer></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" defer></script>
</template>


{% schema %}
{
  "name": "Microinfusion Safety",
  "class": "page-microinfusion-safety-guide-quick-guide-start",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    }
  ],
  "presets": [
    {
      "name": "Microinfusion Safety Guide"
    }
  ]
}
{% endschema %}