{% doc %}
  Renders a page section
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/new/article/article.css" />

<section class="article">
  <div class="container">
    <article>
      {{ page.content }}
    </article>
  </div>
</section>