{% doc %}
  Renders a buy box section fo exclusive holiday bundle deal page
{% enddoc %}


<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/section-micro-infusion-pdp.css" />
    <div id="buy_box" class="qure__trageted-patches qure__section"
        style="--section-padding-top: 80px; --section-padding-bottom: 40px; --section-padding-bottom-mob: 15px;">
        <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
            <div class="row custom__grid">
                <div class="col-lg-6 custom__block">
                    <div class="qure-product-details">
                        <div class="exclusive_tag">
                            <div class="tag_content color-background text-white" style="--section-background:#FF5429">
                                Exclusive</div>
                            <div class="tag_content color-background" style="--section-background:#FFEEEA">Bundles</div>
                        </div>
                        <h1 class="qure__product-title my-25 ctm-width" style="--font-h1:42px; --ctm-width: 475px;">Save
                            Up to 55% on Certified
                            Skincare Solutions</h1>
                        <p>Backed by the most respected peer-reviewed Dermatologist Journals and scientific studies that
                            prove; Qure’s skincare works.</p>
                        <div class="tp-product-gallery qure__swiper-wrapper d-block d-lg-none my-30">
                            <!-- Galler start-->
                            <div class="swiper qure__product-gallery qure__swiper-gallery"
                                data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                                data-autoplay="false" data-loop="false" data-spacing="0">
                                <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-1.webp" alt="1"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-2.webp" alt="2"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-3.webp" alt="3"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-4.webp" alt="4"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-5.webp" alt="5"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-6.webp" alt="6"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-7.webp" alt="7"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-8.webp" alt="8"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-image">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-9.webp" alt="9"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Galler End-->
                            <div class="swiper-thumbnail-with-arrow mt-3">
                                <!-- Thumbnails start-->
                                <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i>
                                </div>
                                <div class="swiper qure__product-gallery  tp-thumbnails-desktop qure__swiper-gallery-thumbnails"
                                    data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4"
                                    data-desktop="4" data-autoplay="false" data-loop="false" data-spacing="10">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-1.webp" alt="1"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-2.webp" alt="2"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-3.webp" alt="3"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-4.webp" alt="4"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-5.webp" alt="5"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-6.webp" alt="6"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-7.webp" alt="7"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-8.webp" alt="8"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="slide-thumbnail">
                                                <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-9.webp" alt="9"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i>
                                </div>
                            </div>
                            <!-- Thumbnails End-->
                        </div>
                        <div class="ctm-width" style="--ctm-width: 450px;">
                            <div class="qure__product-action-inner mt-30 mt-md-40 mb-10 max-w-ctm"
                                style="--max-w-ctm:500px">
                                <button type="submit"
                                    class="add-cart-button product-form__submit btn btn--primary w-100">SHOP & SAVE UP
                                    TO
                                    55%</button>
                            </div>
                            <div class="d-flex flex-wrap align-items-center justify-content-center col-gap" style="--col-gap-mb:10px;">
                                <div
                                    class="icon-with-text d-flex gap-2 justify-content-center align-items-center fs-16 text-center text-lg-start">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/dermatologist.svg"
                                        alt="dermatologist">
                                    <span>Dermatologist Reviewed </span>
                                </div>
                                <div
                                    class="icon-with-text d-flex gap-2 justify-content-center align-items-center fs-16 text-center text-lg-start">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/protect-your-skin/images/shipping.svg" alt="shipping">
                                    <span>Free Shipping over {$dyn}</span>
                                </div>
                            </div>
                            <div class="patch__product-main pt-15">
                                <div class="d-block patch__product-certified text-center">
                                    <ul class="justify-content-center patch-dr-list">
                                        <li><img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/crt-1.webp"></li>
                                        <li><img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/crt-2.webp"></li>
                                        <li>+50</li>
                                    </ul>
                                    <p><strong>50+ Board Certified Dermatologists</strong> recommend Qure to their
                                        patients.
                                        <a href="https://qureskincare.com/pages/derm-reviews" class="btn--link">See
                                            More.</a>
                                    </p>
                                </div>
                                <div class="d-md-block d-none">
                                    <img src="https://qureskincaredns-main.com/assets/images/jaad.webp" class="ctm-width" style="--ctm-width:98px"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom__block d-none d-lg-block">
                    <div class="tp-product-gallery qure__swiper-wrapper">
                        <!-- Galler start-->
                        <div class="swiper qure__product-gallery qure__swiper-gallery"
                            data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                            data-autoplay="false" data-loop="false" data-spacing="0">
                            <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-1.webp" alt="1"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-2.webp" alt="2"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-3.webp" alt="3"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-4.webp" alt="4"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-5.webp" alt="5"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-6.webp" alt="6"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-7.webp" alt="7"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-8.webp" alt="8"
                                            class="img-fluid" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-image">
                                        <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-9.webp" alt="9"
                                            class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Galler End-->
                        <div class="swiper-thumbnail-with-arrow mt-3" style="--thumb-box-width: 100%;">
                            <!-- Thumbnails start-->
                            <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                            <div class="swiper qure__product-gallery  tp-thumbnails-desktop qure__swiper-gallery-thumbnails"
                                data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="5"
                                data-autoplay="false" data-loop="false" data-spacing="10">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-1.webp" alt="1"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-2.webp" alt="2"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-3.webp" alt="3"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-4.webp" alt="4"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-5.webp" alt="5"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-6.webp" alt="6"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-7.webp" alt="7"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-8.webp" alt="8"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-thumbnail">
                                            <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/mp-9.webp" alt="9"
                                                class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                        </div>
                        <!-- Thumbnails End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('slider-script', 'assets/js/slider-with-thumb.js');
        });
    </script>


{% schema %}
{
  "name": "t:common.buy-box",
  "settings": []
}
{% endschema %}