<template id="async">
    <button class="qure__faucet-button collapsed d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#usage_instructions" aria-expanded="false" aria-controls="usage_instructions">
        Learn About Your Device
    </button>
    <div id="usage_instructions" class="accordion-collapse collapse d-lg-block" aria-labelledby="usage_instructions"
        data-bs-parent="#myTabContent">
        <div class="qure__faucet-body px-6 pb-30 pb-lg-0">
            <h2 class="d-md-block d-none qure__section-heading" style="--heading-size: 28px;">
                Learn About Your Device</h2>

            <p>Qure’s Micro-Infusion device uses 24K gold plated needles to deliver concentrated
                serum directly below the surface of your skin.</p>
            <p>The needles are thinner than a strand of hair, so the treatment feels gentle —
                but the results are powerful.</p>
            <div class="mi_details">
                <div>
                    <div>It works in two ways:</div>
                    <div class="d-flex py-10">
                        <div class="pt-5"><img
                                src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/Number1.svg"
                                alt="Number1"></div>
                        <p class="pl-10">It triggers your skin’s natural repair response for smoother and firmer looking
                            skin.</p>
                    </div>
                    <div class="d-flex">
                        <div class="pt-5"><img
                                src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/Number2.svg"
                                alt="Number2"></div>
                        <p class="pl-10">It creates tiny, invisible channels in the surface of
                            your skin, allowing powerful active ingredients to absorb deeper and
                            work faster.</p>
                    </div>
                </div>
                <div>
                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/mi_bottle_detail.webp"
                        class="img-fluid" alt="mi_bottle_detail">
                </div>
            </div>
        </div>
    </div>
    <script src="https://qureskincaredns-main.com/assets/js/main-slider.js" defer></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" defer></script>
</template>