<template id="async">
    <button class="qure__faucet-button collapsed d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#content__requirements" aria-expanded="false" aria-controls="content__requirements">
        Where to Use
    </button>
    <div id="content__requirements" class="accordion-collapse collapse d-lg-block"
        aria-labelledby="content__requirements" data-bs-parent="#myTabContent">
        <div class="qure__faucet-body px-6 pb-30 pb-lg-0">
            <h2 class="d-md-block d-none qure__section-heading" style="--heading-size: 28px;">
                Where to Use</h2>
            <div class="mi_target-area">
                <div>
                    <p>The Qure Micro-Infusion device is designed for use on the face and neck
                        only.</p>
                    <p>You can safely treat the forehead, cheeks, nose, chin, jawline, and the
                        under-eye area (up to the orbital bone). </p>
                    <p>Use light, even pressure and pass over each area 2–3 times. If a section
                        feels too sensitive, it’s okay to skip it.</p>
                    <div class="info_block fs-16 bg-primary-subtle p-15 rounded-10 d-md-flex mt-25 d-none"
                        style="--bs-primary-bg-subtle: #FFEEEA;">
                        <div class="pr-10">
                            <img src="https://qureskincaredns-main.com/assets/images/info_icon.svg" alt="info icon">
                        </div>
                        <p><span class="fw-600">Do not</span> use Micro-Infusion on the eyelids,
                            lips, or on areas with active breakouts or broken skin.
                        </p>
                    </div>
                </div>
                <div>
                    <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/target-area.webp"
                        class="img-fluid px-md-0 px-30" alt="target area">
                    <div class="info_block fs-16 bg-primary-subtle p-15 rounded-10 d-flex mt-25 d-md-none"
                        style="--bs-primary-bg-subtle: #FFEEEA;">
                        <div class="pr-10">
                            <img src="https://qureskincaredns-main.com/assets/images/info_icon.svg" alt="info icon">
                        </div>
                        <p><span class="fw-600">Do not</span> use Micro-Infusion on the eyelids,
                            lips, or on areas with active breakouts or broken skin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://qureskincaredns-main.com/assets/js/main-slider.js" defer></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" defer></script>
</template>