<template id="async">
    <button class="qure__faucet-button collapsed d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#product__claim" aria-expanded="false" aria-controls="product__claim">
        Serum Ingredients & Information
    </button>
    <div id="product__claim" class="accordion-collapse collapse d-lg-block" aria-labelledby="product__claim"
        data-bs-parent="#myTabContent">
        <div class="qure__faucet-body px-6 pb-30 pb-lg-0">
            <h2 class="d-md-block d-none qure__section-heading" style="--heading-size: 28px;">
                Serum Ingredients & Information</h2>
            <p>Each Qure Micro-Infusion treatment is powered by a single-use ampoule of
                concentrated serum, designed to target specific skin concerns with clinically
                backed ingredients. </p>
            <p>These serums are lightweight, fast-absorbing, and free from fragrance, parabens,
                and harsh actives.</p>
            <div class="row pt-15 custom__grid" style="--column-gap:24px; --column-gap-mobile:24px;">
                <div class="col-md-6 custom__block">
                    <div class="serum_ingredients">
                        <div>
                            <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/white_serum.webp"
                                class="img-fluid" alt="white_serum">
                        </div>
                        <div>
                            <div class="pb-10 fw-600">For Dark Spots</div>
                            <p class="fs-16">Smoothes and evens skin to promote a brighter
                                looking complexion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 custom__block">
                    <div class="serum_ingredients">
                        <div>
                            <img src="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/images/blue_serum.webp"
                                class="img-fluid" alt="blue_serum">
                        </div>
                        <div>
                            <div class="pb-10 fw-600">For Wrinkles</div>
                            <p class="fs-16">Helps to plump skin, reducing the look of fine
                                lines and wrinkles.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pt-24">
                <a href="#" data-bs-toggle="modal" data-bs-target="#ingredients_popup"
                    class="filter-card-item filter-card-video text-decoration-underline" style="--base-color: #212428;">
                    View full ingredient lists <span class="pl-5"><img
                            src="https://qureskincaredns-main.com/assets/images/plus_icon.svg" alt="plus icon"></span>
                </a>
            </div>
            <!-- modal start -->
            <div class="modal fade ingredient_modal" id="ingredients_popup" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="ingredients_popupLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered filter-dialog pb-md-0 p-15"
                    style="--bs-modal-width:940px">
                    <div class="modal-content bg-white">
                        <div class="modal-header border-0">
                            <button type="button"
                                class="btn btn-close bg-transparent border-0 btn btn-close text-black p-0"
                                data-bs-dismiss="modal" aria-label="Close"><i
                                    class="fa-solid fa-xmark fs-30"></i></button>
                        </div>
                        <div class="modal-body pb-40 px-40">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="ing-dark_spots" data-bs-toggle="tab"
                                        data-bs-target="#ing-dark_spots-pane" type="button" role="tab"
                                        aria-controls="ing-dark_spots-pane" aria-selected="true">Dark Spots</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="ing-wrinkles" data-bs-toggle="tab"
                                        data-bs-target="#ing-wrinkles-pane" type="button" role="tab"
                                        aria-controls="ing-wrinkles-pane" aria-selected="false">Wrinkles</button>
                                </li>
                            </ul>
                            <div class="tab-content pt-25" id="myTabContent">
                                <div class="tab-pane fade show active" id="ing-dark_spots-pane" role="tabpanel"
                                    aria-labelledby="ing-dark_spots" tabindex="0">
                                    <p>Rosa Damascena Flower Water, Propanediol, Glycerin,
                                        Panthenol, Niacinamide, Myrothamnus
                                        Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol,
                                        Hydroxyacetophenone, Copper
                                        Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum
                                        Extract, Ethylhexylglycerin, Sodium
                                        Hyaluronate, Allantoin, Xanthan Gum.</p>
                                    <div class="info_block fs-16 bg-primary-subtle p-15 rounded-10 mt-25"
                                        style="--bs-primary-bg-subtle: #F6F6F7;">
                                        <p>Please note that due to innovative updates and
                                            changing regulatory guidelines, the
                                            ingredient lists provided here may differ slightly
                                            from those on our packaging and
                                            distributor websites.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ing-wrinkles-pane" role="tabpanel"
                                    aria-labelledby="ing-wrinkles" tabindex="0">
                                    <p>Rosa Damascena Flower Water, Propanediol, Glycerin,
                                        Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum
                                        Indicum Extract, Ethylhexylglycerin, Tripeptide-1,
                                        Xanthan Gum, Allantoin, Sh-Oligopeptide-1.</p>
                                    <div class="info_block fs-16 bg-primary-subtle p-15 rounded-10 mt-25"
                                        style="--bs-primary-bg-subtle: #F6F6F7;">
                                        <p>Please note that due to innovative updates and
                                            changing regulatory guidelines, the ingredient lists
                                            provided here may differ slightly from those on our
                                            packaging and distributor websites.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal end-->
        </div>
    </div>
    <script src="https://qureskincaredns-main.com/assets/js/main-slider.js" defer></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" defer></script>
</template>