<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/faucet-creative-brief/faucet-creative-brief.css" />
<div class="qure__section section-faucet-creative"
    style="--section-padding-top: 30px; --section-padding-bottom: 40px; --section-padding-top-mob: 30px; --section-padding-bottom-mob: 40px;">
    <div class="container" style="--column-gap:60px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-lg-4 d-none d-lg-block custom__block">
                <h4 class="title_content">Contents</h4>
                <ul class="nav qure__faucet-tabs" id="myTab" role="tablist">
                    <li class="qure__faucet-item" role="presentation">
                        <button class="qure__faucet-button active" id="page-microinfusion-safety-guide-quick-guide-start" data-bs-toggle="tab">Quick Start Guide</button>
                    </li>
                    <li class="qure__faucet-item" role="presentation">
                        <button class="qure__faucet-button" id="page-microinfusion-safety-guide-learn-about-device" data-bs-toggle="tab">Learn About Your Device</button>
                    </li>
                    <li class="qure__faucet-item" role="presentation">
                        <button class="qure__faucet-button" id="page-microinfusion-safety-guide-serum-ingredients" data-bs-toggle="tab">Serum Ingredients & Information</button>
                    </li>
                    <li class="qure__faucet-item" role="presentation">
                        <button class="qure__faucet-button" id="page-microinfusion-safety-guide-where-to-use" data-bs-toggle="tab">Where to Use</button>
                    </li>
                    <li class="qure__faucet-item" role="presentation">
                        <button class="qure__faucet-button" id="page-microinfusion-safety-guide-post-treatment" data-bs-toggle="tab">Post-Treatment Care & Tips</button>
                    </li>
                    <li class="qure__faucet-item" role="presentation">
                        <button class="qure__faucet-button" id="page-microinfusion-safety-guide-safety" data-bs-toggle="tab">Safety Precautions</button>
                    </li>
                    <li class="qure__faucet-item" role="presentation">
                        <button class="qure__faucet-button" id="page-microinfusion-safety-guide-faqs" data-bs-toggle="tab">FAQs</button>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 custom__block">
                <div class="tab-content faucet-tab-content accordion" id="myTabContent">
                    <div id="async-section" data-async-template-id="{{ section.id | split: '__' | first  }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
        loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
        loadScriptOnce('guide-async-section', 'https://qureskincaredns-main.com/shopify/js/guide-async-section.js');
    });
</script>

<!-- Section faucet creative brief end -->