<!-- Product section -->
<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/clean-water/product.css" />
<div class="qure__featured-product qure__section">
    <div class="container" style="--column-gap:100px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
        <div class="col-lg-6 custom__block">
            <slide-with-thumbs class="featured-product-gallery qure__swiper-wrapper">
                <!-- Galler start-->
                <div class="swiper qure__product-gallery qure__swiper-gallery"
                    data-section-id="featured-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
                    data-autoplay="false" data-loop="false" data-spacing="0">
                    <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                    <div class="swiper-slide">
                        <div class="slide-image"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_1.webp" alt="1"
                                class="img-fluid" /></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_2.webp" alt="2"
                                class="img-fluid" /></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_3.webp" alt="3"
                                class="img-fluid" /></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_4.webp" alt="4"
                                class="img-fluid" /></div>
                    </div>
                    </div>
                </div>
                <!-- Galler End-->
                <div class="swiper-thumbnail-with-arrow mt-3">
                    <!-- Thumbnails start-->
                    <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                    <div
                    class="swiper qure__product-gallery  featured-thumbnails-desktop qure__swiper-gallery-thumbnails"
                    data-section-id="featured-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4"
                    data-autoplay="false" data-loop="false" data-spacing="10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-thumbnail"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_1.webp" alt="1"
                                class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-thumbnail"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_2.webp" alt="2"
                                class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-thumbnail"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_3.webp" alt="3"
                                class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-thumbnail"><img
                                src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_plus_faucet_img_4.webp" alt="4"
                                class="img-fluid" /></div>
                        </div>
                    </div>
                    </div>
                    <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                </div>
                <!-- Thumbnails End-->
            </slide-with-thumbs>
            <div class="accordion accordion-flush mt-15 d-none d-lg-block" id="featured-product-qure">
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                    data-bs-toggle="collapse" data-bs-target="#key-benefits" aria-expanded="false"
                    aria-controls="key-benefits">
                    Key Benefits
                    </button>
                    <div id="key-benefits" class="accordion-collapse collapse qure__accordion-content"
                    data-bs-parent="#featured-product-qure">
                    <div class="accordion-body">
                        <p>Get clearer, hydrated skin on tap with the Qure Filter Bundle.</p>
                        <p>Research shows tap water is often contaminated with over 320 chemicals, which can harm
                            skin health.
                            This bundle utilizes advanced filtering technology to reduce contaminants, including
                            chlorine and
                            other heavy metals, which are known to impact skin negatively.
                        </p>
                        <p>The Qure Shower Filter and Qure Faucet Filter work together to filter water, providing
                            clean
                            purified water that helps to improve skin hydration, reduce premature aging, and decrease
                            redness
                            and irritation.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                    data-bs-toggle="collapse" data-bs-target="#how-it-works" aria-expanded="false"
                    aria-controls="how-it-works">
                    How It Works
                    </button>
                    <div id="how-it-works" class="accordion-collapse collapse qure__accordion-content"
                    data-bs-parent="#featured-product-qure">
                    <div class="accordion-body">
                        <p>The Qure Filter Bundle improves your tap water by reducing skin irritants like chlorine,
                            heavy
                            metals, micro-organisms, and more.
                        </p>
                        <p>Each filter attaches directly to your showerhead or faucet, and uses a patent-pending,
                            multi-stage
                            filtration system.
                        </p>
                        <p>The Shower Filter softens and purifies the water that hits your skin and hair. The Faucet
                            Filter
                            cleans the water that touches your skin and hands — so you’re no longer washing with the
                            same harsh
                            water that’s been drying you out and triggering breakouts.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                    data-bs-toggle="collapse" data-bs-target="#whats-included" aria-expanded="false"
                    aria-controls="whats-included">
                    What’s Included
                    </button>
                    <div id="whats-included" class="accordion-collapse collapse qure__accordion-content"
                    data-bs-parent="#featured-product-qure">
                    <div class="accordion-body">
                        <p>This bundle includes:</p>
                        <ul>
                            <li>1 Qure Showerhead + 1 Filter</li>
                            <li>1 Qure Faucet + 1 Filter</li>
                        </ul>
                        <p>Each filter lasts 90 days (3 months) before needing to be replaced to ensure optimal
                            filtration.
                        </p>
                        <p>When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for
                            Faucet) will
                            auto-ship every 90 days, with a recurring charge of {$dyn} per month.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 custom__block">
            <div class="qure-product-details">
                <div class="qure__product-badge py-5 px-20 mb-15 fw-500">Limited Time Offer</div>
                <h2 class="qure__product-title mb-10">Qure Shower Filter</h2>
                <h4 class="qure__product-subtitle">+ FREE Faucet Filter</h4>
                <div class="qure__price price--on-sale d-flex flex-wrap align-items-center my-20">
                    <div class="price__regular">$149</div>
                    <div class="price__sale">$278</div>
                    <div class="qure__product-label">46% Off</div>
                </div>
                <div class="d-flex flex-nowrap align-items-center col-gap ">
                    <div class="icon-with-text d-flex align-items-center gap-2 fs-18">
                    <img src="https://qureskincaredns-main.com/assets/images/check-blue.svg" alt="dermatologist">
                    <span>Lifetime Warranty </span>
                    </div>
                    <div class="icon-with-text d-flex align-items-center gap-2 fs-18">
                    <img src="https://qureskincaredns-main.com/assets/images/check-blue.svg" alt="shipping">
                    <span>99% Fit Compatibility </span>
                    </div>
                </div>
                <div class="qure__product-short-desc mt-20">Repair skin and hair with dual filters that remove up to
                    99% of
                    chlorine, heavy metals and contaminants.
                </div>
                <div class="subs_wrapper mw" style="--mw:450px">
                    <div class="border-top max-w-450 my-25"></div>
                    <div class="qure__product-variants max-w-450">
                    <div class="qure__variant-label mb-15">Select Your Color:</div>
                    <div class="d-flex col-gap" style="--col-gap:12px">
                        <div class="qure__variant-item">
                            <input type="radio" id="white" name="color" class="variant__input" checked />
                            <label for="white" class="qure__variant-box">
                                <div class="qv-frame">
                                <div class="qv-frame-inner">
                                    <img class="qv-img"
                                        src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_filter_white.webp" />
                                    <div class="list-icons"><i class="fa-sharp fa-solid fa-plus"></i></div>
                                    <img class="qv-img"
                                        src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/faucet_filter_white.webp" />
                                </div>
                                <div class="free">
                                    <div class="text-wrapper">FREE</div>
                                </div>
                                </div>
                                <div class="div">White</div>
                            </label>
                        </div>
                        <div class="qure__variant-item">
                            <input id="black" type="radio" name="color" class="variant__input" />
                            <label for="black" class="qure__variant-box">
                                <div class="qv-frame">
                                <div class="qv-frame-inner">
                                    <img class="qv-img"
                                        src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/shower_filter_black.webp" />
                                    <div class="list-icons"><i class="fa-sharp fa-solid fa-plus"></i></div>
                                    <img class="qv-img"
                                        src="https://qureskincaredns-main.com/sections/isolated/qure-shower-filter/images/faucet_filter_black.webp" />
                                </div>
                                <div class="free">
                                    <div class="text-wrapper">FREE</div>
                                </div>
                                </div>
                                <div class="div">Black</div>
                            </label>
                        </div>
                    </div>
                    </div>
                    <div class="qure__product-subscription mt-25">
                    <div class="qure__variant-label mb-15">Select Your Delivery:</div>
                    </div>
                    <div class="qure__subscription max-w-450" id="qure__subscription">

                    <div class="qure__subscription-item save-subscription position-relative">
                        <div class="qure__best-value">Best Value<i
                                class="fa-sharp fa-solid fa-star-sharp fs-10 ml-5"></i></div>
                        <button class="qure__subscription-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#subscribe_and_save" aria-expanded="true"
                            aria-controls="subscribe_and_save" data-btnLabel="Subscribe Now & Save 50%">
                            <div class="qure__sbs-label d-flex align-items-center gap-4">Subscribe & <span
                                class="qure__product-label">SAVE 50%</span></div>
                            <div class="qure__price price--on-sale d-flex flex-wrap align-items-center">
                                <div class="price__regular fs-18">$149</div>
                                <div class="price__sale mr-0 fs-18">$278</div>
                            </div>
                        </button>
                        <div id="subscribe_and_save" class="qure__subscription-collapse collapse show"
                            data-bs-parent="#qure__subscription">
                            <div class="qure__subscription-body">
                                <div class="border-top mb-5"></div>
                                <div
                                class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                <div class="subscription-item-title">
                                    <div class="div">Qure Shower Filter</div>
                                </div>
                                <div class="subscription-item-price">$149</div>
                                </div>
                                <div
                                class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                <div class="subscription-item-title">
                                    <div class="div">Qure Faucet Filter</div>
                                </div>
                                <div class="subscription-item-price d-flex align-items-center gap-3">
                                    <div class="subscription-free">FREE</div>
                                    <span class="text-decoration-line-through" style="color: #8B8C8E;">$129</span>
                                </div>
                                </div>
                                <div class="border-top mt-5"></div>
                                <div class="fs-16 mt-10"> New filters auto-ship every 90 days.</div>
                            </div>
                        </div>
                    </div>
                    <div class="qure__subscription-item one_time_purchase">
                        <button class="qure__subscription-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#one_time_purchase" aria-expanded="true" aria-controls="one_time_purchase"
                            data-btnLabel="Buy Now & Save 35%">
                            <div class="qure__sbs-label d-flex align-items-center gap-4">One-Time Purchase <span
                                class="qure__product-label">SAVE 35%</span></div>
                            <div
                                class="qure__price price--on-sale d-flex flex-wrap align-items-end flex-column text-right">
                                <div class="price__regular fs-18">$149</div>
                                <div class="price__sale mr-0 fs-18">$278</div>
                            </div>
                        </button>
                        <div id="one_time_purchase" class="qure__subscription-collapse collapse"
                            data-bs-parent="#qure__subscription">
                            <div class="qure__subscription-body">
                                <div class="border-top mb-5"></div>
                                <div
                                class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                <div class="subscription-item-title">
                                    <div class="div">Qure Shower Filter</div>
                                </div>
                                <div class="subscription-item-price">$149</div>
                                </div>
                                <div
                                class="subscription-item-row d-flex align-items-center gap-4 justify-content-between py-5 fs-16">
                                <div class="subscription-item-title">
                                    <div class="div">Qure Faucet Filter</div>
                                </div>
                                <div class="subscription-item-price d-flex align-items-center gap-3">
                                    <div class="subscription-free">FREE</div>
                                    $129
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qure__product-action-inner mt-25 mb-10">
                        <button type="submit" class="btn btn--primary w-100" id="qr__submit">Subscribe Now & Save
                            50%</button>
                    </div>
                    </div>
                    <div class="fs-16 text-center">
                    <strong class="fw-600">Skip pause/modify or cancel anytime.</strong> <br>
                    <a href="" class="text-black text-decoration-underline"> See more details</a>.
                    </div>
                    <div class="text-center my-10 d-none">
                    <div class="shield-icon"><i class="icon qure-shield-check"></i></div>
                    </div>
                    <div class="fs-16 text-center d-none">
                    <strong class="fw-600">Covered by our Lifetime Warranty. </strong><br> Backed by our 30-Day
                    Money-Back
                    Guarantee.
                    </div>
                    <div class="d-none d-md-flex justify-content-between mx-auto pt-10 mw" style="--mw:402px">
                    <div class="Dermatologist_Reviewed d-flex align-items-center gap-2">
                        <img src="https://qureskincaredns-main.com/assets/images/derm_review.svg" alt="">
                        <p class="fs-14 fw-400">Dermatologist Reviewed </p>
                    </div>
                    <div class="shipping_with_text d-flex align-items-center gap-2">
                        <img src="https://qureskincaredns-main.com/assets/images/shipping_qure.svg" alt="">
                        <p class="fs-14 fw-400">Free Shipping over $100</p>
                    </div>
                    </div>
                    <div class="ser_icons d-md-none">
                    <div class="Dermatologist_Reviewed ">
                        <img src="https://qureskincaredns-main.com/assets/images/derm_review.svg" alt="">
                        <p class="fs-14 fw-400">Dermatologist Reviewed </p>
                    </div>
                    <div class="shipping_with_text">
                        <img src="https://qureskincaredns-main.com/assets/images/shipping_qure.svg" alt="">
                        <p class="fs-14 fw-400">Free World-<br>Wide Shipping over $100</p>
                    </div>
                    <div class="backed_by_science">
                        <img src="https://qureskincaredns-main.com/assets/images/backed_by_science_new.svg" alt="">
                        <p class="fs-14 fw-400">Backed by Science</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush mt-25 d-block d-lg-none" id="featured-product-qure-mob">
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                    data-bs-toggle="collapse" data-bs-target="#key-benefits" aria-expanded="false"
                    aria-controls="key-benefits">
                    Key Benefits
                    </button>
                    <div id="key-benefits" class="accordion-collapse collapse qure__accordion-content"
                    data-bs-parent="#featured-product-qure-mob">
                    <div class="accordion-body">
                        <p>Get clearer, hydrated skin on tap with the Qure Filter Bundle.</p>
                        <p>Research shows tap water is often contaminated with over 320 chemicals, which can harm
                            skin health.
                            This bundle utilizes advanced filtering technology to reduce contaminants, including
                            chlorine and
                            other heavy metals, which are known to impact skin negatively.
                        </p>
                        <p>The Qure Shower Filter and Qure Faucet Filter work together to filter water, providing
                            clean
                            purified water that helps to improve skin hydration, reduce premature aging, and decrease
                            redness
                            and irritation.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                    data-bs-toggle="collapse" data-bs-target="#how-it-works" aria-expanded="false"
                    aria-controls="how-it-works">
                    How It Works
                    </button>
                    <div id="how-it-works" class="accordion-collapse collapse qure__accordion-content"
                    data-bs-parent="#featured-product-qure-mob">
                    <div class="accordion-body">
                        <p>The Qure Filter Bundle improves your tap water by reducing skin irritants like chlorine,
                            heavy
                            metals, micro-organisms, and more.
                        </p>
                        <p>Each filter attaches directly to your showerhead or faucet, and uses a patent-pending,
                            multi-stage
                            filtration system.
                        </p>
                        <p>The Shower Filter softens and purifies the water that hits your skin and hair. The Faucet
                            Filter
                            cleans the water that touches your skin and hands — so you’re no longer washing with the
                            same harsh
                            water that’s been drying you out and triggering breakouts.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="accordion-item qure__accordion-item">
                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                    data-bs-toggle="collapse" data-bs-target="#whats-included" aria-expanded="false"
                    aria-controls="whats-included">
                    What’s Included
                    </button>
                    <div id="whats-included" class="accordion-collapse collapse qure__accordion-content"
                    data-bs-parent="#featured-product-qure-mob">
                    <div class="accordion-body">
                        <p>This bundle includes::</p>
                        <ul>
                            <li>1 Qure Showerhead + 1 Filter</li>
                            <li>1 Qure Faucet + 1 Filter</li>
                        </ul>
                        <p>Each filter lasts 90 days (3 months) before needing to be replaced to ensure optimal
                            filtration.
                        </p>
                        <p>When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for
                            Faucet) will
                            auto-ship every 90 days, with a recurring charge of {$dyn} per month.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    loadScriptOnce('slider-script', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
    });
</script>
<!-- Product section end -->