{% doc %}

Renders a before after accordion section for all in one page.

{% enddoc %}


<!-- Section after before accordion -->
<link rel="stylesheet"
    href="https://qureskincaredns.com/sections/isolated/after-before-accordion/section-after-before-accordion.css" />
<div class="qure__section"
    style="--section-padding-top: 40px; --section-padding-bottom: 40px; --section-padding-top-mob: 32px; --section-padding-bottom-mob: 50px;">
    <div class="container" style="--column-gap:60px; --column-gap-mobile:24px;">
        <div class="qure__afterBefore-accordion">
            <div class="row custom__grid">
                <div class="col-md-6 custom__block">
                    <div class="card af-card">
                        <img src="https://qureskincaredns.com/sections/isolated/after-before-accordion/images/uneven-skin-texture.webp"
                            class="card-img-top" alt="card">
                        <div class="card-body af-card-body">
                            <div class="reviews-header d-flex align-items-center justify-content-between"
                                style="--bg-light: rgb(199 229 219 / 30%);">
                                <div class="card-user">
                                    <img src="https://qureskincaredns.com/sections/isolated/after-before-accordion/images/canada_f.webp"
                                        alt="user">
                                    <span class="username">Bethany N.</span>
                                </div>
                                <div class="icon-with-text d-flex align-items-center gap-2">
                                    <img src="https://qureskincaredns.com/assets/images/reviewCheck.svg"
                                        alt="review" width="18px" height="18px">
                                    <span>Verified</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 custom__block">
                    <div class="af-card-wrapper">
                        <div class="af-card-header mb-24 pb-24 border-bottom">
                            <h3 class="af-card-title mb-16">Uneven Skin Texture</h3>
                            <div class="af-card-desc">Clarify and even skin tone, minimize enlarged pores, strengthen
                                skin’s
                                barrier, reduce breakouts. </div>
                        </div>
                        <div class="af-card-accordion">
                            <p class="pb-24">Key Ingredients:</p>

                            <div class="accordion accordion-flush" id="after-before-main">
                                <!-- After before accordion item -->
                                <div class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-1" aria-expanded="false"
                                        aria-controls="af-1">
                                        Retinol
                                    </button>
                                    <div id="af-1" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-main">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            Encourages new cells to the surface to help reduce the visibility of
                                            wrinkles and
                                            age
                                            spots, and smooth skin texture.
                                            <div class="af-trial-box bg-white mt-24 p-16 rounded-10">
                                                <p>In a clinical trial...</p>
                                                <div class="af-trial-content">
                                                    <div class="af-progress">
                                                        <div
                                                            class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                                            <svg class="vMQQx" height="63" width="63"
                                                                viewBox="-29 -29 58 58">
                                                                <defs>
                                                                    <linearGradient id="gradient" x1="0" x2="0" y1="1"
                                                                        y2="0">
                                                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                    </linearGradient>
                                                                </defs>
                                                                <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                    pathLength="100" class="K4v4P" r="24"
                                                                    style="stroke-width: 1px;"></circle>
                                                                <circle visibility="visible" fill="none"
                                                                    pathLength="100" transform="rotate(-90)"
                                                                    class="OKwUu" r="24" stroke="url(#gradient)"
                                                                    style="stroke-dasharray: 100; stroke-dashoffset: 37; stroke-width: 5px;">
                                                                </circle>
                                                            </svg>
                                                            <span>63%</span>
                                                        </div>
                                                    </div>
                                                    <div class="af-desc">Reduction of facial wrinkles due to significant
                                                        boost in
                                                        collagen production. <a href="javascript:void();"
                                                            data-bs-toggle="modal" data-bs-target="#retinol"> Read
                                                            more</a></div>
                                                </div>

                                                <!-- Modal start here -->
                                                <div class="modal fade" id="retinol" tabindex="-1"
                                                    aria-labelledby="RetinolLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <div
                                                            class="modal-content af-modal-content border-0 p-lg-60 px-20 py-30 rounded-0 position-relative">
                                                            <button type="button"
                                                                class="btn-close position-absolute fs-24 end-0 top-0"
                                                                data-bs-dismiss="modal" aria-label="Close"><i
                                                                    class="fa-regular fa-xmark"></i></button>
                                                            <div class="modal-body af-modal-body p-0">
                                                                <span
                                                                    class="rounded-pill  mb-20 fw-500 fs-16 py-5 px-16 bg-icemint d-inline-block"
                                                                    style="--bs-badge-color: #212428;">Retinol</span>
                                                                <p>Topical retinol was shown to significantly increase
                                                                    epidermal
                                                                    thickness, stimulate collagen production, and
                                                                    visibly reduce
                                                                    facial
                                                                    wrinkles. Facial wrinkles were reduced by 63.74% at
                                                                    the cheeks and
                                                                    38.74% in the eye areas after 12 weeks of treatment.
                                                                </p>
                                                                <hr class="my-24">
                                                                <p><strong>About the clinical trial</strong></p>
                                                                <p>12 week randomized trial with participants between
                                                                    the ages of 35
                                                                    and
                                                                    55. Results measured via digital image-based wrinkle
                                                                    analysis.</p>
                                                                <p>Reference: Kong, Rong, et al. "A Comparative Study of
                                                                    the Effects
                                                                    of
                                                                    Retinol and Retinoic Acid on Histological,
                                                                    Molecular, and Clinical
                                                                    Properties of Human Skin." Journal of Cosmetic
                                                                    Dermatology, vol.
                                                                    14,
                                                                    no. 1, 2015, pp. 49–57.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal end here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->
                                <!-- After before accordion item -->
                                <div
                                    class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0 mt-12">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-2" aria-expanded="false"
                                        aria-controls="af-2">
                                        Niacinamide
                                    </button>
                                    <div id="af-2" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-main">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            All star ingredient that helps to clarify and even skin tone, minimize
                                            enlarged
                                            pores, reduce acne and redness.
                                            <div class="af-trial-box bg-white mt-24 p-16 rounded-10">
                                                <p>In a clinical trial...</p>
                                                <div class="af-trial-content">
                                                    <div class="af-progress">
                                                        <div
                                                            class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                                            <svg class="vMQQx" height="100" width="100"
                                                                viewBox="-29 -29 58 58">
                                                                <defs>
                                                                    <linearGradient id="niacinamide_gradient" x1="0"
                                                                        x2="0" y1="1" y2="0">
                                                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                    </linearGradient>
                                                                </defs>
                                                                <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                    pathLength="100" class="K4v4P" r="24"
                                                                    style="stroke-width: 1px;"></circle>
                                                                <circle visibility="visible" fill="none"
                                                                    pathLength="100" transform="rotate(-90)"
                                                                    class="OKwUu" r="24"
                                                                    stroke="url(#niacinamide_gradient)"
                                                                    style="stroke-dasharray: 101; stroke-dashoffset: 0; stroke-width: 5px;">
                                                                </circle>
                                                            </svg>
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <div class="af-desc">of users reported <strong>significant
                                                            improvement</strong> in fine lines, radiance, acne breakouts
                                                        and
                                                        smoothness. <a href="javascript:void();" data-bs-toggle="modal"
                                                            data-bs-target="#niacinamide"> Read more</a></div>
                                                </div>

                                                <!-- Modal start here -->
                                                <div class="modal fade" id="niacinamide" tabindex="-1"
                                                    aria-labelledby="niacinamideLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <div
                                                            class="modal-content af-modal-content border-0 p-lg-60 px-20 py-30 rounded-0 position-relative">
                                                            <button type="button"
                                                                class="btn-close position-absolute fs-24 end-0 top-0"
                                                                data-bs-dismiss="modal" aria-label="Close"><i
                                                                    class="fa-regular fa-xmark"></i></button>
                                                            <div class="modal-body af-modal-body p-0">
                                                                <span
                                                                    class="rounded-pill  mb-20 fw-500 fs-16 py-5 px-16 bg-icemint d-inline-block"
                                                                    style="--bs-badge-color: #212428;">Niacinamide</span>
                                                                <p>Topical niacinamide significantly improved fine
                                                                    lines, wrinkles,
                                                                    hyperpigmentation, red blotchiness, and skin texture
                                                                    over 12
                                                                    weeks, while also boosting elasticity. The
                                                                    improvements were
                                                                    visually noticeable and instrumentally measured
                                                                    compared to
                                                                    placebo.</p>
                                                                <hr class="my-24">
                                                                <p><strong>About the clinical trial</strong></p>
                                                                <p>12-week, double‑blind, split-face randomized trial
                                                                    with 50
                                                                    participants, using a 5% niacinamide moisturizer
                                                                    twice daily.
                                                                    Results measured via clinical grading, instrumental
                                                                    imaging, and
                                                                    elasticity measurements</p>
                                                                <p>References: Bissett, Donald L., et al. "Niacinamide:
                                                                    A B Vitamin
                                                                    That Improves Aging Facial Skin Appearance."
                                                                    Dermatologic Surgery,
                                                                    vol. 31, no. 7, pt. 2, 2005, pp. 860–865.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal end here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->
                                <!-- After before accordion item -->
                                <div
                                    class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0 mt-12">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-3" aria-expanded="false"
                                        aria-controls="af-3">
                                        Lactic & Mandelic Acid
                                    </button>
                                    <div id="af-3" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-main">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            Gentle chemical exfoliants gobble up the top layer of dead cells to reveal
                                            clearer,
                                            smoother skin.

                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section after before accordion end-->


<!-- Section after before accordion -->
<link rel="stylesheet"
    href="https://qureskincaredns.com/sections/isolated/after-before-accordion/section-after-before-accordion.css" />
<div class="qure__section"
    style="--section-padding-top:40px; --section-padding-bottom:40px; --section-padding-mob:12px;--section-padding-bottom-mob:12px;">
    <div class="container" style="--column-gap:60px; --column-gap-mobile:24px;">
        <div class="qure__afterBefore-accordion">
            <div class="row custom__grid">
                <div class="col-md-6 custom__block">
                    <div class="card af-card">
                        <img src="https://qureskincaredns.com/sections/isolated/after-before-accordion/images/fine-line-wrinkles.webp"
                            class="card-img-top" alt="card">
                        <div class="card-body af-card-body">
                            <div class="reviews-header d-flex align-items-center justify-content-between"
                                style="--bg-light: rgb(199 229 219 / 30%);">
                                <div class="card-user">
                                    <img src="https://qureskincaredns.com/sections/isolated/after-before-accordion/images/america_f.webp"
                                        alt="user">
                                    <span class="username">Shannon W.</span>
                                </div>
                                <div class="icon-with-text d-flex align-items-center gap-2">
                                    <img src="https://qureskincaredns.com/assets/images/reviewCheck.svg"
                                        alt="review" width="18px" height="18px">
                                    <span>Verified</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 custom__block">
                    <div class="af-card-wrapper">
                        <div class="af-card-header mb-24 pb-24 border-bottom">
                            <h3 class="af-card-title mb-16">Fine Lines and Wrinkles </h3>
                            <div class="af-card-desc">Deeply hydrate skin to make fine lines less visible for more
                                plumper,
                                younger looking skin</div>
                        </div>
                        <div class="af-card-accordion">
                            <p class="pb-24">Key Ingredients:</p>

                            <div class="accordion accordion-flush" id="after-before-fineline">
                                <!-- After before accordion item -->
                                <div class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-4" aria-expanded="false"
                                        aria-controls="af-4">
                                        Argireline® Peptides
                                    </button>
                                    <div id="af-4" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-fineline">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            The most trusted anti-aging peptide in the world. Stimulates collagen,
                                            reduces fine
                                            lines and boosts moisture for a firmer, youthful complexion!
                                            <div class="af-trial-box bg-white mt-24 p-16 rounded-10">
                                                <p>In a clinical trial...</p>
                                                <div class="af-trial-content">
                                                    <div class="af-progress">
                                                        <div
                                                            class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                                            <svg class="vMQQx" height="63" width="63"
                                                                viewBox="-29 -29 58 58">
                                                                <defs>
                                                                    <linearGradient id="argireline®" x1="0" x2="0"
                                                                        y1="1" y2="0">
                                                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                    </linearGradient>
                                                                </defs>
                                                                <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                    pathLength="100" class="K4v4P" r="24"
                                                                    style="stroke-width: 1px;"></circle>
                                                                <circle visibility="visible" fill="none"
                                                                    pathLength="100" transform="rotate(-90)"
                                                                    class="OKwUu" r="24" stroke="url(#argireline®)"
                                                                    style="stroke-dasharray: 100; stroke-dashoffset: 52; stroke-width: 5px;">
                                                                </circle>
                                                            </svg>
                                                            <span>48%</span>
                                                        </div>
                                                    </div>
                                                    <div class="af-desc">reduction in wrinkles when used twice daily. <a
                                                            href="javascript:void();" data-bs-toggle="modal"
                                                            data-bs-target="#argireline"> Read more</a></div>
                                                </div>

                                                <!-- Modal start here -->
                                                <div class="modal fade" id="argireline" tabindex="-1"
                                                    aria-labelledby="ArgirelineLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <div
                                                            class="modal-content af-modal-content border-0 p-lg-60 px-20 py-30 rounded-0 position-relative">
                                                            <button type="button"
                                                                class="btn-close position-absolute fs-24 end-0 top-0"
                                                                data-bs-dismiss="modal" aria-label="Close"><i
                                                                    class="fa-regular fa-xmark"></i></button>
                                                            <div class="modal-body af-modal-body p-0">
                                                                <span
                                                                    class="rounded-pill  mb-20 fw-500 fs-16 py-5 px-16 bg-icemint d-inline-block"
                                                                    style="--bs-badge-color: #212428;">Argireline</span>
                                                                <p>Argireline, a mimetic of Botox, was shown to
                                                                    significantly reduce
                                                                    wrinkle depth and improve skin smoothness around the
                                                                    eyes after 4
                                                                    weeks of use. Nearly half of participants reported
                                                                    visible
                                                                    improvements, with objective skin analysis
                                                                    confirming reduced
                                                                    roughness compared to placebo.</p>
                                                                <hr class="my-24">
                                                                <p><strong>About the clinical trial</strong></p>
                                                                <p>4-week, randomized, placebo-controlled study with 60
                                                                    participants
                                                                    using 10% Argireline twice daily on the eye area.
                                                                    Results measured
                                                                    via clinical grading, participant self-assessment,
                                                                    and skin
                                                                    replica analysis.</p>
                                                                <p>Reference: Wang, Yu, et al. "The Anti-Wrinkle
                                                                    Efficacy of
                                                                    Argireline, a Synthetic Hexapeptide, in Chinese
                                                                    Subjects: A
                                                                    Randomized, Placebo-Controlled Study." American
                                                                    Journal of
                                                                    Clinical Dermatology, vol. 14, no. 2, Apr. 2013, pp.
                                                                    147–153.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal end here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->
                                <!-- After before accordion item -->
                                <div
                                    class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0 mt-12">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-5" aria-expanded="false"
                                        aria-controls="af-5">
                                        Bakuchiol
                                    </button>
                                    <div id="af-5" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-fineline">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            Get all the benefits of retinol without the risk of irritation. Bakuchiol
                                            increases
                                            cell turnover and stimulates collagen production to make your skin look
                                            smooth and
                                            firm.
                                            <div class="af-trial-box bg-white mt-24 p-16 rounded-10">
                                                <p>In a clinical trial...</p>
                                                <div class="af-trial-content">
                                                    <div class="af-progress">
                                                        <div
                                                            class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                                            <svg class="vMQQx" height="100" width="100"
                                                                viewBox="-29 -29 58 58">
                                                                <defs>
                                                                    <linearGradient id="bakuchiol_gradient" x1="0"
                                                                        x2="0" y1="1" y2="0">
                                                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                    </linearGradient>
                                                                </defs>
                                                                <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                    pathLength="100" class="K4v4P" r="24"
                                                                    style="stroke-width: 1px;"></circle>
                                                                <circle visibility="visible" fill="none"
                                                                    pathLength="100" transform="rotate(-90)"
                                                                    class="OKwUu" r="24"
                                                                    stroke="url(#bakuchiol_gradient)"
                                                                    style="stroke-dasharray: 101; stroke-dashoffset: 0; stroke-width: 5px;">
                                                                </circle>
                                                            </svg>
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <div class="af-desc">of users saw <strong>significant
                                                            improvement</strong> in
                                                        lines and wrinkles, pigmentation, elasticity, firmness. <a
                                                            href="javascript:void();" data-bs-toggle="modal"
                                                            data-bs-target="#bakuchiol"> Read more</a></div>
                                                </div>

                                                <!-- Modal start here -->
                                                <div class="modal fade" id="bakuchiol" tabindex="-1"
                                                    aria-labelledby="BakuchiolLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <div
                                                            class="modal-content af-modal-content border-0 p-lg-60 px-20 py-30 rounded-0 position-relative">
                                                            <button type="button"
                                                                class="btn-close position-absolute fs-24 end-0 top-0"
                                                                data-bs-dismiss="modal" aria-label="Close"><i
                                                                    class="fa-regular fa-xmark"></i></button>
                                                            <div class="modal-body af-modal-body p-0">
                                                                <span
                                                                    class="rounded-pill  mb-20 fw-500 fs-16 py-5 px-16 bg-icemint d-inline-block"
                                                                    style="--bs-badge-color: #212428;">Bakuchiol</span>
                                                                <p>Bakuchiol led to a significant reduction in the
                                                                    appearance of
                                                                    wrinkles and pigmentation over 12 weeks, with
                                                                    results comparable
                                                                    to retinol. Participants using bakuchiol experienced
                                                                    smoother,
                                                                    more even-toned skin without the typical dryness or
                                                                    stinging
                                                                    associated with retinol.</p>
                                                                <hr class="my-24">
                                                                <p><strong>About the clinical trial</strong></p>
                                                                <p>12-week, randomized, double-blind study with 44
                                                                    participants.
                                                                    Results measured via via facial imaging and clinical
                                                                    grading for
                                                                    wrinkle surface area and pigmentation.</p>
                                                                <p>Reference: University of California, Davis. (2017).
                                                                    Comparison of
                                                                    the Cosmetic Effects of Bakuchiol and Retinol.
                                                                    NCT03112863.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal end here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->

                                <!-- After before accordion item -->
                                <div
                                    class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0 mt-12">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-6" aria-expanded="false"
                                        aria-controls="af-6">
                                        Hyaluronic Acid
                                    </button>
                                    <div id="af-6" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-fineline">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            A drink of water for thirsty skin. Helps your skin retain moisture for
                                            softer and
                                            more supple looking skin.
                                            <div class="af-trial-box bg-white mt-24 p-16 rounded-10">
                                                <p>In a clinical trial...</p>
                                                <div class="af-trial-content">
                                                    <div class="af-progress">
                                                        <div
                                                            class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                                            <svg class="vMQQx" height="100" width="100"
                                                                viewBox="-29 -29 58 58">
                                                                <defs>
                                                                    <linearGradient id="hydrolic_gradient" x1="0" x2="0"
                                                                        y1="1" y2="0">
                                                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                    </linearGradient>
                                                                </defs>
                                                                <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                    pathLength="100" class="K4v4P" r="24"
                                                                    style="stroke-width: 1px;"></circle>
                                                                <circle visibility="visible" fill="none"
                                                                    pathLength="100" transform="rotate(-90)"
                                                                    class="OKwUu" r="24"
                                                                    stroke="url(#hydrolic_gradient)"
                                                                    style="stroke-dasharray: 100; stroke-dashoffset: 45; stroke-width: 5px;">
                                                                </circle>
                                                            </svg>
                                                            <span>+55%</span>
                                                        </div>
                                                    </div>
                                                    <div class="af-desc">improvement in skin’s smoothness after 6 weeks.
                                                        <a href="javascript:void();" data-bs-toggle="modal"
                                                            data-bs-target="#hyaluronic_acid"> Read more</a></div>
                                                </div>

                                                <!-- Modal start here -->
                                                <div class="modal fade" id="hyaluronic_acid" tabindex="-1"
                                                    aria-labelledby="hyaluronic_acidLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <div
                                                            class="modal-content af-modal-content border-0 p-lg-60 px-20 py-30 rounded-0 position-relative">
                                                            <button type="button"
                                                                class="btn-close position-absolute fs-24 end-0 top-0"
                                                                data-bs-dismiss="modal" aria-label="Close"><i
                                                                    class="fa-regular fa-xmark"></i></button>
                                                            <div class="modal-body af-modal-body p-0">
                                                                <span
                                                                    class="rounded-pill  mb-20 fw-500 fs-16 py-5 px-16 bg-icemint d-inline-block"
                                                                    style="--bs-badge-color: #212428;">Hyaluronic
                                                                    Acid</span>
                                                                <p>Topical hyaluronic acid serum was shown to
                                                                    significantly boost
                                                                    skin hydration (by 134% immediately and maintaining
                                                                    a 55% increase
                                                                    at 6 weeks) and delivered visible improvements in
                                                                    smoothness,
                                                                    plumping, fine lines, wrinkles, and overall skin
                                                                    appearance.</p>
                                                                <hr class="my-24">
                                                                <p><strong>About the clinical trial</strong></p>
                                                                <p>6-week, single-arm trial with 40 participants using a
                                                                    10% HA serum
                                                                    twice daily. Results measured via corneometry,
                                                                    dermatologist
                                                                    evaluations, photography, facial swabs, and
                                                                    participant surveys.
                                                                </p>
                                                                <p>Reference: Draelos, Zoe Diana, et al. "Efficacy
                                                                    Evaluation of a
                                                                    Topical Hyaluronic Acid Serum in Facial Photoaging."
                                                                    Dermatology
                                                                    and Therapy, vol. 11, no. 4, 2021, pp. 1385–1394.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal end here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section after before accordion end-->

<!-- Section after before accordion -->
<link rel="stylesheet"
    href="https://qureskincaredns.com/sections/isolated/after-before-accordion/section-after-before-accordion.css" />
<div class="qure__section"
    style="--section-padding-top:40px; --section-padding-bottom:80px; --section-padding-mob:12px;--section-padding-bottom-mob:24px;">
    <div class="container" style="--column-gap:60px; --column-gap-mobile:24px;">
        <div class="qure__afterBefore-accordion">
            <div class="row custom__grid">
                <div class="col-md-6 custom__block">
                    <div class="card af-card">
                        <img src="https://qureskincaredns.com/sections/isolated/after-before-accordion/images/dark-spots.webp"
                            class="card-img-top" alt="card">
                        <div class="card-body af-card-body">
                            <div class="reviews-header d-flex align-items-center justify-content-between"
                                style="--bg-light: rgb(199 229 219 / 30%);">
                                <div class="card-user">
                                    <img src="https://qureskincaredns.com/sections/isolated/after-before-accordion/images/america_f.webp"
                                        alt="user">
                                    <span class="username">Elisabeth R.</span>
                                </div>
                                <div class="icon-with-text d-flex align-items-center gap-2">
                                    <img src="https://qureskincaredns.com/assets/images/reviewCheck.svg"
                                        alt="review" width="18px" height="18px">
                                    <span>Verified</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 custom__block">
                    <div class="af-card-wrapper">
                        <div class="af-card-header mb-24 pb-24 border-bottom">
                            <h3 class="af-card-title mb-16">Dark Spots and Discoloration </h3>
                            <div class="af-card-desc">Even skin tone for a more radiant complexion. Reduce the
                                appearance of
                                dark spots and help to prevent discoloration with continued use. </div>
                        </div>
                        <div class="af-card-accordion">
                            <p class="pb-24">Key Ingredients:</p>

                            <div class="accordion accordion-flush" id="after-before-darkspot">
                                <!-- After before accordion item -->
                                <div class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-7" aria-expanded="false"
                                        aria-controls="af-7">
                                        Ethyl Ascorbic Acid (Vitamin C)
                                    </button>
                                    <div id="af-7" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-darkspot">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            Known for its brightening, wrinkle reduction, firming, benefits. It helps
                                            with
                                            fading hyperpigmentation to restore a more even skin tone and maintains
                                            smooth,
                                            supple skin.
                                            <div class="af-trial-box bg-white mt-24 p-16 rounded-10">
                                                <p>In a clinical trial...</p>
                                                <div class="af-trial-content">
                                                    <div class="af-progress">
                                                        <div
                                                            class="text-progress-circle position-relative d-inline-flex fw-600 fs-20">
                                                            <svg class="vMQQx" height="63" width="63"
                                                                viewBox="-29 -29 58 58">
                                                                <defs>
                                                                    <linearGradient id="ethyl_gradient" x1="0" x2="0"
                                                                        y1="1" y2="0">
                                                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                    </linearGradient>
                                                                </defs>
                                                                <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                    pathLength="100" class="K4v4P" r="24"
                                                                    style="stroke-width: 1px;"></circle>
                                                                <circle visibility="visible" fill="none"
                                                                    pathLength="100" transform="rotate(-90)"
                                                                    class="OKwUu" r="24" stroke="url(#ethyl_gradient)"
                                                                    style="stroke-dasharray: 100; stroke-dashoffset: 27; stroke-width: 5px;">
                                                                </circle>
                                                            </svg>
                                                            <span>73%</span>
                                                        </div>
                                                    </div>
                                                    <div class="af-desc">of users showed <strong>visible
                                                            improvement</strong> to
                                                        skin texture after 3 months of use. Read more <a
                                                            href="javascript:void();" data-bs-toggle="modal"
                                                            data-bs-target="#ethyl"> Read more</a></div>
                                                </div>

                                                <!-- Modal start here -->
                                                <div class="modal fade" id="ethyl" tabindex="-1"
                                                    aria-labelledby="EthylLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <div
                                                            class="modal-content af-modal-content border-0 p-lg-60 px-20 py-30 rounded-0 position-relative">
                                                            <button type="button"
                                                                class="btn-close position-absolute fs-24 end-0 top-0"
                                                                data-bs-dismiss="modal" aria-label="Close"><i
                                                                    class="fa-regular fa-xmark"></i></button>
                                                            <div class="modal-body af-modal-body p-0">
                                                                <span
                                                                    class="rounded-pill  mb-20 fw-500 fs-16 py-5 px-16 bg-icemint d-inline-block"
                                                                    style="--bs-badge-color: #212428;">Ethyl Ascorbic
                                                                    Acid</span>
                                                                <p>Topical vitamin C (ascorbic acid) was shown to
                                                                    significantly
                                                                    improve the appearance of photoaged skin, with
                                                                    measurable
                                                                    reductions in roughness (by 73.7%) and wrinkle depth
                                                                    (by 68.4%).
                                                                    Participants also reported visible improvements in
                                                                    skin quality
                                                                    after consistent use over 12 weeks.</p>
                                                                <hr class="my-24">
                                                                <p><strong>About the clinical trial</strong></p>
                                                                <p>12-week, double-blind study with 19 participants
                                                                    using 10% vitamin
                                                                    C vs placebo. Results measured via skin analysis,
                                                                    clinical photos,
                                                                    and self-assessment.</p>
                                                                <p>Reference: Traikovich, S. S. "Use of Topical Ascorbic
                                                                    Acid and Its
                                                                    Effects on Photodamaged Skin Topography." Archives
                                                                    of
                                                                    Otolaryngology—Head & Neck Surgery, vol. 125, no.
                                                                    10, 1999, pp.
                                                                    1091–1098.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal end here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->
                                <!-- After before accordion item -->
                                <div
                                    class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0 mt-12">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-8" aria-expanded="false"
                                        aria-controls="af-8">
                                        Ferulic Acid
                                    </button>
                                    <div id="af-8" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-darkspot">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            Works to stop all the damage that comes from extrinsic aging. Reduces the
                                            formation
                                            of fine lines and wrinkles, dark spots
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->

                                <!-- After before accordion item -->
                                <div
                                    class="accordion-item qure__accordion-item bg-light rounded-10 px-10 border-0 mt-12">
                                    <button class="accordion-button collapsed qure__accordion-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#af-9" aria-expanded="false"
                                        aria-controls="af-9">
                                        Actiwhite™
                                    </button>
                                    <div id="af-9" class="accordion-collapse collapse qure__accordion-content"
                                        data-bs-parent="#after-before-darkspot">
                                        <div class="accordion-body px-6 pb-24 pt-0">
                                            Visibly brighten and even skin tone for a more radiant complexion.
                                            Actiwhite™
                                            reduces the appearance of dark spots and prevents discoloration (by
                                            inhibiting
                                            melanin) with continued use.
                                        </div>
                                    </div>
                                </div>
                                <!-- After before accordion item -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section after before accordion end-->


{% schema %}
{
    "name": "t:sections.before-after-accordion.name",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    },
    {
        "type": "text",
        "id": "sub_text",
        "label": "t:common.sub-text"
    },
    {
        "type": "text",
        "id": "username",
        "label": "t:common.username"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
    },
    {
        "type": "image_picker",
        "id": "country_image",
        "label": "t:common.country-image"
    }
    ],
    "blocks": [
    {
        "type": "accordion",
        "name": "t:common.accordion",
        "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.header"
        },
        {
            "type": "text",
            "id": "text",
            "label": "t:common.text"
        },
        {
            "type": "richtext",
            "id": "heading_percent_scale",
            "label": "t:common.heading-percent-scale"
        },
        {
            "type": "richtext",
            "id": "percent_scale_text",
            "label": "t:common.percent-scale-text"
        },
        {
            "type": "text",
            "id": "percent_value",
            "label": "t:common.percent-value"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:common.button-label"
        },
        {
            "type": "text",
            "id": "badge_text",
            "label": "t:common.badge-text"
        },
        {
            "type": "richtext",
            "id": "popup_heading",
            "label": "t:common.popup-header"
        },
        {
            "type": "richtext",
            "id": "popup_text",
            "label": "t:common.popup-text"
        }
        ]
    }
    ]
}
{% endschema %}