{% doc %}
  Renders a product bundle
{% enddoc %}

{% include 'get-product-data' %}

{%- for block in section.blocks -%}
    {% if block.type == 'description' %}
        {% capture product-description %}
            {% if block.settings.text %}
                {{ block.settings.text }}
            {% endif %}
        {% endcapture %}
    {% endif %}
{%- endfor -%} 

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/product-bundle/product-bundle.css" />
<div class="qure__trageted-patches qure__section"
    style="--section-padding-top: 40px; --section-padding-bottom: 80px;">
    <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
        <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
                <div class="qure-product-details mw" style="--mw:500px;">
                    {% render 'product-page-slider', product: product, page: blank, class: 'tp-product-gallery d-block d-lg-none mb-30', element_id: 'mobile-slider' %}
                    {% render 'product-rating' %}

                    <h1 class="qure__product-title mb-10">{{ product_title }}</h1>
                    <div class="patch__single-shortdes mt-25 mb-25">
                        <p>{{ product_description }}</p>
                    </div>

                    {% render 'product-bundle-price', product_sale_price: product_sale_price, product_before_price: product_before_price, product_discount: product_discount %}
                    {% render 'product-page-buy-button', product_price: product_sale_price, product_variant_id: product_variant_id, section: blank %}
                    {% render 'product-page-buy-button-payments', product_price_divided: product_price_divided %}
                    {% render 'product-page-buy-button-bottom' %}

                    {% if black_friday_turn_on == true %}
                        {% render 'product-page-limited-offer-black-friday' %}
                    {% else %}
                        {% render 'product-saveup' %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 custom__block">
                {% render 'product-page-slider', product: product, class: 'tp-product-gallery d-none d-lg-block', element_id: 'desktop-slider' %}
                {% render 'product-page-benefits-list', target: 'mobile' %}
                {% render 'product-page-collapsed', product: product, page: blank, class: 'mt-15 tp-product-accordion' %}
            </div>
        </div>
    </div>
</div>

{% render 'product-data-json', product: product %}