{% doc %}

Renders a section header section for all in one page.

{% enddoc %}


<div id="powered_by" class="qure__section"
    style="--section-padding-top: 40px; --section-padding-bottom: 40px; --section-padding-top-mob: 40px; --section-padding-bottom-mob: 0px;">
    <div class="container container-small" style="--container-width:900px">
        <div class="qure__section-header text-center mb-0">
            {% if section.settings.heading != blank %}
                <h2 class="qure__section-heading d-none d-md-block">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.heading_mobile != blank %}
                <h2 class="qure__section-heading d-md-none">{{ section.settings.heading_mobile }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="mt-20 mt-lg-30 d-none d-md-block">{{ section.settings.text }}</div>
            {% endif %}
        </div>
    </div>
</div>


{% schema %}
{
"name": "t:common.header",
"settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
    },
    {
        "type": "text",
        "id": "heading_mobile",
        "label": "t:common.header-mobile"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:common.text"
    }
 ]
}
{% endschema %}