   <!-- section-targeted-patches -->
   <link rel="stylesheet" href="https://qureskincaredns-main.com/sections/global/purchase-form-landing/purchase-form-landing.css">
   <div id="buy_box" class="qure__trageted-patches qure__section"
      style="--section-padding-top: 40px; --section-padding-bottom: 80px; --section-padding-top-mob: 20px; --section-padding-bottom-mob: 20px;">
      <div class="container" style="--column-gap:80px; --column-gap-mobile:30px;">
         <div class="row custom__grid">
            <div class="col-lg-6 custom__block">
               <div class="qure-product-details">
               
                  <p class="limited_edition d-md-none">Limited Edition</p>
                  <h2 class="qure__product-title mb-10 d-md-none">Micro-Infusion Glowcase</h2>
                  <slide-with-thumbs class="tp-product-gallery qure__swiper-wrapper d-block d-lg-none mb-30">
                     <!-- Galler start-->
                     <div class="swiper qure__product-gallery qure__swiper-gallery" data-section-id="tp-gallery-desktop"
                        data-mobile="3" data-tablet="3" data-desktop="4" data-autoplay="false" data-loop="false"
                        data-spacing="0">
                        <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/glowcase-mirror-slide.webp" alt="1"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_1.webp" alt="1"
                                    class="img-fluid" /></div>
                           </div>
                           <!-- Repeat this block for each video -->
                           <div class="swiper-slide">
                              <div class="trusted_video_card d-block">
                                 <a href="#" data-bs-toggle="modal" data-bs-target="#reusableWistiaModal"
                                    data-video-id="jg8c1a3bee" class="filter-card-item filter-card-video slide-image">
                                    <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp"
                                       alt="doctor review" class="img-fluid" />
                                 </a>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_3.webp" alt="2"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_4.webp" alt="3"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_5.webp" alt="4"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="5"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-image"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>

                        </div>
                     </div>
                     <!-- Galler End-->
                     <div class="swiper-thumbnail-with-arrow mt-4">
                        <!-- Thumbnails start-->
                        <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                        <div
                           class="swiper qure__product-gallery  tp-thumbnails-desktop qure__swiper-gallery-thumbnails w-100"
                           data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4"
                           data-autoplay="false" data-loop="false" data-spacing="10">
                           <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/glowcase-mirror-slide.webp" alt="1"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_1.webp" alt="1"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp" alt="1"
                                       class="img-fluid" />
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_3.webp" alt="2"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_4.webp" alt="3"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_5.webp" alt="4"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="5"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="6"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="6"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="6"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_10.webp" alt="6"
                                       class="img-fluid" /></div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slide-thumbnail"><img
                                       src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_11.webp" alt="6"
                                       class="img-fluid" /></div>
                              </div>
                           </div>
                        </div>
                        <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                     </div>
                     <!-- Thumbnails End-->
                  </slide-with-thumbs>
                     <p class="limited_edition d-none d-md-block">Limited Edition</p>
                     <h2 class="qure__product-title mb-10 d-none d-md-block">Micro-Infusion Glowcase</h2>
                  <div class="patch__single-shortdes mt-20">
                     <p>Late nights. Long flights. Endless events. Meet your glow-to: Micro-Infusion Limited Edition.
                        The cosmetic mirror case makes it easy to take your favorite treatments anywhere, keeping your
                        skin hydrated wherever you are.</p>
                  </div>
                  <div class="qure__price price--on-sale d-flex flex-wrap align-items-center my-20">
                     <div class="price__regular">$289</div>
                     <div class="price__sale">$912</div>
                     <div class="save_price">SAVE 68%</div>
                  </div>
                  <div class="qure__product-action-inner mt-30 mt-md-40 mb-10 max-w-ctm" style="--max-w-ctm:500px">
                     <button type="submit" class="add-cart-button product-form__submit btn btn--primary w-100">Buy Now & Save 68%</button>
                  </div>
                  <div
                     class="product_klarna-dtls d-flex flex-wrap gap-2 align-items-center fs-14 justify-content-center max-w-ctm"
                     style="--max-w-ctm:500px">
                     OR pay 4 monthly payments of {$dyn} with
                     <img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/klarna.svg" />
                     <img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/sezzle.svg" />
                     <img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/afterpay.svg" />

                  </div>
                  <div class=" max-w-ctm" style="--max-w-ctm:500px">
                     <div class="patch__product-certified my-15">
                        <ul class="patch-dr-list">
                           <li><img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/crt-1.webp" /></li>
                           <li><img src="https://qureskincaredns-main.com/sections/isolated/targeted-patches/images/crt-2.webp" /></li>
                           <li>+50</li>
                        </ul>
                        <p><strong>50+ Board Certified Dermatologists</strong> recommend Qure to their patients. <a
                              href="https://qureskincare.com/pages/derm-reviews" class="btn--link">See More.</a></p>
                     </div>
                  </div>
                  <div class="accordion accordion-flush mt-15 tp-product-accordion d-md-none" id="tp-product-qure">
                     <div class="accordion-item qure__accordion-item">
                        <button class="accordion-button collapsed qure__accordion-header" type="button"
                           data-bs-toggle="collapse" data-bs-target="#key-benefits" aria-expanded="false"
                           aria-controls="key-benefits">
                           Key Benefits
                        </button>
                        <div id="key-benefits" class="accordion-collapse collapse qure__accordion-content"
                           data-bs-parent="#tp-product-qure">
                           <div class="accordion-body">
                              <p>The Micro-Infusion System creates micro-channels on the skin’s surface to enhance serum
                                 absorption for visible improvements.</p>
                              <span class="mt-4 d-block">Visible benefits include:</span>
                              <ul class="mb-20">
                                 <li>Helps smooth the appearance of fine lines and wrinkles</li>
                                 <li>Supports a brighter, more even-looking skin tone</li>
                                 <li>Visibly plumps and supports smoother-looking skin texture</li>
                                 <li>Leaves skin with a fresh, dewy-looking glow</li>
                              </ul>
                              <p>*As reported by customers in self-perception surveys and before-and-after images.
                                 Individual results may vary</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item qure__accordion-item">
                        <button class="accordion-button collapsed qure__accordion-header" type="button"
                           data-bs-toggle="collapse" data-bs-target="#how-it-works" aria-expanded="false"
                           aria-controls="how-it-works">
                           How To Use
                        </button>
                        <div id="how-it-works" class="accordion-collapse collapse qure__accordion-content"
                           data-bs-parent="#tp-product-qure">
                           <div class="accordion-body">
                              <p>The Micro-Infusion System is designed to be simple, mess-free, and beginner-friendly. Each
                                 treatment takes just a few minutes and fits easily into your skincare routine.</p>
                              <ul>
                                 <li>Twist off the cap of the serum vial and screw on the sterile needle head.</li>
                                 <li>Hold the device upside down for 1–2 minutes to let the serum flow into the needle head
                                    and saturate the area around the needles.</li>
                                 <li>Start at the centre of your face and work outward, doing 2–3 passes in each area of
                                    your face.</li>
                                 <li>Pat any leftover serum onto the skin. Leave on overnight for best results.</li>
                              </ul>
                              <p>Each order of Micro-Infusion comes with a detailed user guide to walk you through setup
                                 and treatment.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item qure__accordion-item">
                        <button class="accordion-button collapsed qure__accordion-header" type="button"
                           data-bs-toggle="collapse" data-bs-target="#whats-included" aria-expanded="false"
                           aria-controls="whats-included">
                           Full Ingredient List
                        </button>
                        <div id="whats-included" class="accordion-collapse collapse qure__accordion-content"
                           data-bs-parent="#tp-product-qure">
                           <div class="accordion-body">
                              <p><strong>Serum for Wrinkles:</strong></p>
                              <p>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Panthenol, Niacinamide,
                                 Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone,
                                 Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin,
                                 Allantoin, Sodium Hyaluronate, Xanthan Gum.</p>
                              <p><strong>Serum for Dark Spots:</strong></p>
                              <p>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Tranexamic Acid, Niacinamide,
                                 Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum,
                                 Allantoin, SH-Oligopeptide-1.</p>
                              <ul class="mb-0 check_list">
                                 <li>Vegan and cruelty-free</li>
                                 <li>Suitable for sensitive skin </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="moneyback_guarantee d-none d-md-block">
                     <div class="d-grid ctm_grid">
                        <div class="moneyback_guarantee_img">
                           <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/moneyback_90.svg" alt=""
                              class="img-fluid">
                        </div>
                        <div class="moneyback_guarantee_content">
                           <p class="fs-16 fs-md-18"><strong>90-Day Money Back Guarantee</strong></p>
                           <p class="fs-14 fs-md-16">You deserve results you can see. Try Micro-Infusion for 90 days, and if you’re not
                              satisfied, simply get in touch with our team for a full refund!</p>
                        </div>
                     </div>
                  </div>

                  <!-- Review Videos section Start -->
                  <div class="review_videos qure__section"
                     style="--section-padding-top: 40px; --section-padding-bottom: 80px; --section-padding-top-mob: 20px; --section-padding-bottom-mob: 40px;">
                     <div class="container">
                        <div class="mb-20">
                           <p><strong>Hear What People Are Saying About Qure</strong></p>
                        </div>
                        <div class="swiper qure__swiper" id="qure__swiper-video-slider" data-section-id="video-slider"
                           data-autoplay="false" data-loop="false" data-mobile="4" data-tablet="4" data-desktop="4"
                           data-spacing="10" data-pagination-fraction="true">

                           <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                 <div class="videosQure_exernal">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                       <div class="wistia_responsive_wrapper"
                                          style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                          <div
                                             class="wistia_embed wistia_async_zs3ddb0qly popover=true seo=false videoFoam=true"
                                             style="height:100%;position:relative;width:100%">
                                             <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/zs3ddb0qly/swatch"
                                                   style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                   alt="" aria-hidden="true"
                                                   onload="this.parentNode.style.opacity=1;" />
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="videosQure_exernal">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                       <div class="wistia_responsive_wrapper"
                                          style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                          <div
                                             class="wistia_embed wistia_async_v5e5op6ap7 popover=true seo=false videoFoam=true"
                                             style="height:100%;position:relative;width:100%">
                                             <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/v5e5op6ap7/swatch"
                                                   style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                   alt="" aria-hidden="true"
                                                   onload="this.parentNode.style.opacity=1;" />
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="videosQure_exernal">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                       <div class="wistia_responsive_wrapper"
                                          style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                          <div
                                             class="wistia_embed wistia_async_zhb1w8ise9 popover=true seo=false videoFoam=true"
                                             style="height:100%;position:relative;width:100%">
                                             <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/zhb1w8ise9/swatch"
                                                   style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                   alt="" aria-hidden="true"
                                                   onload="this.parentNode.style.opacity=1;" />
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="videosQure_exernal">
                                    <div class="wistia_responsive_padding" style=" position:relative;">
                                       <div class="wistia_responsive_wrapper"
                                          style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                          <div
                                             class="wistia_embed wistia_async_opfbh936fc popover=true seo=false videoFoam=true"
                                             style="height:100%;position:relative;width:100%">
                                             <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/opfbh936fc/swatch"
                                                   style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                   alt="" aria-hidden="true"
                                                   onload="this.parentNode.style.opacity=1;" />
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="videosQure_exernal">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                       <div class="wistia_responsive_wrapper"
                                          style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                          <div
                                             class="wistia_embed wistia_async_nei98l696b popover=true seo=false videoFoam=true"
                                             style="height:100%;position:relative;width:100%">
                                             <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/nei98l696b/swatch"
                                                   style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                   alt="" aria-hidden="true"
                                                   onload="this.parentNode.style.opacity=1;" />
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="videosQure_exernal">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                       <div class="wistia_responsive_wrapper"
                                          style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                          <div
                                             class="wistia_embed wistia_async_jcgxarsfbj popover=true seo=false videoFoam=true"
                                             style="height:100%;position:relative;width:100%">
                                             <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/jcgxarsfbj/swatch"
                                                   style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                   alt="" aria-hidden="true"
                                                   onload="this.parentNode.style.opacity=1;" />
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div
                              class="swiper-arrows-with-pagination d-flex align-items-center justify-content-center gap-4 mt-30 d-none">
                              <div class="qure-swiper-button-prev qure-swiper-arrow"><i
                                    class="fa-regular fa-angle-left"></i>
                              </div>
                              <div class="swiper-pagination position-relative bottom-0 w-auto"></div>
                              <div class="qure-swiper-button-next qure-swiper-arrow"><i
                                    class="fa-regular fa-angle-right"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Review Videos section Start -->
                   <div class="moneyback_guarantee d-md-none">
                     <div class="d-grid ctm_grid">
                        <div class="moneyback_guarantee_img">
                           <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/moneyback_90.svg" alt=""
                              class="img-fluid">
                        </div>
                        <div class="moneyback_guarantee_content">
                           <p class="fs-16 fs-md-18"><strong>90-Day Money Back Guarantee</strong></p>
                           <p class="fs-14 fs-md-16">You deserve results you can see. Try Micro-Infusion for 90 days, and if you’re not
                              satisfied, simply get in touch with our team for a full refund!</p>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
            <div class="col-lg-6 custom__block">
               <slide-with-thumbs class="tp-product-gallery qure__swiper-wrapper d-none d-lg-block">
                  <!-- Galler start-->
                  <div class="swiper qure__product-gallery qure__swiper-gallery" data-section-id="tp-gallery-desktop"
                     data-mobile="3" data-tablet="3" data-desktop="4" data-autoplay="false" data-loop="false"
                     data-spacing="0">
                     <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/glowcase-mirror-slide.webp" alt="1"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_1.webp" alt="1"
                                 class="img-fluid" /></div>
                        </div>

                        <!-- Repeat this block for each video -->
                        <div class="swiper-slide">
                           <div class="trusted_video_card d-block">
                              <a href="#" data-bs-toggle="modal" data-bs-target="#reusableWistiaModal"
                                 data-video-id="jg8c1a3bee" class="filter-card-item filter-card-video slide-image">
                                 <img src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp"
                                    alt="doctor review" class="img-fluid" />
                              </a>
                           </div>
                        </div>


                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_3.webp" alt="2"
                                 class="img-fluid" /></div>
                        </div>

                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_4.webp" alt="3"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_5.webp" alt="4"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="5"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="6"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="6"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="6"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_10.webp" alt="6"
                                 class="img-fluid" /></div>
                        </div>
                        <div class="swiper-slide">
                           <div class="slide-image"><img
                                 src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_11.webp" alt="6"
                                 class="img-fluid" /></div>
                        </div>

                     </div>
                  </div>
                  <!-- Galler End-->
                  <div class="swiper-thumbnail-with-arrow mt-4">
                     <!-- Thumbnails start-->
                     <div class="qure-swiper-arrow swiper-prev"><i class="fa-regular fa-angle-left"></i></div>
                     <div
                        class="swiper qure__product-gallery  tp-thumbnails-desktop qure__swiper-gallery-thumbnails w-100"
                        data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="4" data-desktop="4"
                        data-autoplay="false" data-loop="false" data-spacing="10">
                        <div class="swiper-wrapper">
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/glowcase-mirror-slide.webp" alt="1"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_1.webp" alt="1"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp" alt="1"
                                    class="img-fluid" />
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_3.webp" alt="2"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_4.webp" alt="3"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_5.webp" alt="4"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="5"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_10.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>
                           <div class="swiper-slide">
                              <div class="slide-thumbnail"><img
                                    src="https://qureskincaredns-main.com/sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_11.webp" alt="6"
                                    class="img-fluid" /></div>
                           </div>
                        </div>
                     </div>
                     <div class="qure-swiper-arrow swiper-next"><i class="fa-regular fa-angle-right"></i></div>
                  </div>
                  <!-- Thumbnails End-->
               </slide-with-thumbs>


               <div class="accordion accordion-flush mt-15 tp-product-accordion d-none d-md-block" id="tp-product-qure">
                  <div class="accordion-item qure__accordion-item">
                     <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#key-benefits" aria-expanded="false"
                        aria-controls="key-benefits">
                        Key Benefits
                     </button>
                     <div id="key-benefits" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#tp-product-qure">
                        <div class="accordion-body">
                           <p>The Micro-Infusion System creates micro-channels on the skin’s surface to enhance serum
                              absorption for visible improvements.</p>
                           <span class="mt-4 d-block">Visible benefits include:</span>
                           <ul class="mb-20">
                              <li>Helps smooth the appearance of fine lines and wrinkles</li>
                              <li>Supports a brighter, more even-looking skin tone</li>
                              <li>Visibly plumps and supports smoother-looking skin texture</li>
                              <li>Leaves skin with a fresh, dewy-looking glow</li>
                           </ul>
                           <p>*As reported by customers in self-perception surveys and before-and-after images.
                              Individual results may vary</p>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item qure__accordion-item">
                     <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#how-it-works" aria-expanded="false"
                        aria-controls="how-it-works">
                        How To Use
                     </button>
                     <div id="how-it-works" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#tp-product-qure">
                        <div class="accordion-body">
                           <p>The Micro-Infusion System is designed to be simple, mess-free, and beginner-friendly. Each
                              treatment takes just a few minutes and fits easily into your skincare routine.</p>
                           <ul>
                              <li>Twist off the cap of the serum vial and screw on the sterile needle head.</li>
                              <li>Hold the device upside down for 1–2 minutes to let the serum flow into the needle head
                                 and saturate the area around the needles.</li>
                              <li>Start at the centre of your face and work outward, doing 2–3 passes in each area of
                                 your face.</li>
                              <li>Pat any leftover serum onto the skin. Leave on overnight for best results.</li>
                           </ul>
                           <p>Each order of Micro-Infusion comes with a detailed user guide to walk you through setup
                              and treatment.</p>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item qure__accordion-item">
                     <button class="accordion-button collapsed qure__accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#whats-included" aria-expanded="false"
                        aria-controls="whats-included">
                        Full Ingredient List
                     </button>
                     <div id="whats-included" class="accordion-collapse collapse qure__accordion-content"
                        data-bs-parent="#tp-product-qure">
                        <div class="accordion-body">
                           <p><strong>Serum for Wrinkles:</strong></p>
                           <p>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Panthenol, Niacinamide,
                              Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone,
                              Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin,
                              Allantoin, Sodium Hyaluronate, Xanthan Gum.</p>
                           <p><strong>Serum for Dark Spots:</strong></p>
                           <p>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Tranexamic Acid, Niacinamide,
                              Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum,
                              Allantoin, SH-Oligopeptide-1.</p>
                           <ul class="mb-0 check_list">
                              <li>Vegan and cruelty-free</li>
                              <li>Suitable for sensitive skin </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Reusable Wistia Modal (outside slider) -->
      <div class="modal fade filter-modal" id="reusableWistiaModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-md filter-dialog">
            <div class="modal-content">
               <div class="modal-header border-0">
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                     <i class="fa-solid fa-xmark"></i>
                  </button>
               </div>
               <div class="modal-body">
                  <div id="wistiaVideoContainer" class="filter-modal-video"></div>
               </div>
            </div>
         </div>
      </div>

      <!-- Reusable Wistia Modal (outside slider) end -->

   </div>
   <script>
      document.addEventListener("DOMContentLoaded", function () {
         loadScriptOnce('main-slider', 'https://qureskincaredns-main.com/assets/js/main-slider.js');
         loadScriptOnce('slider-script', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
         loadScriptOnce('video-slider', 'https://qureskincaredns-main.com/sections/isolated/trusted-video/wistia-video-popup.js');
         loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
      });
   </script>
   <!-- section-targeted-patches -->

   