{% include 'assoc-array', section: section, __parent_title: 'type', __separator: '###' %}

<template id="async">
    <link rel="stylesheet" href="https://qureskincaredns-main.com/sections/global/purchase-form-landing/purchase-form-landing.css">
    <div class="{{ section.id }}">
        {% render 'purchase-form-landing-types' section: section, __idsArray1: __idsArray1, __idsArray2: __idsArray2, __idsArray3: __idsArray3 %}
        {% include 'purchase-form-landing-products' section: section, __idsArray1: __idsArray1, __idsArray2: __idsArray2, __idsArray3: __idsArray3 %}
        {% include 'purchase-form-landing-subscription' section: section, __idsArray1: __idsArray1, __idsArray2: __idsArray2, __idsArray3: __idsArray3 %}
        {% render 'product-page-buy-button', product_price: null, product_variant_id: null, section: section, static: true %}
        {% render 'product-page-buy-button-payments' %}
        {% render 'product-page-buy-button-bottom' %}
    </div>
    <script src="{{ 'purchase-form-landing.js' | asset_url }}" data-form="{{ section.settings.form_name }}" data-section="{{ section.id }}" defer></script>
</template>

{% schema %}
    {
        "name": "t:sections.purchase-form-landing.name",
        "settings": [
            {
                "type": "text",
                "id": "form_name",
                "label": "t:sections.purchase-form-landing.settings.form_name",
                "default": "purchase-form-landing"
            },
            {
                "type": "checkbox",
                "id": "hide_types",
                "label": "t:sections.purchase-form-landing.settings.hide_types",
                "default": false
            },
            {
                "type": "select",
                "id": "type",
                "label": "t:common.type",
                "options": [
                    {
                        "value": "box",
                        "label": "t:common.box"
                    },
                    {
                        "value": "variant",
                        "label": "t:common.variant"
                    }
                ],
                "default": "box"
            }
        ],
        "blocks": [
            {
                "type": "subscription",
                "name": "t:common.subscription",
                "limit": 1,
                "settings": [
                    {
                        "type": "header",
                        "content": "t:common.subscription"
                    },
                    {
                        "type": "text",
                        "id": "subscription_onetime_text",
                        "label": "t:sections.purchase-form-landing.blocks.product.settings.subscription_onetime_text"
                    },
                    {
                        "type": "text",
                        "id": "subscription_days_text",
                        "label": "t:sections.purchase-form-landing.blocks.product.settings.subscription_days_text"
                    },
                    {
                        "type": "range",
                        "id": "subscription_discount_percent",
                        "min": 0,
                        "max": 100,
                        "step": 1,
                        "unit": "%",
                        "label": "t:sections.purchase-form-landing.blocks.product.settings.subscription_discount",
                        "default": 50
                    },
                    {
                        "type": "header",
                        "content": "t:common.onetime"
                    },
                    {
                        "type": "text",
                        "id": "onetime_text",
                        "label": "t:common.text"
                    }
                ]
            },
            {
                "type": "nextships",
                "name": "t:common.nextships",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "date",
                        "label": "t:common.date",
                        "default": "25 September"
                    },
                    {
                        "type": "range",
                        "id": "percent",
                        "min": 0,
                        "max": 100,
                        "step": 1,
                        "unit": "%",
                        "label": "t:common.percent",
                        "default": 48
                    },
                    {
                        "type": "text",
                        "id": "date_soldout",
                        "label": "t:common.soldout",
                        "default": "28 July"
                    },
                    {
                        "type": "text",
                        "id": "date_reserved",
                        "label": "t:common.reserved",
                        "default": "3 August"
                    }
                ]
            },
            {
                "type": "type",
                "limit": 3,
                "name": "t:common.type",
                "settings": [
                    {
                        "type": "header",
                        "content": "TYPE"
                    }
                ]
            },
            {
                "type": "product_type",
                "name": "t:common.product-type",
                "limit": 3,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.header"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image"
                    },
                    {
                        "type": "checkbox",
                        "id": "preselected",
                        "label": "t:common.preselect",
                        "default": false
                    }
                ]
            },
            {
                "type": "product",
                "name": "t:common.product",
                "limit": 9,
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "t:common.product"
                    },
                    {
                        "type": "number",
                        "id": "product_variant_id",
                        "label": "t:common.variant",
                        "default": 0
                    },   
                    {
                        "type": "number",
                        "id": "product_selling_plan",
                        "label": "t:common.selling_plan",
                        "default": 0
                    },   
                    {
                        "type": "checkbox",
                        "id": "preselected",
                        "label": "t:common.preselect",
                        "default": false
                    },             
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.header"
                    },
                    {
                        "type": "text",
                        "id": "subheading",
                        "label": "t:common.subheader"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image"
                    },
                    {
                        "type": "checkbox",
                        "id": "soldout",
                        "label": "t:common.soldout",
                        "default": false
                    },
                    {
                        "type": "checkbox",
                        "id": "preorder",
                        "label": "t:common.preorder",
                        "default": false
                    },
                    {
                        "type": "text",
                        "id": "preorder_text",
                        "label": "t:sections.purchase-form-landing.blocks.product.settings.preorder_text"
                    },
                    {
                        "type": "text",
                        "id": "preorder_date_soldout",
                        "label": "t:sections.purchase-form-landing.blocks.product.settings.preorder_date_soldout"
                    },
                    {
                        "type": "text",
                        "id": "preorder_date_reserved",
                        "label": "t:sections.purchase-form-landing.blocks.product.settings.preorder_date_reserved"
                    },
                    {
                        "type": "range",
                        "id": "preorder_percent",
                        "min": 0,
                        "max": 100,
                        "step": 1,
                        "unit": "%",
                        "label": "t:common.percent",
                        "default": 55
                    }
                ]
            }       
        ],
        "presets": [
          {
            "name": "t:sections.purchase-form-landing.name"
          }
        ]
    }
{% endschema %}