<link rel="stylesheet" href="https://qureskincaredns-main.com/sections/isolated/press_slider/press-slider.css">
<div class="press_slider bg-light qure__section">
   <div class="container">
      <div class="press_bl py-2 mw-mob-100">
         <div class="p_bl_header text-center mb-30 mb-md-50">
            <p class="fs-18 fw-500 fm-body">{{ 'index_bundle_banner.bundle_text' | t }}</p>
         </div>
         <slide-with-thumbs class="qure__swiper-wrapper">
            <!-- Galler start-->
            <div class="swiper qure__product-gallery qure__swiper-gallery ctm_cls_press_slider"
               data-section-id="tp-gallery-desktop" data-mobile="3" data-tablet="3" data-desktop="4"
               data-autoplay="true" data-loop="true" data-spacing="0">
               <div class="swiper-wrapper" style="--perload-gap: 10px" data-nav-thumb>
                 {% for block in section.blocks %}
                    {% if block.type == 'slider' %}
                      {% if block.settings.heading != blank %}
                         <div class="swiper-slide">{{ block.settings.heading }}</div>
                      {% endif %}
                    {% endif %}
                 {% endfor %}
               </div>
            </div>
            <!-- Galler End-->
            <div class="swiper-thumbnail-press-slider mt-3">
               <!-- Thumbnails start-->
               <div
                  class="swiper qure__product-gallery tp-thumbnails-desktop qure__swiper-gallery-thumbnails qure__logo-slider"
                  data-section-id="tp-thumbnails-desktop" data-mobile="3" data-tablet="3" data-desktop="5"
                  data-autoplay="true" data-loop="false" data-spacing="40">
                  <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% if block.type == 'slider' %}
                          {% if block.settings.image != blank %}
                            <div class="swiper-slide">
                               <div class="app_press_info">
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                                </div>
                            </div>
                          {% endif %}
                        {% endif %}     
                    {% endfor %}
                  </div>
               </div>
            </div>
         </slide-with-thumbs>
      </div>
   </div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", function () {
      loadScriptOnce('slider-script', 'https://qureskincaredns-main.com/assets/js/slider-with-thumb.js');
   });
</script>
{% schema %}
{
  "name": "t:sections.slider-featured-in.name",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "t:common.slider",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.header"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slider-featured-in.name"
    }
  ]
}
{% endschema %}