{% doc %}
Renders a stats grid secion
{% enddoc %}

<link rel="stylesheet" href="https://qureskincaredns.com/sections/isolated/fast-growing-brand/fast-growing-brand.css">
{% assign has_quote = false %}
{% for block in section.blocks %}
    {% if block.type == 'quote' %}
        {% assign has_quote = true %}
    {% endif %}
{% endfor %}
<div class="qure__section fastest_growing_startup bg-light text-center"
    style="--section-padding-top: 60px; --section-padding-bottom: 60px; --section-padding-top-mob: 40px; --section-padding-bottom-mob: 40px;">
    <div class="container mw mx-auto" style="--mw:1040px">
        <div class="row gy-5{% if has_quote %} mb-50{% endif %}">
            {% for block in section.blocks %}
                {% if block.type == 'list' %}
                    <div class="col-6 col-md-3 px-2 px-md-3">
                        <div class="fastest_growing_item">
                            {% if block.settings.heading != blank %}
                                <h3>{{ block.settings.heading 
                                    | replace: '<p>', '' 
                                    | replace: '</p>', '' 
                                    | replace: '<strong>', '<span>'
                                    | replace: '</strong>', '</span>' }}</h3>
                            {% endif %}
                            {% if block.settings.text != blank %}
                                <p class="fs-16 fs-md-18">{{ block.settings.text }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if has_quote %}
            <hr>
            <div class="row gy-4 mt-0">
                {% for block in section.blocks %}
                    {% if block.type == 'quote' %}
                        {% if block.settings.text != blank %}
                            <div class="col-md-6">{{ block.settings.text }}</div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "t:sections.stats-grid.name",
    "settings": [
    ],
    "blocks": [
        {
            "type": "list",
            "name": "t:common.list",
            "settings": [
                {
                    "type": "richtext",
                    "id": "heading",
                    "label": "t:common.header"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        },
        {
            "type": "quote",
            "name": "t:common.quote",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:common.text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.stats-grid.name"
        }
    ]
}
{% endschema %}