{% doc %}
  Renders a stock alert section.
{% enddoc %}


{% if section.settings.style_color == 'green' %}
    <div class="bg-primary text-center py-13 py-lg-16">
        {% if section.settings.text != blank %}
            {{ section.settings.text 
            | replace: '<p>', '<span class="fs-20 fw-500 ">' 
            | replace: '</p>', '</span>' }}
        {% endif %}
    </div>
{% elsif section.settings.style_color == 'light_green' %}
    <div class="bg-primary text-center fs-20 py-13 py-lg-16 fw-500">
        {% if section.settings.text != blank %}
            {{ section.settings.text 
            | replace: '<p>', '<span class="d-none d-lg-block">' 
            | replace: '</p>', '</span>' }}
        {% endif %}
        {% if section.settings.text_mobile != blank %}
            {{ section.settings.text_mobile 
            | replace: '<p>', '<span class="d-block d-lg-none fw-600 fs-16">' 
            | replace: '</p>', '</span>' }}
        {% endif %}
    </div>
{% elsif section.settings.style_color == 'black' %}
    <div class="bg-black text-white text-center fs-20 py-16">
        {% if section.settings.text != blank %}
            {{ section.settings.text | replace: '<p>', '' | replace: '</p>', '' }}
        {% endif %}
    </div>
{% endif %}


{% schema %}
{
"name": "t:sections.stock-alert.name",
"settings": [
    {
    "type": "richtext",
    "id": "text",
    "label": "t:common.text"
    },
    {
        "type": "richtext",
        "id": "text_mobile",
        "label": "t:common.text-mobile"
    },
    {
    "type": "select",
    "id": "style_color",
    "label": "t:common.style-color",
    "options": [
        {
        "value": "green",
        "label": "t:common.green"
        },
        {
          "value": "light_green",
          "label": "t:common.light-green"
        },
        {
        "value": "black",
        "label": "t:common.black"
        }
    ]
    }
],
"presets": [
    {
    "name": "t:sections.stock-alert.name"
    }
]
}
{% endschema %}