/* @font-face {
  font-family: "TT Commons Pro";
  src: url("https://cdn.shopify.com/s/files/1/0441/1431/3365/files/tt_commons_pro_regular.otf?v=1758812260")
    format("otf");
} */
/*============================ Announcement Bar =========================================*/
@media (max-width: 991px) {
  :root {
    --height-bar: 32px !important;
  }
}
.announcement-bar-rotating {
  background: var(--White, #fff);
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 9;
  white-space: nowrap;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.announcement-bar-rotating .announcement-container {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.announcement-bar-content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-family: "TT Commons";
  font-size: var(--Size-16, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  height: 100%;
}

.announcement-bar-content span,
.announcement-bar-content strong {
  color: #000;
}

.announcement-bar-content .announcement-bar-link {
  display: flex;
  margin: 0 40px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.announcement-bar-content .announcement-bar-link:not([href]) {
  cursor: default !important;
}

.announcement-bar-rotating strong {
  font-weight: 700;
}
.announcement-bar-rotating .splide__arrow svg {
  fill: none;
  height: 10px;
  width: auto;
}

.announcement-bar-rotating .arrow-icon-left {
  transform: rotate(180deg);
}

.announcement-container .splide,
.announcement-container .splide__track {
  height: 100%;
}

.announcement-bar-rotating .arrow:hover {
  opacity: 0.7;
}
.announcement-bar-rotating
  .splide__track--fade
  > .splide__list
  > .splide__slide {
  transition: opacity 100ms cubic-bezier(0.25, 1, 0.5, 1) !important;
}

.announcement-bar-rotating .button {
  display: inline-flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "TT Commons";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 99px;
  background: #ff5429;
  text-decoration: none;
}

.announcement-bar-rotating .splide__arrow {
  fill: transparent;
  height: 100%;
  width: 37px;
  background: white;
  opacity: 1;
}
.announcement-bar-rotating .splide__arrow--next {
  right: 0;
}
.announcement-bar-rotating .splide__arrow--prev {
  left: 0;
}

@media (max-width: 991px) {
  .announcement-bar-content {
    font-size: 12px;
    line-height: 20px;
  }

  .announcement-bar-rotating {
    height: 32px;
  }
  .announcement-bar-rotating .icon {
    width: 14px;
    height: 14px;
  }
  .announcement-carousel {
    height: 100%;
  }

  .announcement-bar-rotating .button {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: "TT Commons";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 99px;
    background: #ff5429;
    text-decoration: none;
  }
  .announcement-bar-rotating .splide__arrow {
    width: 21px;
  }
}

/*============================ Announcement Bar End ====================================== */
