
#cart-dynamic-content .offcanvas-header {
    padding-bottom: 16px;
}

/* gamification homepage */

.gamification-container.gamification-homepage {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 12px 100px;
}


.gamification-container.gamification-homepage .gamification-content {
    padding: 0px;
    border: none;
    margin: 0px;
    max-height: fit-content;
    width: 100%;
}

.gamification-container.gamification-homepage .gamification-threshold-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gamification-container.gamification-homepage endrock-countdown-timer .countdown-item .countdown-value {
    font-size: 20px;
}


.gamification-container.gamification-homepage endrock-countdown-timer .countdown-item .countdown-label {
    font-size: 12px;
}

@media screen and (max-width: 1200px) {
    .gamification-container.gamification-homepage {
        padding: 12px 30px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --height-bar: 75px;
    }

    .gamification-container.gamification-homepage {
        padding: 12px 16px;
    }

    .gamification-container.gamification-homepage .gamification_threshold {
        padding: 3px;
    }

    .gamification-container.gamification-homepage .gamification-content {
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    .gamification-container.gamification-homepage .gamification-threshold-wrapper {
        justify-content: center;
        gap: 12px;
    }

    .gamification-container.gamification-homepage endrock-countdown-timer .countdown-title {
        display: none;
    }

    .gamification-container.gamification-homepage endrock-countdown-timer .countdown-wrapper {
        gap: 8px;
    }

    .gamification-container.gamification-homepage endrock-countdown-timer .countdown-item {
        flex-direction: row;
        column-gap: 4px;
    }

    .gamification-container.gamification-homepage endrock-countdown-timer .countdown-item .countdown-value {
        font-size: 14px;
    }

    .gamification-container.gamification-homepage endrock-countdown-timer .countdown-item .countdown-label {
        display: none;
    }

    .gamification-container.gamification-homepage endrock-countdown-timer .countdown-item .countdown-label--short {
        display: block;
        font-size: 14px;
        font-weight: 400;
    }


    .gamification-threshold-wrapper .gamification-timer-wrapper {
        display: flex;
    }

}

@media screen and (max-width: 400px) {
    .gamification-container.gamification-homepage .gamification_threshold .gamification_threshold__item .gamification_threshold__label {
        font-size: 12px;
    }

    .gamification-container.gamification-homepage endrock-countdown-timer .countdown-wrapper {
        gap: 4px;
    }

}



/* gamification side cart */

.gamification-container {
    padding: 0px 24px;
}

.gamification-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-bottom: 1px solid #DFE0E0;
    padding: 1px 14px 16px 14px;
    margin-bottom: 16px;
}


.gamification-container .gamification-message {
    color: #212428;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "TT Commons";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0px;
    min-width: fit-content;
}

/* Gamification Threshold Item */

.gamification_threshold {
    display: flex;
    border-radius: 100px;
    background: #FFF;
    padding: 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
    min-width: fit-content;
}

.gamification_threshold__items {
    display: flex;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.gamification_threshold__item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 10px;
    border-radius: 100px;
}

.gamification_threshold__item .gamification_threshold__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0.64px solid #8B8C8E;
    background: #F6F6F7;
    padding: 3.2px;
}

.gamification_threshold__item .gamification_threshold__icon img {
    max-width: 9px;
}

.gamification_threshold__item .gamification_threshold__label {
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "TT Commons";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #8B8C8E;
}

/* Completed State */
.gamification_threshold__items--active {
    background: #C6E5DB;
}

.gamification_threshold__item.gamification_threshold__item--completed {
    background: #C6E5DB;
    padding: 4px 4px 4px 10px;
}

.gamification_threshold__item.gamification_threshold__item--completed .gamification_threshold__label {
    color: #000;
}

.gamification_threshold__item.gamification_threshold__item--completed .gamification_threshold__icon {
    border: none;
    padding: 0px;
    width: auto;
    height: auto;
}

.gamification_threshold__item.gamification_threshold__item--completed .gamification_threshold__icon img {
    max-width: 100%;
    width: 16px;
    height: 16px;
}


@media screen and (max-width: 767px) {
    .gamification-container {
        padding: 0px 16px;
    }

    .gamification-content {
        padding: 12px 0 10px 0;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .timer-countdown{
        padding: 12px 16px;
    }

    #cart-dynamic-content .offcanvas-header {
        padding-bottom: 0px;
        padding-top: 16px;
    }
}