.gamification-container.gamification-homepage .timer-countdown{
    padding: 0px;
    background-color: #FFF;
}

.timer-countdown {
    padding: 12px 24px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F7;
}

.countdown-title{
    color: #FF5429;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "TT Commons";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.countdown-wrapper {
    display: flex;
    gap: 12px;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-value {
    color: #FF5429;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.countdown-label {
    color: #FF5429;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "TT Commons";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

.countdown-separator{
    width: 1px;
    height: auto;
    background-color: #FF5429;
}
