body[class="page.qure-micro-infusion-landing-page-b"], body[class="page.qure-microinfusion-offer"] {
    header {
        top: 0px !important;
    }
    .hero-section {
        margin-top: calc(-1 * var(--height-bar)) !important;
    }
    .navigation-mobile {
        top: calc(var(--height-header)) !important;
    }
}
