body[class="page.qure-micro-infusion-landing-page-b"] {
    header {
        top: 0px !important;
    }
    .hero-section {
        margin-top: -25px !important;
    }
    .navigation-mobile {
        top: calc(var(--height-header)) !important;
    }
}