.gift_icon {
    background: #FF5429;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 0 !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy_bundle {
    border-radius: 10px;
    background: var(--Orange-10, #FFEEEA);
    padding: 16px;
    max-width: 500px;
    margin-top: 32px;
}